<div class="card mb-4">
    <div class="card-body">
        <h2>Id: {{ item.productId?item.productId:item.categoryId }}</h2>
        <p>Asociado: {{ item.relationship | statusRelationship }}</p>
        <ng-container *ngIf="!(properties.type === typesEnum.PRODUCTS)">
          <p>C&oacute;digo: {{ item.code | uppercase }}</p>
          <p>Nombre: {{ item.name }}</p>
          <p>Nombre (en): {{ item.nameEn }}</p>
          <p>Descripci&oacute;n: {{ item.description }}</p>
          <p>Descripci&oacute;n (en): {{ item.descriptionEn }}</p>
          <p>Precio: {{ item.price | addZeros }}</p>
          <p>Stock: {{ item.stock }}</p>
          <p>Stock M&iacute;nimo: {{ item.stockMin }}</p>
          <p *ngIf="item.otherDetails">Otros Detalles: {{ item.otherDetails }}</p>
        </ng-container>
        <ng-container *ngIf="(properties.type === typesEnum.PRODUCTS)">
          <p>Nombre: {{ item.name }}</p>
          <p>Nombre (en): {{ item.nameEn }}</p>
          <p>Descripci&oacute;n: {{ item.description }}</p>
          <p>Descripci&oacute;n (en): {{ item.descriptionEn }}</p>
        </ng-container>
        <p>Estado: {{ item.status | status }}</p>
        <p>
          <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
        </p>
    </div>
</div>
