<div class="share">
    <input type="checkbox" id="{{content_id}}" class="share__toggle" hidden>
    <label for="{{content_id}}" class="share__button">
        <i class="mdi mdi-share-variant "></i>
    </label>
    <a target="_blank" href="http://www.facebook.com/sharer.php?u={{link}}"
        class="share__icon share__icon--facebook">
        <i class="mdi mdi-facebook color-white"></i>
    </a>
    <a target="_blank" href="https://api.whatsapp.com/send?text={{link}}"
        class="share__icon share__icon--whatsapp">
        <i class="mdi mdi-whatsapp color-white"></i>
    </a>
    <a target="_blank" href="https://twitter.com/share?url={{link}}"
        class="share__icon share__icon--twitter">
        <i class="mdi mdi-twitter color-white"></i>
    </a>
</div>