<div class="card">
  <div class="card-body">
      <div class="card-title">Payment Form #01</div>
      <div class="ul-widget-list__payment-method mb-3"><img src="../../dist-assets/images/master-card.png" style="width: 50px" alt="" srcset="" /><img src="../../dist-assets/images/visa.png" style="width: 50px" alt="" srcset="" /><img src="../../dist-assets/images/paypal.png" style="width: 50px" alt="" srcset="" /></div>
      <p class="alert alert-success">Some text success or error</p>
      <div class="ul-widget__payment-form">
          <form action="#">
              <div class="card-body">
                  <div class="form-row">
                      <div class="form-group col-md-12">
                          <label class="ul-form__label" for="inputEmail4">Full Name:</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="i-Male-21 text-18"></i></span></div>
                              <input class="form-control" type="text" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
                          </div><small class="ul-form__text form-text" id="passwordHelpBlock">Some help content goes here</small>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-12">
                          <label class="ul-form__label" for="inputEmail4">Card Number:</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="i-Credit-Card-2 text-18"></i></span></div>
                              <input class="form-control" type="text" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-8">
                          <div class="form-group">
                              <label><span>Expiration</span></label>
                              <div class="form-inline">
                                  <select class="form-control" style="width:45%">
                                      <option>Month</option>
                                      <option>01 - Janiary</option>
                                      <option>02 - February</option>
                                      <option>03 - February</option>
                                      <option>04 - march</option>
                                  </select><span class="text-center" style="width:10%">/</span>
                                  <select class="form-control" style="width:45%">
                                      <option>Year</option>
                                      <option>2018</option>
                                      <option>2019</option>
                                      <option>2020</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class="font-weight-700 text-dark" data-toggle="tooltip" data-placement="top" title="" data-original-title="6 digits code on back side of the card">CVV</label>
                              <input class="form-control" required="" type="text" />
                          </div>
                      </div>
                  </div>
                  <button class="btn btn-first btn-block m-1 mb-3" type="button">Confirm</button>
              </div>
          </form>
      </div>
  </div>
</div>
