
#STORE-DASHBOARD-CATEGORIAS #addModal .popover-body{

padding:0px;
}

#STORE-DASHBOARD-CATEGORIAS #cardCategory .sortable-buttons{
display: none;
}

#STORE-DASHBOARD-CATEGORIAS #cardCategory  .sortable-list{
    display: table
}
#STORE-DASHBOARD-CATEGORIAS #cardCategory  .sortable-list-item{
    display: flex;
    justify-content: space-between;
}