 #PRODUCTO-STORE .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
   width: 14px;
 }

 #PRODUCTO-STORE .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
   width: 14px;
 }


 .img-magnifier-container {
   position: relative;
 }

 .img-magnifier-glass {
   position: absolute;
   border: 3px solid #000;
   border-radius: 50%;
   cursor: none;
   /*Set the size of the magnifier glass:*/
   width: 100px;
   height: 100px;
 }


 .cards-store-product {
   width: 85% !important;
   max-height: 145px;
   max-width: 145px;
 }

 .cards-store-product-2 {
   width: 100% !important;
   max-height: 125px;
   max-width: 195px;
 }

 .vm {
   /*border-style: solid;*/
   border-width: 2px;
   border-radius: 5px;
   font-size: 12px;
   margin-top: 0.3rem;
 }

 .card-img-store {
   max-height: 650px;
   object-fit: contain;
 }

 .badge-discount-store {
   font-size: 1rem;
   position: absolute;
   right: 1rem;
   bottom: 1rem;
 }

 .font-size-12px {
   font-size: 1.2rem;
 }

 .store-cart-product button {
   margin-bottom: 1rem;
 }

 .store-cart-product input {
   margin-top: 1.5rem;
 }

 @media (max-width: 575px) {
   .store-cart-product-unavailable {
     display: none;
   }

   .store-cart-product {
     position: fixed;
     bottom: 0;
     z-index: 100;
     background: var(--theme_color_first);
     padding-left: 5%;
     padding-right: 5%;
     display: flex;
     flex-direction: column;
     padding-top: 0.5em;
   }

   .store-cart-product button {
     margin-bottom: 0rem;
     margin-top: 1.5rem;
     max-width: 135px;
   }

   .store-cart-product input,
   .store-cart-product button {
     height: 35px !important;
     margin-top: 0px !important;
   }

   /*.store-cart-product.alert-success:not(.d-none){
    padding-bottom:1rem ;
  }*/
   .footer-store-default-product {
     margin-bottom: 20vh;
     display: block;
   }

   .carrito-enabled-product .carrito-enabled-product-content {
     display: flex;
     flex-direction: row;
   }

   .carrito-disabled-product {
     display: flex;
     flex-direction: row;
   }

   .store-cart-tags-p {
     margin-top: 0 !important;
   }
 }

 .product-card-ecommerce-agotado {
   color: white;
   font-weight: 700;
   line-height: 18px;
   display: inline-block;
   padding: 8px 35px 10px;
   background: var(--theme_color_danger);
   border: 1px solid var(--theme_color_danger);
   margin: 0px;
   transform: rotate(8deg);
   margin-top: 0px;
   font-size: 1.2rem;
   right: 0;
   z-index: 9;
   top: 45px;
   position: absolute;
   margin-left: 10%;
   margin-right: 10%;
 }

 .tag {
   border-style: solid;
   border-width: 2px;
   border-color: var(--theme_color_first);
 }

 .rounded {
   border-style: solid;
   border-radius: 15px !important;
   border-width: 1px;
 }

 .rounded-circle-color {
   display: inline-block;
   border-radius: 35px;
   width: 35px;
   height: 35px;
 }
