<div class="row">

    <app-top-bar-default style="width: 100%;" [stores_celphone]='store?.stores_celphone' [stores_email]='store?.stores_email' [stores_whatsapp]='store?.stores_whatsapp' [stores_id]='store?.stores_id' [stores_image]='store?.stores_image' [stores_name]='store?.stores_name'
        [stores_facebook]='store?.stores_facebook' [stores_instagram]='store?.stores_instagram' [stores_uri]='store?.stores_uri' [type]="1" [price]="precioTotal" [dropDownType]="getType()"></app-top-bar-default>
</div>
<div class="container">
    <div class="col-lg-12 pr-0 pl-0 col-md-12 col-sm-12 col-12 ">
        <app-header-default [theme_color_primary]='store?.store_customizer_bootstrap[0].theme_color_primary' [stores_uri]='store?.stores_uri' [stores_image_url]='getImagePrincipal()' [stores_name]='store?.stores_name' [stores_user_like]='store?.stores_user_like'
            [stores_user_follow]='store?.stores_user_follow' [store_address_google_maps]='store_address_google_maps' [stores_address]='store?.stores_address' [hours]='store?.hours' [stores_description]='store?.stores_description' [stores_nickname]='store?.stores_nickname'
            [stores_celphone]='store?.stores_celphone' [stores_email]='store?.stores_email' [stores_whatsapp]='store?.stores_whatsapp' [stores_facebook]='store?.stores_facebook' [stores_instagram]='store?.stores_instagram' [stores_collect]='store?.stores_collect'
            [stores_delivery]='store?.stores_delivery' [stores_coverage]='store?.stores_coverage' [stores_despatch_time]='store?.stores_despatch_time'>

        </app-header-default>
    </div>
    <div class="row view-content pb-5 mt-5" id="PRODUCTO-STORE">
        <div class="col-sm-7 col-md-7 col-lg-8 col-12 mt-3 mb-3">
            <h2 class="card-title text-center font-weight-bold "> {{product?.products_name}}</h2>
            <div class="p-0 col-12">
                <p *ngIf="product?.products_unavailable==0" class="product-card-ecommerce-agotado">Agotado</p>

                <app-heart-default [heart]="product?.products_heart" [content_id]='"hover-icon-heart-vertical-"+product?.products_id' [product_id]='product?.products_id' [fontSize]='"2.2rem"'></app-heart-default>
                <app-share-default [link]='product?.products_facebook' [content_id]='"toggle-product-0"'>
                </app-share-default>

                <div *ngIf="product?.product_images.length >= 2">
                    <owl-carousel-o [options]="customOptions" #owl (changed)="getData($event)" (initialized)="getPassedData($event,owl)">
                        <ng-template carouselSlide *ngFor="let im of product?.product_images;  let j= index" id="owl-slide-{{product?.products_id}}-{{j}}">
                            <img class="d-block w-100 slider-img-store card-img boder-card-ecoommerce-image-style img-card-ecoommerce-image-style c" src="{{getImageProduct(im.image)}}" alt="">
                        </ng-template>
                    </owl-carousel-o>
                </div>

                <img class="card-img-top card-img-store border-top-15" *ngIf="product?.product_images.length == 1" src="{{getImageProduct(product?.product_images[0].image)}}">


                <section class="product-box relative activity-header mt-4">
                    <div class="" [innerHTML]="product?.products_description_html |  sanitizeHtml"></div>
                </section>
                <div class="content-comments">
                    <hr>
                    <h3 class="border-gray pb-2 mb-0">Comentarios</h3>

                    <div class="row">
                        <div class="col-12  mb-2">
                            <input type="text" name="name" [ngClass]="{'d-none':user!=null}" [value]="user!=null?( user?.name):''" #nameComment class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12  mb-2">
                            <input type="text" name="email" [ngClass]="{'d-none':user!=null}" [value]="user!=null?( user?.email):''" #emailComment class="form-control" placeholder="Correo">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12  mb-2">
                            <input type="text" name="celphone" [ngClass]="{'d-none':user!=null}" [value]="user!=null?( user?.celphone):''" #celphoneComment class="form-control" placeholder="Celular">
                        </div>
                        <div class="col-12  mb-2">
                            <textarea name="comment" #textComment class="form-control" placeholder="Comentario"></textarea>
                        </div>
                        <div class="col-12  ">
                            <button class="btn btn-first  btn-sm" style="border-radius: 15px;" (click)="addComment()">Agregar comentario</button>
                        </div>
                    </div>

                    <div>
                        <div class="my-3 p-3  bg-white rounded box-shadow">
                            <h6 class="border-bottom border-gray pb-2 mb-0">Comentarios Recientes</h6>
                            <!--inicio-->

                            <div *ngIf="comments.length==0" class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="media text-muted   d-flex flex-column " *ngFor="let item of comments let i= index">
                                <!--[ngClass]="{'pt-3': i === 0}"-->

                                <p class="media-body pb-3 pt-2 w-100 mb-0 small lh-125  border-gray">
                                    <strong class="d-block text-gray-dark">{{item.name}} - {{item.email}}</strong> {{item.comment}}
                                </p>
                                <p *ngIf="item.response!=null&&item.response!=''" class="media-body pb-3 w-100 mb-0  pl-5 small lh-125  border-gray">
                                    <strong class="d-block text-gray-dark">Respuesta:</strong> {{item.response}}
                                </p>
                                <div class="border-bottom w-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-sm-5 col-md-5 pt-4 col-lg-4 ">
            <div class="row">
                <div class="col-12 ">

                    <div class="col-lg-12  card-text d-flex mb-3 justify-content-between align-items-center" style="font-size: 1.4rem;">
                        <div class="font-weight-bold">
                            {{product?.product_type_sale_stock}} Unid. disponibles
                        </div>
                        <div class="font-weight-bold sr-only">
                            S/{{product?.product_type_sale_price}} {{product?.product_type_sale_type}}.
                        </div>
                    </div>
                    <div class="col-lg-12 border-0 alert alert-first" style="border-radius: 15px;">
                        <span *ngIf="product?.product_type_sale_discount>0&&product?.product_type_sale_discount!=null" class="badge badge-pill pt-2 pb-2  badge-second badge-discount-store">
                            {{product?.product_type_sale_discount}}
                            <i class="mdi mdi-percent"></i> dsct
                        </span>
                        <h2>COMPRA EN LINEA <br>S/{{product?.product_type_sale_price}} {{product?.product_type_sale_type}}.
                        </h2>
                    </div>
                    <div class="mb-3">{{product?.products_description}}</div>
                    <div class="spinner-store-block-white" id="PRELOAD-STORE-PRODUCT" [style.background]="'#fff'" hidden>
                    </div>
                    <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" class="border-input alert-bold-cart">
                        ¡Añadido Exitosamente!
                    </ngb-alert>
                </div>
                <!--store-cart-product-->
                <div class="col-12 " [ngClass]="{'store-cart-product-unavailable':product?.products_unavailable==0}">
                    <p class="mb-0 mt-0 ng-star-inserted" style="color: var(--theme_color_background_text);">Opciones:</p>
                    <div *ngIf="product?.products_images_tag_visible==1&&product?.product_images.length >= 2" class="mb-0 text-left mb-3 card-body-content-ecommerce-image pb-0">
                        <div class="btn-group">
                            <div *ngFor="let im of product?.product_images;  let k= index" class="  p-0 pr-1" [ngClass]="{'btn btn-first':im.type==0,'':im.type==1}">
                                <label for="tag{{product?.products_id}}{{k}}t" class="mb-0 ml-3 pl-1 pr-1 d-flex justify-content-center align-items-center" *ngIf="im.type==0">
                                    <input type="radio" class="mt-0"  id="tag{{product?.products_id}}{{k}}t" name="tag{{product?.products_id}}b" (change)="goSlide(k,$event)" [value]="im.description" [checked]="(k==0)?true:false" ><!--[ngClass]="'btn-first':"-->
                                    <span class="ml-2"> {{im.description}}</span>
                                </label>
                                <label for="tag{{product?.products_id}}{{k}}t" class="mb-0 ml-3 pl-1 pr-1  d-flex justify-content-center align-items-center text-center position-relative" *ngIf="im.type==1">
                                    <input type="radio" id="tag{{product?.products_id}}{{k}}t"  style="z-index: 9;" name="tag{{product?.products_id}}b" (change)="goSlide(k,$event)" [value]="im.description" [checked]="(k==0)?true:false" ><!--[ngClass]="'btn-first':"-->
                                    <span class=" rounded-circle-color  position-absolute" [attr.style]="'background:'+im.description"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="splitTags.length>0" class="mb-0 mt-2 card-body-content-ecommerce-image pb-0 text-left ">
                        <p class="mb-0 mt-2 store-cart-tags-p" *ngIf="product?.products_tag_name!=''&&product?.products_tag_name!=null" style="color: var(--theme_color_background_text);">{{product?.products_tag_name}}</p>
                        <div class="btn-group">
                            <label for="tag{{product?.products_id}}{{k}}" class="mb-0  p-1 d-flex justify-content-center align-items-center btn-sm  btn-outline-first tag" *ngFor="let tag of splitTags;  let k= index"><!--shadow-sm -->
                            <input type="radio" class="mt-0" id="tag{{product?.products_id}}{{k}}" name="tag{{product?.products_id}}" [value]="tag" [checked]="(k==0)?true:false" >
                            <span class="ml-2">{{tag}}</span>
                        </label>
                        </div>
                    </div>
                    <div class="carrito-disabled-product">
                        <input *ngIf="product?.products_unavailable==0" class="form-control input-cantidad-store border-input mr-2  mt-3 text-center mb-3" type="number" placeholder="Cantidad" disabled>
                        <button *ngIf="product?.products_unavailable==0" class="btn btn-success-2 mt-3 border-input btn-block" disabled>
                           Añadir al carrito
                       </button>

                    </div>
                    <div class="carrito-enabled-product">
                        <div class="">
                            <!--carrito-enabled-product-content-->
                            <input *ngIf="product?.products_unavailable==1" class="form-control input-cantidad-store border-input mr-2  mt-3 text-center mb-3" id='input-product-{{product?.products_id}}' type="number" placeholder="Cantidad">
                            <button *ngIf="product?.products_unavailable==1" id="submit_calendar_side" class="btn btn-success-2  mt-3 border-input btn-block" (click)="addCart()">
                                <i id='spinner-product-{{product?.products_id}}-i' class="fa fa-spinner fa-spin d-none"></i>
                                Añadir al
                                carrito
                            </button>
                        </div>
                        <div role="alert" class="alert d-none mt-3 text-center mb-3 alert-success alert-success-check" id='alert-product-{{product?.products_id}}'>
                            <i class="fas fa-check"></i> ¡Agregado al carrito!
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="widget no-padding hidden-xs hidden-sm ">
                        <h4 class="widget-box__title pt-4">
                            MÉTODOS DE PAGO
                            <hr>
                        </h4>

                        <h6 *ngIf="pagoEfectivo==1" class="widget-box__title pt-4">
                            Aceptamos
                        </h6>
                        <div class="d-flex items-center flex-wrap mt3">
                            <div *ngFor="let item of store?.payment_card; let i=index">
                                <div *ngIf="item.type==0" class="pl-3 pr-4 pt-0 pb-1 mt-0 m-auto w-50 cards-store-product-2">
                                    <img *ngFor="let cd of item.payment; let i=index" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" class="w-100">
                                </div>
                            </div>
                        </div>

                        <h6 *ngIf="pagoTransferencia==1" class="widget-box__title pt-4">
                            Pagos con Transferencia
                        </h6>
                        <div class="d-flex items-center flex-wrap mt3">
                            <div *ngFor="let item of store?.payment_card; let i=index" class="d-flex">
                                <div *ngIf="item.type==1" class="pl-3 pr-4 pt-0 pb-1 mt-0 m-auto w-50 cards-store-product">
                                    <img *ngFor="let cd of item.card; let i=index" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" class="w-100">
                                    <p class="d-flex pr-1 pl-1 vm">
                                        <span *ngIf="item.visa==1&& item.mastercard==0">Visa</span>
                                        <span *ngIf="item.visa==1 && item.mastercard==1">Visa y Mastercard</span>
                                        <span *ngIf="item.visa==0&& item.mastercard==1">Mastercard</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <h6 *ngIf="pagoAppBanco==1" class="widget-box__title pt-4">
                            Pagos con Aplicaciones
                        </h6>
                        <div class="d-flex items-center flex-wrap mt3">
                            <div *ngFor="let item of store?.payment_card; let i=index">
                                <div *ngIf="item.type==2" class="pl-3 pr-4 pt-0 pb-1 mt-0 m-auto w-50 cards-store-product">
                                    <img *ngFor="let cd of item.payment; let i=index" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" class="w-100">
                                </div>
                            </div>
                        </div>

                        <h6 *ngIf="pagoOtroMetodoPago==1" class="widget-box__title pt-4">
                            También Aceptamos
                        </h6>
                        <div class="d-flex items-center flex-wrap mt3">
                            <div *ngFor="let item of store?.payment_card; let i=index" class="d-flex">
                                <div *ngIf="item.type==3" class="pl-3 pr-4 pt-0 pb-1 mt-0 m-auto w-50 cards-store-product">
                                    <img *ngFor="let cd of item.payment; let i=index" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" class="w-100">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="widget no-padding hidden-xs hidden-sm ">
                        <h4 class="widget-box__title pt-4">
                            Información adicional
                            <hr>
                        </h4>

                        <div class="widget-box__contact">
                            <p style="font-size: 1.2rem;" *ngIf="store?.stores_collect!=''&&store?.stores_collect!=null&&store?.stores_collect!='NO'" class="mb-2  mt-2 font-weight-bold">
                                <i class="mdi mdi-store pr-2"></i>
                                <span class="">REALIZA </span>
                                <span class="color-yellow">RECOJO EN TIENDA</span>
                            </p>
                            <p style="font-size: 1.2rem;" *ngIf="store?.stores_delivery!=''&&store?.stores_delivery!=null&&store?.stores_delivery!='NO'" class="mb-2  font-weight-bold">
                                <i class="mdi mdi-truck-delivery pr-2"></i>
                                <span class="">REALIZA </span>
                                <span class="color-yellow">DELIVERY</span>
                            </p>

                            <p style="font-size: 1.2rem;" *ngIf="store?.stores_coverage!=''&&store?.stores_coverage!=null" class="mb-2  font-weight-bold">
                                <i class="mdi mdi-timer pr-2"></i>
                                <span class="">TIEMPO DE VERIFICACIÓN DE COMPRAS </span>
                                <span class="color-yellow">{{store?.stores_coverage}}</span>
                            </p>
                        </div>
                    </div>

                    <div class="widget no-padding hidden-xs hidden-sm">
                        <h4 class="widget-box__title pt-4">
                            Soporte Online
                            <hr>
                        </h4>

                        <div class="widget-box__contact">
                            <ul class="pl-0">
                                <ul class="text-center mb-2 pl-0" style="list-style:none">
                                    <li style="font-size: 1.4rem;">Celular</li>
                                    <li>
                                        <a href="tel:(51) {{store?.stores_celphone}}" class="font-weight-bold ml-2 color-black" style="font-size: 1rem;">+51
                                            {{store?.stores_celphone}}</a>
                                    </li>
                                </ul>
                                <ul class="text-center mb-2 pl-0" style="list-style:none">
                                    <li style="font-size: 1.4rem;">Facebook</li>
                                    <li>
                                        <a href="{{store?.stores_facebook}}" target="_blank" class="font-weight-bold ml-2 color-black" style="font-size: 1rem;">{{store?.stores_facebook}}</a>
                                    </li>
                                </ul>
                                <ul class="text-center mb-2 pl-0" style="list-style:none">
                                    <li style="font-size: 1.4rem;">Correo</li>
                                    <li>
                                        <a href="mailto:{{store?.stores_email}}" class="font-weight-bold
                                            ml-2 color-black" style="font-size: 1rem;">{{store?.stores_email}}</a>
                                    </li>
                                </ul>
                                <ul class="text-center mb-2 pl-0" style="list-style:none">
                                    <li style="font-size: 1.4rem;">Whatsapp</li>
                                    <li>
                                        <a href="https://api.whatsapp.com/send?phone=51{{store?.stores_whatsapp}}" target="_blank" class="font-weight-bold ml-2
                                            color-black" style="font-size: 1rem;">Escríbenos por
                                            WhatsApp: +51 {{store?.stores_whatsapp}}</a>
                                    </li>
                                </ul>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </aside>

        <div class="cart-product-global">

        </div>
    </div>
</div>
<app-footer-store-default class="footer-store-default-product" [textWhatsapp]="store?.stores_name" [phoneWhatsapp]="store?.stores_whatsapp" [image]="getImagePrincipal()" [store]="store?.stores_name">
</app-footer-store-default>