<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>ID</th>
              <th>Tipo</th>
              <th>Código</th>
              <th>Identificador de Grupo</th>
              <th>Descripción</th>
              <th>Valor</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data" >
              <tr>
                  <td>{{ item.productParameterId }}</td>
                  <td>{{ item.parameterParent.code }}</td>
                  <td>{{ item.parameter.code }}</td>
                  <td>{{ item.parameter.groupId | emptyText }}</td>
                  <td>{{ item.parameter.description | truncateText }}</td>
                  <td>{{ item.parameter.value | truncateText }}</td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td COLSPAN=6>
              Aun no se a agregado ningun registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
