
<div>
    <form [formGroup]="itemForm" (ngSubmit)="add()">
      <h2>Agregar</h2>
      <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="visitedPage">Página Visitada:</label>
                <input type="text" class="form-control" id="visitedPage" maxlength="250" formControlName="visitedPage">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="visitedDate">Fecha Visitada (YYYY-MM-DD):</label>
                <input type="text" class="form-control" id="visitedDate" formControlName="visitedDate" maxlength="10" appDateFormat>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
              <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Agregar</button>
              <button class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
            </div>
        </div>
      </div>
      <ng-container *ngIf="!itemForm.valid">
        <p>¡Registro No Valido!</p>
      </ng-container>
    </form>
</div>
