<div class="container ">
  <div class="form-row align-items-center">
    <div class="col-md-9">
      <div class="input-group mb-4 mt-4">
        <div class="input-group-prepend">
          <div class="input-group-text">{{ 'ecommerce.common.productSearch' | translate }}</div>
        </div>
        <input
          [(ngModel)]="searchText"
          class="form-control"
          [placeholder]="'ecommerce.common.searchByProductName' | translate"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class=" mb-4 mt-4">
        <select class="form-control" [(ngModel)]="sortOption" title="Sort Options">
          <option value="product_name|asc"
            >{{ 'ecommerce.common.orderByNameAZ' | translate }}</option
          >
          <option value="product_name|desc"
            >{{ 'ecommerce.common.orderByNameZA' | translate }}</option
          >
          <option value="product_price|lth"
            >{{ 'ecommerce.common.orderByPriceLH' | translate }}</option
          >
          <option value="product_price|htl"
            >{{ 'ecommerce.common.orderByPriceHL' | translate }}</option
          >
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <swtvap-product-list
        (refresh)="ref($event)"
        (onProduct)="goToProduct($event)"
        [allProductList]="products"
        [searchedText]="searchText"
        [sortingBy]="sortOption"
      ></swtvap-product-list>
    </div>
    <div class="col-md-5">
      <swtvap-cart-add *ngIf="cartflag" [showProduct]="true" (onCheckOut)="checkout($event)"></swtvap-cart-add>
    </div>
  </div>
</div>