.border-product-card{
    border-color: transparent;
    border-style: solid;
    border-radius: 15px;
}/*
.border-product-img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}*/
