<div class="card mb-4">
    <div class="card-body">
        <h2>Id: {{ item.orderAmountId }}</h2>
        <p>Nombre: {{ item.name }}</p>
        <p *ngIf="item.amount">Monto en Soles: S/{{ item.amount | addZeros  }}</p>
        <p *ngIf="item.amountUSD">Monto en D&oacute;lares: $/{{ item.amountUSD | addZeros: 4 }}</p>
        <p *ngIf="item.amountEUR">Monto en Euros: €/{{ item.amountEUR | addZeros }}</p>
        <p *ngIf="item.otherDetails">Otros Detalles: {{ item.otherDetails | emptyText }}</p>
        <p>
          <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
        </p>
    </div>
</div>
