<main class="row login-default m-0">
    <section class="col-md-6 pr-0 pl-0 panel-left " id="panel-left">
        <div class=" align-self-center"><!--container-->
        <ngb-carousel ><!--[showNavigationIndicators]="false"-->
            <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="'./assets/images/rutas/login/01.jpg'" class="carousel-item-img background-repeat position-relative" alt="Random first slide">

                        <img [src]="'./assets/images/rutas/login/01.jpg'" class="carousel-item-img background-repeat-no" alt="Random first slide">

                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="'./assets/images/rutas/login/02.jpg'" class="carousel-item-img background-repeat position-relative" alt="Random second slide">

                        <img [src]="'./assets/images/rutas/login/02.jpg'" class="carousel-item-img background-repeat-no" alt="Random first slide">

                    </div>

                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">

                    <img [src]="'./assets/images/rutas/login/03.jpg'" class="carousel-item-img  background-repeat position-relative" alt="Random third slide">
                    <img [src]="'./assets/images/rutas/login/03.jpg'" class="carousel-item-img background-repeat-no" alt="Random first slide">

                </div>
            </ng-template>
        </ngb-carousel>
        </div>
    </section>

    <section class="col-md-6 panel-right" id="panel-right">
        <div class="container d-flex flex-column justify-content-between" style="height: 100vh;">
            <div class="row">
                <div class="col-12">
                    <img class="logo-img" src="../../../../assets/images/rutas/login/snapstore.png">
                </div>
            </div>
            <div class="row">
                <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()" appIdentityRevealed class="col-12 col-md-8 offset-md-2">
                    <div class="spinner-block-white" id="PRELOAD-FORGOT-PASSWORD" [hidden]="!forgotPasswordForm.submitted">

                     </div>
                     <div><!--[hidden]="signUpForm.submitted"-->
                         <div class="cross-validation" [class.cross-validation-error]="forgotPasswordForm.errors?.identityRevealed
                         && (forgotPasswordForm.touched || forgotPasswordForm.dirty)">

                             <div class="row mb-5">
                                <h2 class="col-12 text-center">Recuperar Contraseña de Usuario</h2>
                            </div>
                             <div class="input-group border-input-group-prepend mb-3">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">
                                      <span class="mdi mdi-email-outline "></span>
                                    </div>
                                </div>
                                <input type="email" appForbiddenName="bob"
                                [(ngModel)]="user.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control border-input-left input-middle-prepend" name="email" id="email"
                                    placeholder="Correo electr&oacute;nico" required>
                            </div>

                             <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger alert-invalid-dirty">
                                 Correo electr&oacute;nico ingresado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                             </div>

                            <div class="row mt-3">
                                <div class="col-6 links text-center">
                                    <div class="form-group text-center  pt-0 mb-0 ">
                                        <button type="submit" [disabled]="forgotPasswordForm.invalid"  class="btn btn-first btn-block border-input">Recuperar contraseña</button>
                                    </div>
                                </div>
                                <div class="col-6 links text-center d-flex align-items-center justify-content-center">
                                    <div>
                                        <a href="javascript:void(0);" class="font-size-link" (click)="signUp($event)" >Crear cuenta</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 links text-center">
                                    <div>
                                        <a href="javascript:void(0);" class="font-size-link"   (click)="login($event)"  style="text-decoration: underline;">¡Ya tengo cuenta!</a>
                                    </div>
                                </div>
                            </div>
                         </div>
                     </div>
                 </form>

            </div>

            <div class="d-flex justify-content-between">
                <p class="small">©2024 Sumac Chasca Per&uacute; S.A.C.</p>
                <ul class="list-unstyle list-inline">
                    <li class="list-inline-item small">
                        <a target="_blank" href="https://api.whatsapp.com/send?phone={{phoneWhatsapp}}&text={{textWhatsapp}}">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
