<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of categories">
    <thead>
        <tr>
            <th>ID</th>
            <th>Asociado</th>
            <ng-container *ngIf="!(properties.type === typesEnum.PRODUCTS)">
              <th>C&oacute;digo</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Stock M&iacute;nimo</th>
            </ng-container>
            <ng-container *ngIf="(properties.type === typesEnum.PRODUCTS)">
              <th>Nombre</th>
            </ng-container>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
          <tr *ngFor="let item of data" >
              <td>{{item.categoryId? item.categoryId  : item.productId  }}</td>
              <td>{{ item.relationship | statusRelationship }}</td>
              <ng-container *ngIf="!(properties.type === typesEnum.PRODUCTS)">
                <td>{{ item.code | uppercase }}</td>
                <td>{{ item.name }}</td>
                <td class="text-left">
                  <span *ngIf="item.price">S/{{ item.price | addZeros }}</span><br/>
                  <span *ngIf="item.priceUSD">$/{{ item.priceUSD | addZeros }}</span><br/>
                  <span *ngIf="item.priceEUR">€/{{ item.priceEUR | addZeros }}</span>
                </td>
                <td>{{ item.stock }}</td>
                <td>{{ item.stockMin }}</td>
              </ng-container>
              <ng-container *ngIf="(properties.type === typesEnum.PRODUCTS)">
                <td>{{ item.name }}</td>
              </ng-container>
              <td>{{ item.status | status }}</td>
              <td>
                <div class="d-flex flex-column align-items-center">
                  <button type="button" *ngIf="!item.relationship" class=" btn btn-first font-16px" (click)="add(item)">Asociar</button>
                  <button type="button" *ngIf="item.relationship" class=" btn btn-danger-2 font-16px" (click)="delete(item)">Eliminar</button>
                  <button type="button" class=" btn btn-success-2 font-16px" (click)="show(item)">Mostrar</button>
                </div>
              </td>
          </tr>
      <tr *ngIf="!data.length">
        <td COLSPAN=5>
            Aun no se a agregado ningun registro
        </td>
      </tr>
    </tbody>
  </table>
</div>
