<div *ngIf="data.length" class="table-responsive" appPagination [positions]="[2,1]" [search]="searchTerm">
  <input type="text" [(ngModel)]="searchTerm" class="form-control mb-3 app-pagination-input-search" placeholder="Buscar por nombre o por c&oacute;digo...">
  <table class="table table-bordered text-center" aria-label="Table of catalogs">
      <thead>
          <tr>
              <th>#</th>
              <th>C&oacute;digo</th>
              <th>Nombre</th>
              <th>Categor&iacute;as Asignadas</th>
              <th>Estado</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index">
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>{{ item.code | uppercase }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    <button type="button" class=" btn btn-outline-first btn-sm font-14px" (click)="addCategoryCatalogs(item)">
                      <span class="mr-2">({{ item.categories?item.categories.length:0 }} Categor&iacute;as)</span>{{!item.deletedAt?'Agregar':''}}
                    </button>
                  </td>
                  <td>{{ item.status | status }}</td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button type="button" class=" btn btn-success-2 font-16px" (click)="show(item)" appScrollOnClick>Mostrar</button>
                      <button *ngIf="!item.deletedAt" type="button" class=" btn btn-first font-16px" (click)="update(item)" appScrollOnClick>Actualizar</button>
                      <button *ngIf="!item.deletedAt" type="button" class=" btn btn-danger-2 font-16px" (click)="delete(item)">Eliminar</button>
                      <span *ngIf="item.deletedAt" class="badge badge-danger font-16px">ELIMINADO</span>
                    </div>
                  </td>
              </tr>
          </ng-container>
          <ng-container *ngIf="!data.length">
            <ng-container *ngTemplateOutlet="showNgTemplateContent"></ng-container>
          </ng-container>
      </tbody>
  </table>
</div>
<ng-template #showNgTemplateContent>
  <tr *ngIf="!data.length">
    <td colspan=6>
        A&uacute;n no se ha agregado ning&uacute;n registro
    </td>
  </tr>
</ng-template>
