
<div>
    <form [formGroup]="itemForm" (ngSubmit)="add()">
      <h2>Agregar</h2>
      <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" formControlName="name" maxlength="200">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="code">C&oacute;digo:</label>
                <input type="text" class="form-control" id="code" placeholder="Ejemplo: CATALOG-00000001" formControlName="code" maxlength="50" appUppercase>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="description">Descripci&oacute;n:</label>
                <textarea rows="3" class="form-control" id="description" formControlName="description">
                </textarea>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
                <label for="lang">Asignar a idioma:</label>
                <select class="form-control" id="lang" formControlName="lang">
                    <option value="ES">Espa&ntilde;ol</option>
                    <option value="EN">Ingles</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
                <label for="status">Estado:</label>
                <select class="form-control" id="status" formControlName="status">
                    <option value="INACTIVE">Inactivo</option>
                    <option value="ACTIVE">Activo</option>
                    <option value="HIDDEN">Oculto</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
              <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Agregar</button>
              <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
            </div>
        </div>
      </div>
      <ng-container *ngIf="!itemForm.valid">
        <p>¡Registro No Valido!</p>
      </ng-container>
    </form>
</div>
