<div class="app-footer">
    <div class="row">
        <div class="col-md-9">
            <p><strong>{{FooterTitulo}}</strong></p>
            <p>{{FooterDescripcion}}</p>
        </div>
    </div>
    <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
        <a class="btn btn-first text-first btn-rounded" target="_blank" href="{{UrlWebDevInnovaPeru}}" target="_blank">{{WebDevInnovaPeru}}</a>
        <span class="flex-grow-1"></span>
        <div class="d-flex align-items-center">
            <img class="logo" src="../../../assets/images/snapstore/logo-snapstore-sm.png" alt="">
            <div>
                <p class="m-0">{{Copyright}}</p>
                <p class="m-0">{{DerechosReservados}}</p>
            </div>
        </div>
    </div>
</div>
