<div class="card" >
  <div class="card-body">
      <div class="row">
          <div  *ngFor="let item of content; let i = index"  class="{{getClasses()}} " >
              <div class="ul-widget__content-v4 card-icon-bg">
                  <i class="{{item.icon}} {{item.iconColor}}"></i>
                  <h3 class="t-font-boldest {{item.textColor}}">{{item.quantity}}</h3>
                  <span class="{{item.textColor}}">{{item.title}}</span>
              </div>
          </div>
      </div>
  </div>
</div>
