<div *ngIf="data.length" class="table-responsive" appPagination [positions]="[1]" [search]="searchTerm">
  <input type="text" [(ngModel)]="searchTerm" class="form-control mb-3 app-pagination-input-search" placeholder="Buscar por nombre de producto...">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>#</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio x Unidad</th>
              <th>SubTotal</th>
              <th>Descuento x Porcentaje</th>
              <th>Estado</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index">
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>{{ getProductName(item.productId) }}</td>
                  <td>{{ item.quantity }}</td>
                  <td class="text-left">
                    <span *ngIf="item.unitPrice">S/{{ item.unitPrice | addZeros }}</span><br/>
                    <span *ngIf="item.unitPriceUSD">$/{{ item.unitPriceUSD | addZeros }}</span><br/>
                    <span *ngIf="item.unitPriceEUR">€/{{ item.unitPriceEUR | addZeros }}</span>
                  </td>
                  <td class="text-left">
                    <span *ngIf="item.subtotal">S/{{ item.subtotal | addZeros }}</span><br/>
                    <span *ngIf="item.subtotalUSD">$/{{ item.subtotalUSD | addZeros }}</span><br/>
                    <span *ngIf="item.subtotalEUR">€/{{ item.subtotalEUR | addZeros }}</span>
                  </td>
                  <td>{{ item.discountPercentage | transformText}}</td>
                  <td>{{ item.status | status }}</td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button type="button" class=" btn btn-success-2 font-16px" (click)="show(item)" appScrollOnClick>Mostrar</button>
                      <button *ngIf="!item.deletedAt && !order.deletedAt" type="button" class=" btn btn-first font-16px" (click)="update(item)" [disabled]="order.deletedAt" appScrollOnClick>Actualizar</button>
                      <button *ngIf="!item.deletedAt && !order.deletedAt" type="button" class=" btn btn-danger-2 font-16px" (click)="delete(item)" [disabled]="order.deletedAt">Eliminar</button>
                      <span *ngIf="item.deletedAt" class="badge badge-danger font-16px">ELIMINADO</span>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td colspan=8>
              A&uacute;n no se ha agregado ning&uacute;n registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
