<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>ID</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio x Unidad</th>
              <th>SubTotal</th>
              <th>Descuento x Porcentaje</th>
              <th>Estado</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data" >
              <tr>
                  <td>{{ item.orderDetailId }}</td>
                  <td>{{ getProductName(item.productId) }}</td>
                  <td>{{ item.quantity }}</td>
                  <td class="text-left">
                    <span *ngIf="item.unitPrice">S/{{ item.unitPrice | addZeros }}</span><br/>
                    <span *ngIf="item.unitPriceUSD">$/{{ item.unitPriceUSD | addZeros }}</span><br/>
                    <span *ngIf="item.unitPriceEUR">€/{{ item.unitPriceEUR | addZeros }}</span>
                  </td>
                  <td class="text-left">
                    <span *ngIf="item.subtotal">S/{{ item.subtotal | addZeros }}</span><br/>
                    <span *ngIf="item.subtotalUSD">$/{{ item.subtotalUSD | addZeros }}</span><br/>
                    <span *ngIf="item.subtotalEUR">€/{{ item.subtotalEUR | addZeros }}</span>
                  </td>
                  <td>{{ item.discountPercentage | transformText}}</td>
                  <td>{{ item.status | status }}</td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button class=" btn btn-first mr-2 font-16px" (click)="update(item)">Actualizar</button>
                      <button class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td COLSPAN=8>
              Aun no se a agregado ningun registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
