<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row text-center align-items-center">
                <div class="col-xl-4 col-md-4 mb-30" *ngFor="let item of common">
                    <div class="single-cta d-flex flex-column">
                        <i [class]="item?.class" class="mb-2"></i>
                        <div class="text">
                            <h4 class="text-white mb-2">{{'ecommerce.common.' + item.title | translate }}</h4>
                            <a *ngIf="item.title === 'findUs'" [target]="item?.target" [href]="item?.value1()" class="text-white" [title]="item?.value()">
                                {{item?.value()}}
                            </a>
                            <a *ngIf="item.title === 'contactUs'" [href]="'tel:'+item?.value()" class="text-white" [title]="item?.value()">
                                {{item?.value()}}
                            </a>
                            <a *ngIf="item.title === 'sendUsAEmail'" [href]="'mailto:'+item?.value()" class="text-white" [title]="item?.value()">
                                {{item?.value()}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5 text-white">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-text">
                                <h4 class="text-uppercase"></h4>
                                <p>{{ 'ecommerce.menu.contactus.title' | translate }}</p>
                            </div>
                            <div class="footer-menu">
                                <ul class="list-unstyled">
                                    <li *ngFor="let item of common">
                                        <a *ngIf="item.title === 'findUs'" [target]="item?.target" [href]="item?.value1()" class="text-white" [title]="item?.value()">
                                            {{item?.value()}}
                                        </a>
                                        <a *ngIf="item.title === 'contactUs'" [href]="'tel:'+item?.value()" class="text-white" [title]="item?.value()">
                                            {{item?.value()}}
                                        </a>
                                        <a *ngIf="item.title === 'sendUsAEmail'" [href]="'mailto:'+item?.value()" class="text-white" [title]="item?.value()">
                                            {{item?.value()}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-text">
                                <h4 class="text-uppercase"></h4>
                                <p>{{ 'ecommerce.menu.aboutUs.title' | translate }}</p>
                            </div>
                            <div class="footer-menu">
                                <ul class="list-unstyled">
                                    <li>
                                        <a routerLink="/politics-and-privacy" class="text-white" [title]="'ecommerce.menu.aboutUs.items.item1' | translate">
                                            {{ 'ecommerce.menu.aboutUs.items.item1' | translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/about-us" class="text-white" [title]="'ecommerce.menu.aboutUs.items.item2' | translate">
                                            {{ 'ecommerce.menu.aboutUs.items.item2' | translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/shipping-methods" class="text-white" [title]="'ecommerce.menu.aboutUs.items.item3' | translate">
                                            {{ 'ecommerce.menu.aboutUs.items.item3' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-text">
                                <h4 class="text-uppercase"></h4>
                                <p>{{ 'ecommerce.menu.subscribe.title' | translate }}</p>
                            </div>
                            <div class="footer-menu">
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="text-white">{{ 'ecommerce.menu.subscribe.items.item1' | translate }}</span>
                                        <div class="subscribe-form mt-2">
                                            <form [formGroup]="itemForm" (ngSubmit)="add()">
                                                <label for="inputField" class="d-none">Enter Value:</label>
                                                <input type="text" [placeholder]="'ecommerce.menu.subscribe.items.item2' | translate" id="email" formControlName="email" maxlength="50" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,}">
                                                <button type="submit" title="Send Message">
                                                    <i class="fab fa-telegram-plane"></i>
                                                </button>
                                                <!--
                                                <input type="text" id="inputField" [placeholder]="'ecommerce.menu.subscribe.items.item2' | translate"
                                                    title="Enter a value">
                                                -->
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-text">
                                <h4 class="text-uppercase"></h4>
                                <p>{{ 'ecommerce.menu.guideAndHelp.title' | translate }}</p>
                            </div>
                            <div class="footer-menu">
                                <ul class="list-unstyled">
                                    <li>
                                        <a routerLink="/frequently-asked-questions" class="text-white" [title]="'ecommerce.menu.guideAndHelp.items.item1' | translate">
                                            {{ 'ecommerce.menu.guideAndHelp.items.item1' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-text">
                                <h4 class="text-uppercase"></h4>
                                <p>{{ 'ecommerce.menu.services.title' | translate }}</p>
                            </div>
                            <div class="footer-menu">
                                <ul class="list-unstyled">
                                    <li>
                                        <a routerLink="/product-return" class="text-white" [title]="'ecommerce.menu.services.items.item1' | translate">
                                            {{ 'ecommerce.menu.services.items.item1' | translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/customer-support" class="text-white" [title]="'ecommerce.menu.services.items.item2' | translate">
                                            {{ 'ecommerce.menu.services.items.item2' | translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/contact-us" class="text-white" [title]="'ecommerce.menu.services.items.item3' | translate">
                                            {{ 'ecommerce.menu.services.items.item3' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text text-white">
                        <p>{{ 'ecommerce.copyright' | translate }}</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li *ngFor="let item of menuBottom;">
                                <a *ngIf="item?.title === 'home'" class="text-white" [routerLink]="item?.link" >
                                    {{ 'ecommerce.menu.home.title' | translate }}
                                </a>
                                <a *ngIf="item?.title === 'guideAndHelp'" class="text-white" [routerLink]="item?.link" >
                                    {{ 'ecommerce.menu.guideAndHelp.items.item2' | translate }}
                                </a>
                                <a *ngIf="item?.title === 'contactus'" class="text-white" [routerLink]="item?.link" >
                                    {{ 'ecommerce.menu.contactus.title' | translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>