<footer class="footer-section ">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30" *ngFor="let item of top">
                  <div class="single-cta">
                      <i [class]="item?.value"></i>
                      <div class="cta-text">
                          <h4 class="text-white">{{item?.description}}</h4>
                          <span class="text-white">{{item?.value1}}</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5 text-white">
        <div class="container">
            <div class="row">
                <ng-container *ngFor="let data of footer;">
                  <div class="col-xl-4 col-lg-4 mb-50">
                      <div class="footer-widget">
                          <div class="footer-text">
                              <h4 class="text-uppercase">{{data.title}}</h4>
                              <p>{{data.value}}</p>
                          </div>
                          <div class="footer-menu">
                              <ul class="list-unstyled">
                                  <li *ngFor="let item of data?.children">
                                      <a *ngIf="item?.code !== homeEnum.FOOTER_CONTACTUS_MESSAGE" href="#" class="text-white" title="Link">{{item?.value}}</a>
                                      <span *ngIf="item?.code === homeEnum.FOOTER_CONTACTUS_MESSAGE" class="text-white">{{item?.value}}</span>
                                      <div *ngIf="item?.code === homeEnum.FOOTER_NEWSLETTER_MESSAGE" class="subscribe-form mt-2">
                                        <form action="#">
                                          <label for="inputField" class="d-none">Enter Value:</label>
                                          <input type="text" id="inputField" [placeholder]="item?.value1" title="Enter a value">
                                          <button type="button" title="Send Message">
                                            <i class="fab fa-telegram-plane"></i>
                                          </button>
                                      </form>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </ng-container>
            </div>
        </div>
    </div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text text-white">
                      <p>{{copyright?.value}}</p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li *ngFor="let data of menu;">
                            <a class="text-white" href="#">{{data?.value}}</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
