
<footer>
  <div class="contenedor pie-pag">
    <div class="p-col">
      <h3 class="lt-mayus">Sobre Niceshoes</h3>
      <a href="#">Sobre Niceshoes</a>
      <a href="#">Contactos</a>
      <a href="#">Políticas</a>
      <a href="#">Trabaja con nosotros</a>
      <a href="#">Phasellus varius, erat et tincidunt</a>
    </div>
     <div class="p-col">
      <h3 class="lt-mayus">Encuentranos Aquí</h3>
      <p><i class="m-r fas fa-map-marker-alt"></i><span>Lorem ipsum dolor sit amet, consectetur
adipiscing elit</span></p>
       <p><i class="m-r far fa-envelope"></i><span>correo@niceshoes.com</span></p>
       <p><i class="m-r fas fa-phone"></i><span>(01) 763 3343 <br>(01) 763 3343</span></p>

       <h3 class="lt-mayus m-t30">Síguenos</h3>
       <div class="rs ">
         <a href="#"><i class="fab fa-facebook-f"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
         <a href="#"><i class="fab fa-youtube"></i></a>
       </div>
    </div>
    <div class="p-col scbte">
      <p>Recibe nuestras novedades.
Suscribete a nuestro boletín.</p>
      <form action="">
        <div class="input-grupo">
          <input class="input-text" type="text" placeholder="Ingresa tu correo electrónico">
          <input class="btn" type="submit" value="SUSCRIBETE">
        </div>
        <input type="checkbox" id="checkbox">
        <label for="checkbox">Acepto los términos y condiciones</label>
      </form>
    </div>
  </div>
  <div class="der-autor">
    <p><span class="lt-mayus">Niceshoes</span> | Todos los derechos reservados</p>
  </div>
</footer>
