<div class="{{container}}">
    <footer class="pt-4 my-md-5 pt-md-5 ">
        <hr/>
        <div class="row">
          <div class="col-6 col-md">
            <img class="mb-2" src="{{image}}" alt="" width="50" height="50">
            <small class="d-block mb-3 ">© 2020 {{store}}</small><!---text-muted-2-->
          </div>
          <div class="col-6 col-md d-none" >
            
          </div>
          <div class="col-6 col-md  d-none">
           
          </div>
          <div class="col-6 col-md text-right">
            <h5>Acerca de</h5>
            <ul class="list-unstyled text-small">
              <li ><a target="_blank"
                    href="https://api.whatsapp.com/send?phone={{phoneWhatsapp}}&text={{textWhatsapp}}">Ayuda</a>
             </li>
              <li class="d-none"><a target="_blank" href="#">Privacidad</a></li>
              <li class="d-none"><a target="_blank" href="#">Terminos</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <div class="footer pb-5" style="height: 50px; line-height: 4;">
        <!--footer-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    2020 © {{store}}.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-right d mr-3 d-sm-block">
                        Diseño y Desarrollo por DevInnova Peru S.A.C
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>