<div class="card mb-4">
    <div class="card-body">
        <h2>Id: {{ item.orderId }}</h2>
        <p *ngIf="item.clientId">Cliente: {{ item.clientId }}</p>
        <p>Código: {{ item.code }}</p>
        <p>Fecha de la Orden: {{ item.otherDate }}</p>
        <p>Dirección: {{ item.address }}</p>
        <p *ngIf="item.subtotal">SubTotal en Soles: {{ item.subtotal }}</p>
        <p *ngIf="item.subtotalUSD">SubTotal en Dólares: {{ item.subtotalUSD }}</p>
        <p *ngIf="item.subtotalEUR">SubTotal en Euros: {{ item.subtotalEUR }}</p>
        <p *ngIf="item.taxes">Impuesto en Soles: {{ item.taxes }}</p>
        <p *ngIf="item.taxesUSD">Impuesto en Dólares: {{ item.taxesUSD }}</p>
        <p *ngIf="item.taxesEUR">Impuesto en Euros: {{ item.taxesEUR }}</p>
        <p>Monto de descuento: {{ item.discountAmount }}</p>
        <p *ngIf="item.total">Total en Soles: {{ item.total }}</p>
        <p *ngIf="item.totalUSD">Total en Dólares: {{ item.totalUSD }}</p>
        <p *ngIf="item.totalEUR">Total en Euros: {{ item.totalEUR }}</p>
        <p>Otros Detalles: {{ item.otherDetails }}</p>
        <p>Recojo en Tienda: {{ item.pickUp ? 'Si': 'No' }}</p>
        <p>Estado: {{ item.status | status }}</p>
        <p>
          <button class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
        </p>
    </div>
</div>
