<swtvap-nav *ngIf="lang" [lang]="lang" [profile]="profile" [currency]="currency" [hideCurrency]="true" [hideNotCart]="true"></swtvap-nav>

<div class="contact-form-container ">
    <h1 class="text-center">{{ 'ecommerce.pages.contact.title' | translate }}</h1>
    <p class="text-center">{{ 'ecommerce.pages.contact.description' | translate }}</p>
    <form class=" mb-4" (submit)="submitContactForm()">
        <div class="form-group">
            <label for="name">{{ 'ecommerce.pages.contact.form.name' | translate }}:</label>
            <input type="text" id="name" name="name" [(ngModel)]="contactDetails.name" required>
        </div>
        <div class="form-group">
            <label for="email">{{ 'ecommerce.pages.contact.form.email' | translate }}:</label>
            <input type="email" id="email" name="email" [(ngModel)]="contactDetails.email" required>
        </div>
        <div class="form-group">
            <label for="details">{{ 'ecommerce.pages.contact.form.message' | translate }}:</label>
            <textarea id="details" name="details" [(ngModel)]="contactDetails.details" rows="5" required></textarea>
        </div>
        <button type="submit" class="submit-button">{{ 'ecommerce.pages.contact.form.send' | translate }}</button>
    </form>
</div>
<swtvap-header *ngIf="lang" [lang]="lang" [profile]="profile" [carrousel]="carrousel" [proposal]="proposal" [hideNotCarrousel]="true"></swtvap-header>
