<div id="STORE-DASHBOARD-PRODUCTS-IMAGES">
    <div class="main-content">
        <div class="breadcrumb d-flex">
            <button type="button" class="btn btn-danger btn-color-settings text-black mr-2" (click)="back()">
                Regresar
            </button>
            <h1>Pagos Realizados de la &Oacute;rden</h1>
        </div>
        <div class="separator-breadcrumb "></div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 m-auto col-12">
              <swtvap-component-add-orders-transactions *ngIf="addItem" [orderId]="orderId" (added)="handleAdded($event)" (revoke)="addItem=false;"></swtvap-component-add-orders-transactions>
              <swtvap-component-update-orders-transactions *ngIf="updateItem" [orderId]="orderId" [item]="item" (updated)="handleUpdated($event)" (revoke)="updateItem=false;"></swtvap-component-update-orders-transactions>
              <swtvap-component-show-orders-transactions *ngIf="showItem" [item]="item" (revoke)="showItem=false"></swtvap-component-show-orders-transactions>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-auto col-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header">
                        <p class="w-50 float-left card-title m-0">Tabla de Pagos Realizados de la &Oacute;rden</p>
                        <div class="text-right w-50 float-right">
                            <button *ngIf="!order?.deletedAt" type="button" class="btn btn-first btn-color-settings text-black mr-2" (click)="addItem=true;updateItem=false;showItem=false;">
                                Agregar <i class="nav-icon i-Gear-2"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                      <swtvap-component-list-orders-transactions [data]="data" [order]="order" (showed)="handleTableShowed($event)" (deleted)="handleTableDeleted($event)" (updated)="handleTableUpdated($event)"></swtvap-component-list-orders-transactions>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
