<div id="STORE-DASHBOARD-PRODUCTS-DISCOUNTS">
    <div class="main-content">
        <div class="breadcrumb d-flex">
            <button type="button" class="btn btn-danger btn-color-settings text-black mr-2" (click)="back()">
                Regresar
            </button>
            <h1>Comentarios del Producto</h1>
        </div>
        <div class="separator-breadcrumb "></div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 m-auto col-12">
                <div class="card o-hidden mb-4">
                    <div class="card-body">
                      <app-component-list-comments [data]="data" [commentTree]="commentTree" [productId]="productId" (added)="handleTableAdded($event)" (deleted)="handleTableDeleted($event)"></app-component-list-comments>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
