<div class="card card-icon {{claseprincipal}}">
  <div class="card-body text-center">
    <i class="{{icono}} text-{{tipo}}"></i>
      <p class=" mt-2 mb-2 text-{{tipo}}">{{titulo}}</p><!--text-muted-2-->
      <p class="lead text-22 m-0 text-{{tipo}}">{{cantidad}}</p>
  </div>
</div>
<!--
   <div class="col-lg-6 col-md-12">
      <div class="row">
        <div  class="col-md-4" >
          <app-card-icon-medium [titulo]="'New Leads'" [cantidad]="'205'" [icono]="'i-Add-User'" [tipo]="'primary'"></app-card-icon-medium>
          <app-card-icon-medium [titulo]="'Sales'" [cantidad]="'4021'" [icono]="'i-Financial'" [tipo]="'warning'"></app-card-icon-medium>
          <app-card-icon-medium [titulo]="'Orders'" [cantidad]="'80'" [icono]="'i-Checkout-Basket'" [tipo]="'danger'"></app-card-icon-medium>
          <app-card-icon-medium [titulo]="'Expense'" [cantidad]="'120'" [icono]="'i-Money-2'" [tipo]="'info'"></app-card-icon-medium>
        </div>
      </div>
    </div>


-->
