<div id="STORE-DASHBOARD-PRODUCTS-PARAMETERS">
    <div class="main-content">
        <div class="breadcrumb d-flex">
            <button type="button" class="btn btn-danger btn-color-settings text-black mr-2" (click)="back()">
                Regresar
            </button>
            <h1>Par&aacute;metros del Producto</h1>
        </div>
        <div class="separator-breadcrumb "></div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 m-auto col-12">
              <app-component-add-products-parameters *ngIf="addItem" [parameters]="parameters" [productId]="productId" (added)="handleAdded($event)" (revoke)="addItem=false;"></app-component-add-products-parameters>
              <app-component-show-products-parameters *ngIf="showItem " [item]="item" (revoke)="showItem=false"></app-component-show-products-parameters>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 m-auto col-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header">
                        <p class="w-50 float-left card-title m-0">Tabla de Par&aacute;metros del Producto</p>
                        <div class="text-right w-50 float-right">
                            <button type="button" class="btn btn-first btn-color-settings text-black mr-2" (click)="addItem=true;updateItem=false;showItem=false;">
                                Agregar <i class="nav-icon i-Gear-2"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                      <app-component-list-products-parameters [data]="data" (showed)="handleTableShowed($event)" (deleted)="handleTableDeleted($event)" (updated)="handleTableUpdated($event)"></app-component-list-products-parameters>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
