
<div>
    <form [formGroup]="itemForm" (ngSubmit)="add()">
      <h2>Agregar</h2>
      <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" formControlName="name" maxlength="50">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="contact">N&uacute;mero de Contacto:</label>
                <input type="text" class="form-control" id="contact" formControlName="contact" maxlength="20" appOnlyNumbersInput [OnlyNumber]="true">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="email">Correo:</label>
                <input type="text" class="form-control" id="email" formControlName="email" maxlength="50" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{1,}">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="details">Detalle:</label>
                <textarea rows="3" class="form-control" id="details" formControlName="details">
                </textarea>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
                <label for="status">Estado:</label>
                <select class="form-control" id="status" formControlName="status">
                    <option value="0">No Revisado</option>
                    <option value="1">Revisado</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
              <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Agregar</button>
              <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
            </div>
        </div>
      </div>
      <ng-container *ngIf="!itemForm.valid">
        <p>¡Registro No Valido!</p>
      </ng-container>
    </form>
</div>
