<div class="card">
  <div class="card-body">
      <div class="ul-widget__head v-margin pb-20">
          <div class="ul-widget__head-label">
              <h3 class="ul-widget__head-title">Download Files</h3>
          </div>
          <button class="btn btn-info-2 dropdown-toggle _r_btn border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Latest</button>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;"><a class="dropdown-item ul-widget__link--font" href="#"><i class="i-Bar-Chart-4"> </i> Export</a><a class="dropdown-item ul-widget__link--font" href="#"><i class="i-Data-Save"> </i> Save</a><a class="dropdown-item ul-widget__link--font" href="#"><i class="i-Duplicate-Layer"></i> Import</a>
              <div class="dropdown-divider"></div><a class="dropdown-item ul-widget__link--font" href="#"><i class="i-Folder-Download"></i> Update</a><a class="dropdown-item ul-widget__link--font" href="#"><i class="i-Gears-2"></i> Customize</a>
          </div>
      </div>
      <div class="ul-widget__body">
          <div class="__g-widget4">
              <div class="ul-widget4__item">
                  <div class="ul-widget4__pic-icon"><i class="i-Folder-With-Document text-info-2"></i></div><a class="ul-widget4__title" href="#">Documentation</a>
              </div>
              <div class="ul-widget4__item">
                  <div class="ul-widget4__pic-icon"><i class="i-File-CSV text-success-2"></i></div><a class="ul-widget4__title" href="#">Full Developer Manual For 4.7</a>
              </div>
              <div class="ul-widget4__item">
                  <div class="ul-widget4__pic-icon"><i class="i-File-Zip text-danger-2"></i></div><a class="ul-widget4__title" href="#">Download Ziped version OF 5.0</a>
              </div>
              <div class="ul-widget4__item">
                  <div class="ul-widget4__pic-icon"><i class="i-File-JPG text-warning-2"></i></div><a class="ul-widget4__title" href="#">Project Launch Event</a>
              </div>
          </div>
      </div>
  </div>
</div>
