<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of marketing-campaigns">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data" >
              <tr>
                  <td>{{ item.marketingCampaignId }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.startDate | date }}</td>
                  <td>{{ item.endDate | date }}</td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button type="button" class=" btn btn-success-2 font-16px" (click)="show(item)" appScrollOnClick>Mostrar</button>
                      <button *ngIf="!item.deletedAt" type="button" class=" btn btn-first font-16px" (click)="update(item)" appScrollOnClick>Actualizar</button>
                      <button *ngIf="!item.deletedAt" type="button" class=" btn btn-danger-2 font-16px" (click)="delete(item)" appScrollOnClick>Eliminar</button>
                      <span *ngIf="item.deletedAt" class="badge badge-danger font-16px">ELIMINADO</span>
                    </div>
                  </td>
              </tr>
          </ng-container>
          <ng-container *ngIf="!data.length">
            <ng-container *ngTemplateOutlet="showNgTemplateContent"></ng-container>
          </ng-container>
      </tbody>
  </table>
</div>
<ng-template #showNgTemplateContent>
  <tr *ngIf="!data.length">
    <td COLSPAN=9>
        Aun no se a agregado ningun registro
    </td>
  </tr>
</ng-template>
