
<div>
  <form [formGroup]="itemForm" (ngSubmit)="update()">
    <h2>Actualizar</h2>
    <div class="row">
      <div class="col-lg-12">
          <div class="form-group">
              <label for="code">C&oacute;digo:</label>
              <input type="text" class="form-control" id="code" placeholder="Ejemplo: ORDER-00000001" formControlName="code" appUppercase>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="address">Direcci&oacute;n:</label>
              <textarea rows="3" class="form-control" id="address" formControlName="address">
              </textarea>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="subtotal">SubTotal en Soles:</label>
              <input type="text" class="form-control" id="subtotal" formControlName="subtotal" readonly>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="subtotalUSD">SubTotal en D&oacute;lares:</label>
              <input type="text" class="form-control" id="subtotalUSD" formControlName="subtotalUSD" readonly>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="subtotalEUR">SubTotal en Euros:</label>
              <input type="text" class="form-control" id="subtotalEUR" formControlName="subtotalEUR" readonly>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="taxes">Impuestos en Soles:</label>
              <input type="text" class="form-control" id="taxes" formControlName="taxes" appAmountValidator>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="taxesUSD">Impuestos en D&oacute;lares:</label>
              <input type="text" class="form-control" id="taxesUSD" formControlName="taxesUSD" appAmountValidator>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="taxesEUR">Impuestos en Euros:</label>
              <input type="text" class="form-control" id="taxesEUR" formControlName="taxesEUR" appAmountValidator>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="discountAmount">Monto de Descuento (Descuento sobre los impuestos):</label>
              <input type="text" class="form-control" id="discountAmount" formControlName="discountAmount" appOnlyNumbersInput [OnlyNumber]="true">
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="total">Total en Soles:</label>
              <input type="text" class="form-control" id="total" formControlName="total" readonly>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="totalUSD">Total en D&oacute;lares:</label>
              <input type="text" class="form-control" id="totalUSD" formControlName="totalUSD" readonly>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="totalEUR">Total en Euros:</label>
              <input type="text" class="form-control" id="totalEUR" formControlName="totalEUR" readonly>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group d-flex">
              <label for="pickUp">Recojo en Tienda:</label>
              <input type="checkbox" class="form-control" id="pickUp" formControlName="pickUp" >
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="otherDetails">Otros Detalles:</label>
              <textarea rows="3" class="form-control" id="otherDetails" formControlName="otherDetails">
              </textarea>
          </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
              <label for="status">Estado:</label>
              <select class="form-control" id="status" formControlName="status">
                <option value="PENDING_PAYMENT">Pendiente de pago</option>
                <option value="PAYMENT_RECEIVED">Pago recibido</option>
                <option value="PROCESSING">En proceso de preparaci&oacute;n</option>
                <option value="IN_TRANSIT">En tr&aacute;nsito</option>
                <option value="DELIVERED">Entregado</option>
                <option value="CANCELED_BY_CUSTOMER">Cancelado por el cliente</option>
                <option value="CANCELED_BY_COMPANY">Cancelado por la empresa</option>
                <option value="WAITING_FOR_PAYMENT_CONFIRMATION">En espera de confirmaci&oacute;n de pago</option>
                <option value="REFUNDED">Reembolsado</option>
                <option value="CUSTOMS_PROCESSING">En proceso de aduanas</option>
                <option value="WAITING_FOR_DOCUMENTATION">En espera de documentaci&oacute;n</option>
                <option value="INTERNATIONAL_TRANSIT">En tr&aacute;nsito internacional</option>
                <option value="HELD_IN_CUSTOMS">Retenido en aduanas</option>
              </select>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
            <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Actualizar</button>
            <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
          </div>
      </div>
    </div>
    <ng-container *ngIf="!itemForm.valid">
      <p>¡Registro No Valido!</p>
    </ng-container>
  </form>
</div>
