<div *ngIf="data.length" class="table-responsive" appPagination [positions]="[2]" [search]="searchTerm">
  <input type="text" [(ngModel)]="searchTerm" class="form-control mb-3 app-pagination-input-search" placeholder="Buscar por tipo de pago...">
  <table class="table table-bordered text-center" aria-label="Table of orders">
      <thead>
          <tr>
              <th>#</th>
              <th>Costo</th>
              <th>Tipo de Pago</th>
              <th>Fecha</th>
              <th>Estado</th>
              <th>Proveedor</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index">
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>{{ item.cost | addZeros }}</td>
                  <td>{{ item.typeCurrency }}</td>
                  <td>{{ item.date | date }}</td>
                  <td>{{ item.status | statusProvider }}</td>
                  <td>
                    <div *ngIf="item.providerId">
                      <span>{{ item.provider?.name }}</span><br/>
                      <span>{{ item.provider?.email }}</span>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                      <button type="button" class=" btn btn-info-2 btn-sm mt-2 font-16px" (click)="addProvider(item)" style="max-width: 130px;">Asociar Provider</button>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button type="button" class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button type="button" class=" btn btn-first mr-2 font-16px" (click)="update(item)">Actualizar</button>
                      <button type="button" class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td colspan=8>
              A&uacute;n no se ha agregado ning&uacute;n registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
