<div class="card o-hidden mb-4 d-flex flex-column">
  <div class="list-thumb d-flex">
      <img alt="" src="../../assets/images/products/watch-2.jpg" />
  </div>
  <div class="flex-grow-1 d-bock">
      <div
          class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center">
          <a class="w-40 w-sm-100" href="#">
              <div class="item-title">
                  Automatic-self-wind mens Watch 5102PR-001
              </div>
          </a>
          <p class="m-0 text-muted-2 text-small w-15 w-sm-100">
              Gadget
          </p>
          <p class="m-0 text-muted-2 text-small w-15 w-sm-100">
              $38.00 <del class="text-second">$50.00</del>
          </p>
          <p class="m-0 text-muted-2 text-small w-15 w-sm-100 d-none d-lg-block item-badges">
              <span class="badge badge-info">4% off</span>
          </p>
      </div>
  </div>
</div>
