.card-category {
  border-radius: 16px;
}

.card-category .card-body {
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.card-category .card-body .img-content {
  max-width: 45px;
  max-width: 80px;
  margin-top: 5px !important;
  max-height: 80px;
}

.card-category .card-title {
  position: absolute;
  bottom: 0.2em;
  word-break: break-word;
}

.card-category .card-active::before {
  content: "";
  background: #01004e26;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card-category .bdage {
  position: absolute;
  right: 0px;
  font-size: 12px;
  top: 0px;
  border-radius: 50px;
}

#modalFilters .close {
  font-size: 40px;
  padding: 0px;
  padding-right: 0.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*slider inicio*/


.box {
  padding: 15px 15px 15px 15px;
  background: #fff;

  border-radius: 15px;
  box-shadow: 0px 0.1rem 0.5rem rgb(2 0 155 / 10%);
  border-style: none;
}

.box .carousel-inner {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#showMapButton,
#contentGoogle {
  display: block;
}

#SEARCH-MAP {
  padding-right: initial;
  margin: initial;
}

.form-search-explorer {
  width: 50%;
  margin: auto;
}


.input-search-double-mini input:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 2.8rem;
  border-style: solid !important;
  border: 1px solid #ced4da;
}

.input-search-double-mini input:first-child:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1e1cff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(2, 0, 155, 0.25);
}

.input-search-double-mini input:nth-child(2) {
  height: 2.8rem
}


.input-search-double-mini input:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 2.8rem
}

.input-search-double-mini input:first-child,
.input-search-double-mini input:nth-child(2) .input-search-double-mini input:last-child {
  border-style: none;
  margin: 0px;
  padding: 0;

}

@media screen and (max-width: 768px) {

  /*ProductCardsHorizontal*/
  #ProductCardsHorizontal .card .card-flex {
    flex-direction: column !important;
    ;
  }

  .box .carousel-inner {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
  }

  #showMapButton,
  #contentGoogle {
    display: none;
  }

  #FORM-SEARCH-STORE {
    width: 100%;

  }

  .form-search-explorer {
    width: 100%;
    margin: initial;
  }
}


.img-content-icon {
  cursor: pointer;
  height: 45px;
  position: absolute;
  z-index: 9;
  top: 0.5em;
  left: 1.5em;
}

.alert-store {
  height: 120px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-style: none;
}

#ProductCardsHorizontal .carousel-control-prev-icon,
#ProductCardsVertical .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 14px;
}

#ProductCardsHorizontal .carousel-control-next-icon,
#ProductCardsVertical .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 14px;
}

/*share inicio

$tablet: 768px;

@mixin breakpoint($point) {
  @if $point == untilTablet {
    @media (max-width: $tablet - 1) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  }
}
*/
.border-top-15 {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

.border-slider-img-top-bottom {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.badge-discount-store {}

.slider-img-store {
  object-fit: contain;
  border-radius: 15px;
  height: 265px;
}

.card-img-store {
  max-height: 350px;
  object-fit: cover;
}

.message-whatsapp-store {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 78px;
  display: block;
  font-size: 18px;
  text-align: center;
}

.input-cantidad-store {
  width: 115px;
}

/*
.btn-heart-store i{
  color: #0f0e13 !important;
}
*/


.alert-success-check {
  border-radius: 0px;
  border-style: none;
  font-size: 12px;
}


@media (max-width: 768px) {
  /*.share {
    right: unset;
    bottom: unset;
  }*/

  .admin-inicio-search {
    width: 55px;
  }
  .admin-inicio-clean {
    width: 55px;
  }
  .admin-inicio-search span {
    display: none;
  }
  .admin-inicio-clean span{
    display: none;
  }
}
