<div *ngIf="data.length" class="table-responsive" appPagination [positions]="[1,5]" [search]="searchTerm">
  <input type="text" [(ngModel)]="searchTerm" class="form-control mb-3 app-pagination-input-search" placeholder="Buscar por nombre o por correo...">
  <table class="table table-bordered text-center" aria-label="Table of providers">
      <thead>
          <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Direcci&oacute;n</th>
              <th>Tel&eacute;fono</th>
              <th>Celular</th>
              <th>Correo</th>
              <th>Whatsapp</th>
              <th>Estado</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index" >
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.cellphone }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.whatsapp | status }}</td>
                  <td>{{ item.status | status }}</td>
                  <td>
                    <div class="d-flex flex-column">
                      <button type="button" class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)" appScrollOnClick>Mostrar</button>
                      <button *ngIf="!item.deletedAt" type="button" class=" btn btn-first mr-2 font-16px" (click)="update(item)" appScrollOnClick>Actualizar</button>
                      <button *ngIf="!item.deletedAt" type="button" class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                      <span *ngIf="item.deletedAt" class="badge badge-danger font-16px">ELIMINADO</span>
                    </div>
                  </td>
              </tr>
          </ng-container>
          <ng-container *ngIf="!data.length">
            <ng-container *ngTemplateOutlet="showNgTemplateContent"></ng-container>
          </ng-container>
      </tbody>
  </table>
</div>
<ng-template #showNgTemplateContent>
  <tr *ngIf="!data.length">
    <td colspan=9>
        A&uacute;n no se ha agregado ning&uacute;n registro
    </td>
  </tr>
</ng-template>

