<!--

  <div class="" *ngFor="let item of icons; let i = index">{{item}}</div>
[innerHTML]="icons | sanitizeHtml "
-->
<!--<div class="" >{{icons}}</div> sidenav-open iconClasses,-->

<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6 col-12 form-group mb-3">
    <swtvap-input-default [color]="'danger'" [inputClass]="'form-control '" [placeholder]="'Ingrese nombre de icono'" ></swtvap-input-default><!--(keyup)="FilterPipe($event?.target?.value)"-->
  </div>
  <div class="col-lg-8 col-md-6 col-sm-6 col-12">
  </div>
</div>
<div class="" [ngStyle]="iconClassDiv">
  <div [ngStyle]="iconClassDivContent"  class="flex-direction-column m-1" *ngFor="let item of copyIconClasses; let i = index">
    <i  class="iconClassI " ngClass="{{item}}"></i>
    <i  style="height: 45px;" class="flex-align-justify-center">.{{item}}</i>
    <swtvap-button-default (click)="copyTo($event,item)"  [color]="'danger'" [title]="'Copiar'" [icono]="'i-File-Copy-2'" [claseButton]="'m-1 btn-block'" [claseI]="'ml-1'"></swtvap-button-default>
  </div>
</div>


<div id="toast-container" class="toast-container d-none"   style="right: 30px;position: fixed;z-index: 999999;top: 12px;"><!--[ngClass]="{'d-none': toastActivate==false}"-->
  <swtvap-alert-default [tipo]="'primary'" [contenido]="'Copiado con &Eacute;xito'"  [claseAlert]="'text-left'" [claseClose]="'d-none'"></swtvap-alert-default>
</div>

<!--
  https://getbootstrap.com/docs/4.4/utilities/colors/#background-gradient
  <swtvap-icon-iconsmind-default></swtvap-icon-iconsmind-default>
-->
