<input class="{{inputClass}} " [ngClass]="getClasses()" type="{{type}}" placeholder="{{placeholder}}">

<!--


    <swtvap-input-default [inputClass]="'form-control form-control-rounded'" [placeholder]="'Ingrese nombre de icono'" (keyup)="FilterPipe($event.target.value)"></swtvap-input-default>
    <swtvap-input-default [inputClass]="'form-control '" [placeholder]="'Ingrese nombre de icono'" (keyup)="FilterPipe($event.target.value)"></swtvap-input-default>
    <swtvap-input-default [inputClass]="'form-control border-warning shadow-warning'" [placeholder]="'Ingrese nombre de icono'" (keyup)="FilterPipe($event.target.value)"></swtvap-input-default>

-->
