
<div>
  <form [formGroup]="itemForm" (ngSubmit)="update()">
    <h2>Actualizar</h2>
    <div class="row">
      <div class="col-lg-12">
          <div class="form-group">
              <label for="code">Código:</label>
              <input type="text" class="form-control" id="code" formControlName="code">
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="name">Nombre:</label>
              <input type="text" class="form-control" id="name" formControlName="name">
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="description">Descripción:</label>
              <textarea rows="3" class="form-control" id="description" formControlName="description">
              </textarea>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="price">Precio en Soles:</label>
              <input type="text" class="form-control" id="price" formControlName="price" appAmountValidator>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="priceUSD">Precio en Dólares:</label>
              <input type="text" class="form-control" id="priceUSD" formControlName="priceUSD" appAmountValidator>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="priceEUR">Precio en Euros:</label>
              <input type="text" class="form-control" id="priceEUR" formControlName="priceEUR" appAmountValidator>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="stock">Stock:</label>
              <input type="text" class="form-control" id="stock" formControlName="stock" appOnlyNumbersInput [OnlyNumber]="true">
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="stockMin">Stock Mínimo:</label>
              <input type="text" class="form-control" id="stockMin" formControlName="stockMin" appOnlyNumbersInput [OnlyNumber]="true">
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
              <label for="otherDetails">Otros Detalles:</label>
              <textarea rows="3" class="form-control" id="otherDetails" formControlName="otherDetails">
              </textarea>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group d-flex">
              <label for="code">Estado:</label>
              <input type="checkbox" class="form-control" id="status" formControlName="status" >
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
            <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Actualizar</button>
            <button class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
          </div>
      </div>
    </div>
    <ng-container *ngIf="!itemForm.valid">
      <p>¡Registro No Valido!</p>
    </ng-container>
  </form>
</div>
