<header>
  <!-- contact content -->
  <div class="header-content-top">
    <div class="content container d-flex justify-content-between">
      <a routerLink="/auth/login">
        <span class="text-white ml-0">{{ 'ecommerce.common.goToLogin' | translate }}</span>
      </a>
      <div>
        <span class="text-white"><i class="fas fa-phone-square-alt"></i> {{profileStore?.cellphone}}</span>
        <span class="text-white"><i class="fas fa-envelope-square"></i> {{profileStore?.email}}</span>
      </div>
    </div>
  </div>
  <!-- / contact content -->
  <div class="container {{hideNotCart?'pb-2 mt-2 ':'pb-2 mt-4 '}}  " [ngStyle]="{height:hideNotCart? '100px':'65px'}">
    <!-- logo -->
    <strong class="logo">
      <img class="logo-img cursor-pointer" [routerLink]="['/']" [src]="assetUrl + '140x80'" alt="" />
    </strong>
    <!-- open nav mobile -->

    <!--search -->
    <label class="open-search" for="open-search">
      <i class="fas fa-search"></i>
      <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
      <div class="search d-none">
        <button class="button-search"><i class="fas fa-search" title="Search"></i></button>
        <input type="text" placeholder="What are you looking for?" class="input-search" />
      </div>
    </label>
    <nav class="nav-content account-amount {{hideCurrency?'d-none':''}} " aria-label="Featured Content">
      <div class="switch-button" swtvapSwitchButton>
        <span class="active"></span>
        <button class="switch-button-case left active-case" (click)="changeCurrency();">{{ 'ecommerce.currency.usd' | translate }}</button>
        <button class="switch-button-case right" (click)="changeCurrency();">{{ 'ecommerce.currency.pen' | translate }}</button>
      </div>
    </nav>
    <!-- // search -->
    <nav class="nav-content" aria-label="Featured Content">
      <!-- nav -->
      <ul class="nav-content-list">
        <li class="nav-content-item">
          <div class="nav-container-v2">
            <nav class="all-lang-nav" aria-label="Featured Lang">
              <label class="open-lang-all" for="open-lang-all">
                <input class="input-lang-all" id="open-lang-all" type="checkbox" name="lang-open" />
                <span class="all-navigator">
                  <span class="text-white" *ngIf="lang === 'en'">
                    {{ 'ecommerce.lang.en' | translate }}
                  </span>
                  <span class="text-white" *ngIf="lang === 'es'">
                    {{ 'ecommerce.lang.es' | translate }}
                  </span>
                </span>
                <ul class="all-lang-list">
                  <li class="all-lang-list-item">
                    <a href="#" *ngIf="lang === 'en'" class="all-lang-list-link" (click)="changeLang();$event.preventDefault()">
                      {{ 'ecommerce.lang.es' | translate }}
                    </a>
                    <a href="#" *ngIf="lang === 'es'" class="all-lang-list-link" (click)="changeLang();$event.preventDefault()">
                      {{ 'ecommerce.lang.en' | translate }}
                    </a>
                  </li>
                </ul>
              </label>

            </nav>
          </div>
        </li>
        <li class="nav-content-item">
          <a class="nav-content-link" routerLink="/cart" title="Link Text" (click)="cart();$event.preventDefault()">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge badge-secondary text-white">{{cartService.cartItemsList.length?cartService.cartItemsList.length:0 }}</span>
          </a>
        </li>
        <!-- call to action -->
      </ul>
    </nav>
  </div>
  <!-- nav navigation commerce -->
  <div class="container nav-container mt-3 " *ngIf="!hideNotCart">
    <nav class="all-category-nav" aria-label="Featured Category">
      <label class="open-menu-all" for="open-menu-all">
        <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
        <span class="all-navigator text-white">
          <i class="fas fa-bars"></i>
          <span class="text-white">{{ 'ecommerce.common.allCategories' | translate }}</span>
          <i class="fas fa-angle-down"></i>
          <i class="fas fa-angle-up"></i>
        </span>

        <ul class="all-category-list">
          <li class="all-category-list-item">
            <a href="#" class="all-category-list-link">Smartphones<i class="fas fa-angle-right"></i></a>
            <div class="category-second-list">
              <ul class="category-second-list-ul">
                <li class="category-second-item"><a href="#">Iphone 10</a></li>
                <li class="category-second-item"><a href="#">Galaxy Note 10</a></li>
                <li class="category-second-item"><a href="#">Motorola One </a></li>
                <li class="category-second-item"><a href="#">Galaxy A80 </a></li>
                <li class="category-second-item"><a href="#">Galaxy M </a></li>
                <li class="category-second-item"><a href="#">Huaway P30 </a></li>
              </ul>

              <div class="img-product-menu">
                <img alt="" src="https://i.ibb.co/Vvndkmy/banner.jpg">
              </div>
            </div>
          </li>
          <li class="all-category-list-item"><a href="#" class="all-category-list-link">Furniture <i
                class="fas fa-angle-right"></i></a></li>
          <li class="all-category-list-item"><a href="#" class="all-category-list-link">Toys<i
                class="fas fa-angle-right"></i></a></li>
          <li class="all-category-list-item"><a href="#" class="all-category-list-link">Computing<i
                class="fas fa-angle-right"></i></a></li>
          <li class="all-category-list-item"><a href="#" class="all-category-list-link">Games<i
                class="fas fa-angle-right"></i></a></li>
          <li class="all-category-list-item"><a href="" class="all-category-list-link">Automotive<i
                class="fas fa-angle-right"></i></a></li>

        </ul>
      </label>

    </nav>
    <nav class="featured-category" aria-label="Featured Category">
      <ul class="nav-row">
        <li class="nav-row-list"><a href="#" class="nav-row-list-link">Smartphones</a></li>
        <li class="nav-row-list"><a href="#" class="nav-row-list-link">furniture</a></li>
        <li class="nav-row-list"><a href="#" class="nav-row-list-link">Toys</a></li>
        <li class="nav-row-list"><a href="#" class="nav-row-list-link">Computing</a></li>
        <li class="nav-row-list"><a href="#" class="nav-row-list-link">Games</a></li>
        <li class="nav-row-list"><a href="#" class="nav-row-list-link">Automotive</a></li>
        <li class="nav-row-list"><a href="#" class="nav-row-list-link">Games</a></li>
        <li class="nav-row-list"><a href="#" class="nav-row-list-link">Automotive</a></li>
      </ul>
    </nav>
  </div>
</header>
