<header class="{{!sticky?'no-sticky':''}}">
  <!-- contact content -->
  <div class="header-content-top">
    <div class="content container d-flex justify-content-between">
      <a routerLink="/auth/login">
        <span class="text-white ml-0"> {{ 'ecommerce.common.goToLogin' | translate }}</span>
      </a>
      <div>
        
        <a [href]="'tel:'+profileStore?.cellphone" class="text-white" [title]="profileStore?.cellphone">
          <span class="text-white"><i class="fas fa-phone-square-alt text-white"></i> {{profileStore?.cellphone}}</span>
        </a>
        <a [href]="'mailto:'+profileStore?.email" class="text-white" [title]="profileStore?.email">
          <span class="text-white"><i class="fas fa-envelope-square text-white"></i> {{profileStore?.email}}</span>
        </a>
      </div>
    </div>
  </div>
  <!-- / contact content -->
  <div class="container {{hideNotCart?'pb-2 mt-2 ':'pb-2 mt-4 '}}  " [ngStyle]="{height:hideNotCart? '100px':'65px'}">
    <!-- logo -->
    <strong class="logo">
      <img class="logo-img cursor-pointer" [routerLink]="['/']" [src]="assetUrl + '140x80'" alt="" />
    </strong>
    <!-- open nav mobile -->

    <!--search -->
    <label class="open-search" for="open-search">
      <i class="fas fa-search"></i>
      <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
      <div class="search d-none">
        <button class="button-search"><i class="fas fa-search" title="Search"></i></button>
        <input type="text" placeholder="What are you looking for?" class="input-search" />
      </div>
    </label>
    <nav class="nav-content account-amount {{hideCurrency?'d-none':''}} " aria-label="Featured Content">
      <div class="switch-button" swtvapSwitchButton [currencyActive]="currencyActive">
        <span class="active"></span>
        <button class="switch-button-case left " (click)="changeCurrency(currencySymbolEnum.USD);">{{ 'ecommerce.currency.usd' | translate }}</button>
        <button class="switch-button-case right " (click)="changeCurrency(currencySymbolEnum.PEN);">{{ 'ecommerce.currency.pen' | translate }}</button>
      </div>
    </nav>
    <!-- // search -->
    <nav class="nav-content" aria-label="Featured Content">
      <!-- nav -->
      <ul class="nav-content-list">
        <li class="nav-content-item">
          <div class="nav-container-v2">
            <nav class="all-lang-nav" aria-label="Featured Lang">
              <label class="open-lang-all" for="open-lang-all">
                <input class="input-lang-all" id="open-lang-all" type="checkbox" name="lang-open" />
                <span class="all-navigator">
                  <span class="text-white" *ngIf="lang === 'en'">
                    {{ 'ecommerce.lang.en' | translate }}
                  </span>
                  <span class="text-white" *ngIf="lang === 'es'">
                    {{ 'ecommerce.lang.es' | translate }}
                  </span>
                </span>
                <ul class="all-lang-list">
                  <li class="all-lang-list-item">
                    <a href="#" *ngIf="lang === 'en'" class="all-lang-list-link" (click)="changeLang();$event.preventDefault()">
                      {{ 'ecommerce.lang.es' | translate }}
                    </a>
                    <a href="#" *ngIf="lang === 'es'" class="all-lang-list-link" (click)="changeLang();$event.preventDefault()">
                      {{ 'ecommerce.lang.en' | translate }}
                    </a>
                  </li>
                </ul>
              </label>

            </nav>
          </div>
        </li>
        <li class="nav-content-item">
          <a class="nav-content-link" routerLink="/cart" title="Link Text" (click)="cart();$event.preventDefault()">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge badge-secondary text-white" *ngIf="!cartEmpty">
              {{cartService.cartItemsList.length?cartService.cartItemsList.length:0 }}
            </span>
            <span class="badge badge-secondary text-white" *ngIf="cartEmpty">
              0
            </span>
          </a>
        </li>
        <!-- call to action -->
      </ul>
    </nav>
  </div>
  <!-- nav navigation commerce -->
  <div class="container nav-container mt-3 " *ngIf="!hideNotCart">
    <nav class="all-category-nav" aria-label="Featured Category">
      <label class="open-menu-all" for="open-menu-all">
        <input class="input-menu-all" id="open-menu-all" type="checkbox" name="menu-open" />
        <span class="all-navigator text-white">
          <i class="fas fa-bars"></i>
          <span class="text-white">{{ 'ecommerce.common.allCategories' | translate }}</span>
          <i class="fas fa-angle-down"></i>
          <i class="fas fa-angle-up"></i>
        </span>
        <ul class="all-category-list">
          <ng-container *ngFor="let item of catalogs">
            <li class="all-category-list-item" >
              <a href="#" class="all-category-list-link" (click)="showProductsByCatalog(item);$event.stopPropagation();$event.preventDefault()">
                <span>
                  {{ showEnglishName ? item?.nameEn : item?.name }}
                </span>
                <i *ngIf="item?.categories && item?.categories.length>0" class="fas fa-angle-right"></i>
                <div *ngIf="item?.categories && item?.categories.length>0" class="category-second-list style-scroll">
                  <ul class="category-second-list-ul">
                    <li *ngFor="let category of item?.categories" class="category-second-item">
                      <a href="#" (click)="showProductsByCategory(item, category);$event.stopPropagation();$event.preventDefault()">
                        {{ showEnglishName ? category?.nameEn : category?.name }}
                      </a>
                    </li>
                  </ul>
                  <div class="img-product-menu">
                    <img alt="" src="assets/img/bg.jpg">
                  </div>
                </div>
              </a>
            </li>
          </ng-container>
        </ul>
      </label>

    </nav>
    <nav class="featured-category" aria-label="Featured Category">
      <ul class="nav-row"><!-- -->
        <li *ngFor="let item of getFilteredCatalogs()" class="nav-row-list">
          <a href="#" (click)="showProductsByCatalog(item);$event.preventDefault()" class="nav-row-list-link">
            {{ showEnglishName ? item?.nameEn : item?.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
