<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Código</th>
              <th>Fecha</th>
              <th>Dirección</th>
              <th>SubTotal</th>
              <th>Impuestos</th>
              <th>Monto de Descuento</th>
              <th>Total</th>
              <th>Recojo en Tienda</th>
              <th>Estado</th>
              <th>Otros</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data" >
              <tr *ngIf="item.deleted!=false">
                  <td>{{ item.orderId }}</td>
                  <td>{{ getClientName(item.clientId) }}</td>
                  <td>{{ item.code }}</td>
                  <td>{{ item.otherDate }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.subtotal }}</td>
                  <td>{{ item.taxes }}</td>
                  <td>{{ item.discountAmount }}</td>
                  <td>{{ item.total }}</td>
                  <td>{{ item.pickUp ? 'Si': 'No' }}</td>
                  <td>{{ item.status | status }}</td>
                  <td>
                    <div class="d-flex flex-column">
                      <button class=" btn btn-first btn-sm font-16px" (click)="addOrderDetails(item)">Detalle de la Orden</button>
                      <button class=" btn btn-first btn-sm font-16px" (click)="addOrderAmounts(item)">Otros Montos</button>
                      <button class=" btn btn-first btn-sm font-16px" (click)="addOrderTransactions(item)">Pagos Realizados</button>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex flex-column">
                      <button class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button class=" btn btn-first mr-2 font-16px" (click)="update(item)">Actualizar</button>
                      <button class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td COLSPAN=12>
              Aun no se a agregado ningun registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
