<div *ngIf="data.length" class="table-responsive" appPagination [positions]="[2]" [search]="searchTerm">
  <input type="text" [(ngModel)]="searchTerm" class="form-control mb-3 app-pagination-input-search" placeholder="Buscar por c&oacute;digo...">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>#</th>
              <th>Cliente</th>
              <th>C&oacute;digo</th>
              <th>Fecha</th>
              <th>Direcci&oacute;n</th>
              <th>SubTotal</th>
              <th>Impuestos</th>
              <th>Monto de Descuento</th>
              <th>Total</th>
              <th>Recojo en Tienda</th>
              <th>Estado</th>
              <th>Otros</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index">
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>
                    <span *ngIf="item.clientId">{{ getClientName(item.clientId) | transformText }}</span>
                    <div class="d-flex flex-column align-items-center mt-2">
                      <button type="button" class=" btn btn-outline-first btn-sm font-14px" (click)="addClient(item)">
                        Agregar Cliente
                      </button>
                    </div>
                  </td>
                  <td>{{ item.code | uppercase }}</td>
                  <td>{{ item.orderDate | date }}</td>
                  <td>{{ item.address }}</td>
                  <td class="text-left">
                    <span>S/{{ item.subtotal | addZeros }}</span><br/>
                    <span>$/{{ item.subtotalUSD | addZeros }}</span><br/>
                    <span>€/{{ item.subtotalEUR | addZeros }}</span>
                  </td>
                  <td class="text-left">
                    <span>S/{{ item.taxes | addZeros }}</span><br/>
                    <span>$/{{ item.taxesUSD | addZeros }}</span><br/>
                    <span>€/{{ item.taxesEUR | addZeros }}</span>
                  </td>
                  <td>{{ item.discountAmount | transformText:'percentage' }}</td>
                  <td class="text-left">
                    <span>S/{{ item.total | addZeros }}</span><br/>
                    <span>$/{{ item.totalUSD | addZeros }}</span><br/>
                    <span>€/{{ item.totalEUR | addZeros }}</span>
                  </td>
                  <td>{{ item.pickUp ? 'Si': 'No' }}</td>
                  <td>{{ item.status | status }}</td>
                  <td>
                    <div class="d-flex flex-column">
                      <button type="button" class=" btn btn-first btn-sm font-16px" (click)="addOrderDetails(item)">Detalle de la Orden</button>
                      <button type="button" class=" btn btn-first btn-sm font-16px" (click)="addOrderAmounts(item)">Otros Montos</button>
                      <button type="button" class=" btn btn-first btn-sm font-16px" (click)="addOrderTransactions(item)">Pagos Realizados</button>
                      <button type="button" class=" btn btn-warning-2 btn-sm font-16px" (click)="addDispatches(item)">Despacho</button>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex flex-column">
                      <button type="button" class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button type="button" class=" btn btn-first mr-2 font-16px" (click)="update(item)">Actualizar</button>
                      <button type="button" class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td colspan=13>
              A&uacute;n no se ha agregado ning&uacute;n registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
