<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">{{ 'ecommerce.pages.checkout.form.yourCart' | translate }}</span>
  <span class="badge badge-warning badge-pill">{{
    cart.cartItemsList.length
  }}</span>
</h4>
<div class="card">
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between lh-condensed"
      *ngFor="let itm of cart.cartItemsList"
      [ngStyle]="{borderStyle:'none'}"
    >
      <div>
        <h6 class="">
          {{ itm.name }} -
          <span class="badge badge-pill badge-info text-white text-right"
            >x {{ itm.qty }}
          </span>
          x
          <span class="badge badge-pill badge-default text-right"
            >{{ itm.price }}
          </span>
        </h6>
      </div>
      <span class="text-muted">{{ itm.price }}</span>
    </li>
  
    <li [ngStyle]="{borderStyle:'none', borderRadius:'8px'}" class="list-group-item d-flex justify-content-between bg-light">
      <span>{{ 'ecommerce.pages.checkout.form.total' | translate }}</span>
      <strong>{{ cart.cartTotal }}</strong>
    </li>
  </ul>
</div>