<div class="card mb-4">
    <div class="card-body">
        <h2>Id: {{ item.providerId }}</h2>
        <p>Nombre: {{ item.name }}</p>
        <p>Dirección: {{ item.address }}</p>
        <p>Teléfono: {{ item.phone }}</p>
        <p>Celular: {{ item.countryCode }}-{{ item.cellphone }}</p>
        <p>Correo: {{ item.email }}</p>
        <p>Whatsapp: {{ item.whatsapp | status }}</p>
        <p>Detalle: {{ item.details }}</p>
        <p *ngIf="item.otherDetails">Otros Detalles: {{ item.otherDetails }}</p>
        <p>Estado: {{ item.status | status }}</p>
        <p>
          <button class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
        </p>
    </div>
</div>
