<div *ngIf="data.length" class="table-responsive" appPagination [positions]="[1]" [search]="searchTerm">
  <input type="text" [(ngModel)]="searchTerm" class="form-control mb-3 app-pagination-input-search" placeholder="Buscar por nombre...">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Monto</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index">
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>{{ item.name }}</td>
                  <td class="text-left">
                    <span>S/{{ item.amount | addZeros }}</span><br/>
                    <span>$/{{ item.amountUSD | addZeros }}</span><br/>
                    <span>€/{{ item.amountEUR | addZeros }}</span>
                  </td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button type="button" class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button type="button" class=" btn btn-first mr-2 font-16px" (click)="update(item)">Actualizar</button>
                      <button type="button" class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td colspan=4>
              A&uacute;n no se ha agregado ning&uacute;n registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
