.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    background: var(--white);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}