<div class="card card-icon-bg card-icon-bg-{{tipo}} o-hidden mb-4 {{clase}}">
  <div class="card-body text-center">
      <i class="{{icono}}"></i>
      <div class="content">
          <p class="text-muted-2 mt-2 mb-0 text-{{tipo}}" [innerHTML]="titulo | sanitizeHtml "></p>
          <p class="text-{{tipo}} text-24 line-height-1 mb-2 " [innerHTML]="cantidad | sanitizeHtml "></p>
      </div>
  </div>
</div>
<!--  <swtvap-card-icon-large [titulo]="'New Leads'" [cantidad]="'205'" [icono]="'i-Add-User'" [tipo]="'primary'"></swtvap-card-icon-large>
      <swtvap-card-icon-large [titulo]="'Sales'" [cantidad]="'4021'" [icono]="'i-Financial'" [tipo]="'warning'"></swtvap-card-icon-large>
      <swtvap-card-icon-large [titulo]="'Orders'" [cantidad]="'80'" [icono]="'i-Checkout-Basket'" [tipo]="'danger'"></swtvap-card-icon-large>
      <swtvap-card-icon-large [titulo]="'Expense'" [cantidad]="'120'" [icono]="'i-Money-2'" [tipo]="'info'"></swtvap-card-icon-large>
-->
