<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>ID</th>
              <th>Ruta</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data" >
              <tr>
                  <td>{{ item.productImageId }}</td>
                  <td>
                    <img [src]="item.path" alt="Imagen de producto" class="img-fluid" style="max-width: 200px;">
                  </td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button type="button" class=" btn btn-success-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button type="button" class=" btn btn-first font-16px" (click)="update(item)">Actualizar</button>
                      <button type="button" class=" btn btn-danger-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td COLSPAN=3>
              Aun no se a agregado ningun registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
