<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>#</th>
              <th>Ruta</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index" >
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>
                    <img width="400px" *ngFor="let imagePath of item.path.split(',')" [src]="assetUrl + 'Chascaperuart/products/'+imagePath" alt="Image description">
                  </td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <!--<button type="button" class=" btn btn-success-2 font-16px" (click)="show(item)" appScrollOnClick>Mostrar</button>-->
                      <!--<button *ngIf="!item.deletedAt && !product.deletedAt" type="button" class=" btn btn-first font-16px" (click)="update(item)" [disabled]="product.deletedAt" appScrollOnClick>Actualizar</button>-->
                      <button *ngIf="!item.deletedAt && !product.deletedAt" type="button" class=" btn btn-danger-2 font-16px" (click)="delete(item)" [disabled]="product.deletedAt">Eliminar</button>
                      <span *ngIf="item.deletedAt" class="badge badge-danger font-16px">ELIMINADO</span>
                    </div>
                  </td>
              </tr>
          </ng-container>
          <ng-container *ngIf="!data.length">
            <ng-container *ngTemplateOutlet="showNgTemplateContent"></ng-container>
          </ng-container>
      </tbody>
  </table>
</div>
<ng-template #showNgTemplateContent>
  <tr *ngIf="!data.length">
    <td colspan=5>
        A&uacute;n no se ha agregado ning&uacute;n registro
    </td>
  </tr>
</ng-template>
