.close-canasta button{
    border-radius: 35px;
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    table{
        overflow-x: scroll;
        width: max-content;
        display: block;
    }
}
.rounded-circle-color{
    display: inline-block;
    border-radius: 35px;
    width: 25px;
    height: 25px;
}

.tag{
    border-style: solid;
    border-width: 2px;
    border-color: var(--theme_color_first);
}

.rounded{
    border-style: solid;
    border-radius: 15px!important;
    border-width: 1px;
}
