<!-- Modal https://medium.com/@izzatnadiri/how-to-pass-data-to-and-receive-from-ng-bootstrap-modals-916f2ad5d66e-->

<form #signOauthUpForm="ngForm" (ngSubmit)="onSubmit()" appIdentityRevealed class="">
    <div class="spinner-block-white" id="PRELOAD-SIGNOAUTH" [hidden]="!signOauthUpForm.submitted" style="border-radius:15px;">

    </div>
    <div class="modal-header">
        <h5 class="modal-title" id="oauthModalLabel">Rellene Para Teminar de Crear Cuenta de {{typeRegister}}</h5>
        <button type="button" (click)="activeModal.dismiss('Cross click')" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!--
        <div class="row" >
            <div class="spinner-block-white" id="PRELOAD-SIGNOAUTH" [hidden]="!signOauthUpForm.submitted" style="width: 99%!important;">

            </div>
        </div>
        -->

        <!--[hidden]="signOauthUpForm.submitted"-->
        <div class="cross-validation" [class.cross-validation-error]="signOauthUpForm.errors?.identityRevealed
                && (signOauthUpForm.touched || signOauthUpForm.dirty)">

            <div>
                <!-- [value]="'user'"--->
                <div class="btn-group btn-group-toggle  mb-3">
                    <button class="btn-secondary border-input mr-3" [style]="buttonRadioStyle" id="label-checked-user-modal"
                        (click)="switchUserActive($event)">
                        <label class="form-check-label  pr-2 pl-2" for="InputRadioUser">
                            <input class="form-check-input d-none" appForbiddenName="bob" name="type_user" type="radio"
                                id="InputRadioUser" checked>
                            Usuario <i class="far fa-user"></i>
                        </label>
                    </button>
                    <!--,'store'-->
                    <button class="btn-second border-input opacity-8" [style]="buttonRadioStyle"
                        id="label-checked-store-modal" (click)="switchStoreActive($event)">
                        <label class="form-check-label  pr-2 pl-2" for="InputRadioStore">
                            <input class="form-check-input d-none" type="radio" name="type_user" id="InputRadioStore">

                            Tienda <i class=" mdi mdi-storefront"></i>
                        </label>
                    </button>
                </div>
            </div>


            <div class="input-group border-input-group-prepend mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text p-0">
                        <select title="select" id="country_phone_code" (change)="countryPhone($event)" name="country_phone_code"
                            class="form-control   border-input " required [(ngModel)]="social.country_phone_code"
                            #country_phone_code="ngModel">
                            <option
                                [ngStyle]="{backgroundImage:'url(https://flagcdn.com/48x36/'+(p.iso2).toLowerCase()+'.png)'}"
                                *ngFor="let p of allContries" [value]="p.phone_code">{{p.name_es}}</option>
                        </select>
                    </div>
                </div>
                <input type="text" appForbiddenName="bob" minlength="9" [(ngModel)]="social.celphone" #celphone="ngModel"
                    pattern="[0-9]*" class="form-control input-middle-prepend-append" name="celphone" id="celphone"
                    placeholder="Celular" required>
                <div class="input-group-append">
                    <div style="background: transparent;" class="input-group-text  p-0">
                        <img alt="" style="width: 30px;margin-left: 1em;margin-right: 1em;" class="img-celphone-modal"
                            src="https://flagcdn.com/48x36/pe.png">
                    </div>
                </div>

            </div>
            <div *ngIf="celphone.invalid && (celphone.dirty || celphone.touched)"
                class="alert alert-danger alert-invalid-dirty">
                N&uacute;mero de celular ingresado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
            </div>
            <div class="form-group content-div-document-modal d-none">
                <select title="select" id="document_type" name="document_type" (change)="selectTypeDocument($event)"
                    class="form-control border-input" required [(ngModel)]="social.document_type"
                    #document_type="ngModel">
                    <option *ngFor="let p of documents_type" [value]="p">{{p}}</option>
                </select>

                <small id="emailHelp" class="form-text text-muted-2">Seleccione su tipo de documento (DNI,
                    RUC).</small>

            </div>

            <div class="form-group content-div-document-modal d-none">

                <input type="text" appForbiddenName="bob" [(ngModel)]="social.document" #document="ngModel"
                    pattern="{{typePatternDocument}}" class="form-control border-input" name="document" id="document"
                    placeholder="N° de documento" required>
                <small id="emailHelp" class="form-text text-muted-2">Nunca compartiremos su documento con
                    nadie m&aacute;s.</small>
            </div>
            <div *ngIf="document.invalid && (document.dirty || document.touched)"
                class="alert alert-danger alert-invalid-dirty">
                N&uacute;mero de documento ingresado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
            </div>

            <div class="form-group row">
                <div class="col-sm-12 text-left">
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="social.check_terms_conditions"
                            name="check_terms_conditions" #check_terms_conditions="ngModel" type="checkbox"
                            id="check_terms_conditions" checked required>
                        <label class="form-check-label" for="check_terms_conditions">
                            Estoy de acuerdo con los <a target="_blank" style=" text-decoration: underline;"
                                href="#">T&eacute;rminos y Condiciones </a>
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="check_terms_conditions.invalid" class="alert alert-danger alert-invalid-dirty">
                Recuerde aceptar los t&eacute;rminos y condiciones <span class="mdi mdi-arrow-up-bold"></span>
                <p><a target="_blank" style=" text-decoration: underline;" href="#">Pulse aqu&iacute; para descargar los
                        t&eacute;rminos y condiciones</a></p>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-left">
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="social.check_politics_privacy"
                            name="check_politics_privacy" #check_politics_privacy="ngModel" type="checkbox"
                            id="check_politics_privacy" checked required>
                        <label class="form-check-label" for="check_politics_privacy">
                            Acepto la <a target="_blank" style=" text-decoration: underline;" href="#">Pol&iacute;tica de
                                Privacidad </a>
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="check_politics_privacy.invalid" class="alert alert-danger alert-invalid-dirty">
                Recuerde aceptar las pol&iacute;ticas de privacidad <span class="mdi mdi-arrow-up-bold"></span>
                <p><a target="_blank" style=" text-decoration: underline;" href="#">Pulse aqu&iacute; para descargar las
                        pol&iacute;ticas de privacidad</a></p>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-left">
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="social.check_emails_snap_store"
                            name="check_emails_snap_store" #check_emails_snap_store="ngModel" type="checkbox"
                            id="check_emails_snap_store" checked>
                        <label class="form-check-label" for="check_emails_snap_store">
                            Estoy de acuerdo con recibir correos de Sumac Chasca Per&uacute; S.A.C.
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="activeModal.dismiss('Cross click')"  class="btn btn-secondary border-input" data-dismiss="modal">Cerrar</button>
        <button type="submit"  [disabled]="signOauthUpForm.invalid" class="btn btn-first border-input">Continuar</button>
    </div>
</form>
<!--https://ng-bootstrap.github.io/#/components/modal/examples-->
