<div class="card">
  <div class="card-body">
      <div class="ul-contact-page__profile">
          <div class="user-profile">
              <img class="profile-picture mb-2" src="{{url}}" alt="">
          </div>
          <div class="ul-contact-page__info">
              <p class="m-0 text-24">{{name}}</p>
              <p class="text-muted-2 m-0">{{email}}</p>
              <p class="text-muted-2 mt-3">{{address}}</p>
              <p class="text-muted-2 mt-3">{{celphone}}</p>

          </div>
      </div>
  </div>
</div>
