<div class="container transfer-container content">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-xl-6 offset-xl-3 mt-5">
      <title >Bienvenido a swtvap FrontEnd</title>
      <p>
        Hola, somos <strong>swtvap FrontEnd</strong>, un Squad Transversal que tiene como objetivo la estandarización de
        la experiencia única siempre alineados a Design System, la reutilización de componentes y la incorporación de
        características de seguridad por defecto. Impulsamos el trabajo colaborativo y bajo un enfoque ágil.
        Si tienes alguna duda no dudes en escribirnos a <strong>jjmeza@swtvap.com</strong>
      </p><br/>
      <span>{{ title }} app is running!</span>
    </div>
  </div>
</div>
<swtvap-navbar></swtvap-navbar>
<a routerLink="/auth/login">Ir a Ejemplo</a>
<router-outlet></router-outlet>
