<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of categorys">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Catalogos Asignados</th>
              <th>Productos Asignados</th>
              <th>Estado</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data" >
              <tr>
                  <td>{{ item.categoryId }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    <button class=" btn btn-outline-first btn-sm font-14px" (click)="addCategoryCatalogs(item)">
                      <span class="mr-2">({{ item.catalogs?item.catalogs.length:0 }} Catálogos)</span>Agregar
                    </button>
                  </td>
                  <td>
                    <button class=" btn btn-outline-first btn-sm font-14px" (click)="addProductCategories(item)">
                      <span class="mr-2">({{ item.products?item.products.length:0 }} Productos)</span>Agregar
                    </button>
                  </td>
                  <td>{{ item.status | status }}</td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button class=" btn btn-success-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button class=" btn btn-first font-16px" (click)="update(item)">Actualizar</button>
                      <button class=" btn btn-danger-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td COLSPAN=6>
              Aun no se a agregado ningun registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
