
<form class="form-search" action="" method="get" role="search" id="FORM-SEARCH-EXPLORAR">
    <div class="input-group input-search-double-mini" style="    margin-bottom: -3px;">
        <input type="text" class="form-control input  text-center" placeholder="¿En que ubicación deseas buscar?" >
        <input type="text" class="form-control input text-center"  placeholder="¿Qué producto buscar?" >
         <input type="text" class="form-control input  text-center"  placeholder="¿Qué tienda busca?" >
    </div>

    <button class="btn btn-second shadow  float-right   mt-3 border-input" (click)="busquedaExplorar()">
        Buscar <i class="dripicons-search"></i>
    </button>
</form>