<div id="STORE-DASHBOARD-SUBSCRIPTIONS">
    <div class="main-content">
        <div class="breadcrumb d-flex">
            <h1>Suscripciones a Noticias</h1>
        </div>
        <div class="separator-breadcrumb "></div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 m-auto col-12">
              <app-component-add-subscriptions *ngIf="addItem" (added)="handleAdded($event)" (revoke)="addItem=false;"></app-component-add-subscriptions>
              <app-component-update-subscriptions *ngIf="updateItem" [item]="item" (updated)="handleUpdated($event)" (revoke)="updateItem=false;"></app-component-update-subscriptions>
              <app-component-show-subscriptions *ngIf="showItem" [item]="item" (revoke)="showItem=false"></app-component-show-subscriptions>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-auto col-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header">
                        <p class="w-50 float-left card-title m-0">Tabla de Suscripciones a Noticias</p>
                        <div class="text-right w-50 float-right">
                            <button type="button" class="btn btn-first btn-color-settings text-black mr-2" (click)="addItem=true;updateItem=false;showItem=false;">
                                Agregar <i class="nav-icon i-Gear-2"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                      <app-component-list-subscriptions [data]="data" (showed)="handleTableShowed($event)" (deleted)="handleTableDeleted($event)" (updated)="handleTableUpdated($event)"></app-component-list-subscriptions>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
