<div
 [ngStyle]="{marginTop:'3rem', marginBottom:'3rem'}"
*ngIf="customerDetails && customerDetails.firstName; else emptyBilling"
>
<div class="alert alert-success d-print-none" role="alert" [ngStyle]="{borderBottom:'8px',borderRadius:'8px', borderStyle:'none'}">
  {{ 'ecommerce.pages.order.success' | translate:{name: customerDetails.firstName + ' ' + customerDetails.lastName} }}
  <button class="btn btn-sm btn-primary ml-2 mr-1" (click)="print()">
    {{ 'ecommerce.pages.order.printReceipt' | translate }}</button
  ><button class="btn btn-sm btn-primary ml-2" (click)="clearCart()">
    {{ 'ecommerce.pages.order.newOrder' | translate }}
  </button>
</div>

<div class="card">
  <div class="card-header" [ngStyle]="{borderBottom:'8px',borderRadius:'8px'}">
    {{ 'ecommerce.pages.order.orderDate' | translate }}
    <strong>{{ invoiceDate | date: 'd-MMM-yyyy' }}</strong>
    <span class="float-right"> <strong>{{ 'ecommerce.pages.order.status.title' | translate }}:</strong> {{ 'ecommerce.pages.order.status.pending' | translate }}</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 text-left">
        <img
          src="https://i.pinimg.com/originals/15/aa/cd/15aacda7b47201403e2b2f58acf72067.png"
          class="logo mr-2 mb-4 float-left"
        />
      </div>
      <div class="col-md-6 text-right">
        <h4># {{ 'ecommerce.pages.order.orderNumber' | translate:{number:invoiceNo} }}</h4>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-6">
        <h6 class="mb-3">{{ 'ecommerce.pages.order.from' | translate }}:</h6>
        <div>
          <strong>{{ companyDetails.name }}</strong>
        </div>
        <div>{{ companyDetails.address }}</div>
        <div>{{ companyDetails.city }},{{ companyDetails.pincode }}</div>
        <div>{{ 'ecommerce.pages.checkout.form.email' | translate }}: {{ companyDetails.email }}</div>
        <div>{{ 'ecommerce.pages.checkout.form.phone' | translate }}: {{ companyDetails.phone }}</div>
      </div>

      <div class="col-sm-6">
        <h6 class="mb-3">{{ 'ecommerce.pages.order.to' | translate }}:</h6>
        <div>
          <strong
            >{{ customerDetails.firstName }}
            {{ customerDetails.lastName }}</strong
          >
        </div>
        <div>
          {{ customerDetails.addressOne }},
          {{ customerDetails.addressTwo }}
        </div>
        <div>
          {{ customerDetails.city }},{{ customerDetails.state }},{{
            customerDetails.zip
          }}
        </div>
        <div>{{ 'ecommerce.pages.checkout.form.email' | translate }}: {{ customerDetails.email }}</div>
        <div>{{ 'ecommerce.pages.checkout.form.phone' | translate }}: {{ customerDetails.mobile }}</div>
      </div>
    </div>

    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="center">#</th>
            <th>{{ 'ecommerce.pages.order.items.item1' | translate }}</th>
            <th class="right">{{ 'ecommerce.pages.order.items.item3' | translate }}</th>
            <th class="right">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cartItems of cart.cartItemsList; let i = index">
            <td class="center">{{ i + 1 }}</td>
            <td class="left strong">{{ cartItems.name }}</td>
            <td class="right">{{ cartItems.qty }}</td>
            <td class="right">{{ cartItems.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-5"></div>

      <div class="col-lg-4 col-sm-5 ml-auto">
        <table class="table table-clear">
          <tbody>
            <tr>
              <td class="left">
                <strong>Subtotal</strong>
              </td>
              <td class="right">{{ cart.cartTotal }}</td>
            </tr>

            <tr>
              <td class="left">
                <strong>Total</strong>
              </td>
              <td class="right">
                <strong>{{ cart.cartTotal }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<ng-template #emptyBilling>
<div class="card alert alert-primary mt-4">
  <div class="card-body">
    {{ 'ecommerce.pages.checkout.form.beforeToEndBuyProducts' | translate}}
    <a href="#" class="btn btn-outline-primary float-right  ml-2" (click)="continue();$event.preventDefault()">{{ 'ecommerce.pages.checkout.form.continueShopping' | translate }}</a>
    &nbsp; &nbsp;
    <a
      href="#"
      class="btn btn-outline-primary float-right text-white"
      (click)="billing();$event.preventDefault()"
      *ngIf="cart.cartItemsList && cart.cartTotal"
    >
      {{ 'ecommerce.pages.order.endOrder' | translate }}
    </a>
  </div>
</div>
</ng-template>