.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #cce5ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.logo {
  height: 100px;
  width: auto;
}
.btn-outline-primary:hover {
  color: var(--white)!important;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #edebeb;
  transition: box-shadow 0.25s;
  -webkit-transition: -webkit-box-shadow 0.25s, box-shadow 0.25s;
}