<header style="z-index: 10;" id="header-dashboard-principal" class="navbar navbar-expand navbar-dark
  flex-column w-100 flex-md-row bd-navbar header-dashboard">
    <button type="button" class="navbar-brand mr-0 mr-md-2 btn-outline-first
    btn-first-menu-toggle cursor-pointer" (click)="menuToggle($event)" id="#menu-toggle">
    <span class="mdi mdi-menu"></span>
  </button>

    <a class="navbar-brand mr-0 mr-md-2 ml-2" [routerLink]="['/admin/dashboard/home']">
        <img src="{{getImagePrincipal()}}" alt="Image" width="40px" height="40px" />
        <span class="text-first ml-2">Inicio</span>
    </a>
    <div class="navbar-brand navbar-nav-scroll w-100">
        <div *ngIf="getType()" class="drop-down float-right" [ngClass]='{" drop-down--active":dropdownActive==true}'>
            <button type="button" class="navbar-brand mr-0 mr-md-2 btn-outline-first btn-first-menu-toggle cursor-pointer" (click)="logout()" style="width: 110px;font-size: 16px;">
              <i class="mdi mdi-logout-variant mr-1"></i> Salir
            </button>
        </div>

        <div *ngIf="!getType()" class="drop-down drop-down-auth-dashboard-bar" [ngClass]='{"drop-down--active":dropdownActive==true}'>
            <div class="drop-down__button btn btn-outline-first text-center border-input">
                <a class="d-block w-100" [routerLink]="['/auth/login']" style="    font-size: 18px;">
                    <i class="mdi mdi-login-variant "></i>
                </a>
            </div>
            <div class="drop-down__button btn btn-outline-first text-center border-input">
                <a class="d-block w-100" [routerLink]="['/auth/signup']" style="    font-size: 18px;">
                    <i class="mdi mdi-account-plus "></i>
                </a>
            </div>
        </div>

    </div>
</header>
<div id="wrapper" class="toggled">
    <!-- Sidebar bd-sidenav -->
    <div id="sidebar-wrapper" style="z-index: 9;">
        <ul id="bd-sidenav-admin-dashboard-principal" class="nav sidebar-nav
      ul-menu-admin-dashboard">
            <li class="" data-uri='inicio'>
                <a [routerLink]="['/admin/dashboard/home']">
                    <i class="dripicons-store mr-1"></i> <span>Inicio</span>
                </a>
            </li>
            <li data-uri='catalogs'>
                <a [routerLink]="['/admin/dashboard/catalogs']">
                    <i class="mdi mdi-shape mr-1"></i> <span>Cat&aacute;logos</span>
                </a>
            </li>
            <li data-uri='categories'>
                <a [routerLink]="['/admin/dashboard/categories']">
                    <i class="mdi mdi-adjust mr-1"></i> <span>Categor&iacute;as</span>
                </a>
            </li>
            <li data-uri='products'>
                <a [routerLink]="['/admin/dashboard/products']">
                    <i class="mdi mdi-alpha-p-box mr-1"></i> <span>Productos</span>
                </a>
            </li>
            <li data-uri='orders'>
                <a [routerLink]="['/admin/dashboard/orders']">
                    <i class="mdi mdi-file-document mr-1"></i> <span>&Oacute;rdenes</span>
                </a>
            </li>
            <li data-uri='clients'>
                <a [routerLink]="['/admin/dashboard/clients']">
                    <i class="dripicons-user-group mr-1"></i> <span>Clientes</span>
                </a>
            </li>
            <li  data-uri='providers'>
                <a [routerLink]="['/admin/dashboard/providers']">
                    <i class="mdi mdi-worker mr-1"></i> <span>Proveedores</span>
                </a>
            </li>
            <li  data-uri='units'>
                <a [routerLink]="['/admin/dashboard/units']">
                    <i class="dripicons-weight mr-1"></i> <span>Unidades</span>
                </a>
            </li>
            <li  data-uri='parameters'>
                <a [routerLink]="['/admin/dashboard/parameters']">
                    <i class="dripicons-view-thumb mr-1"></i> <span>Par&aacute;metros</span>
                </a>
            </li>
            <li  data-uri='marketing-campaigns'>
                <a [routerLink]="['/admin/dashboard/marketing-campaigns']">
                    <i class="dripicons-document mr-1"></i> <span>Campa&ntilde;as</span>
                </a>
            </li>
            <li  data-uri='newsletter-subscriptions'>
                <a [routerLink]="['/admin/dashboard/newsletter-subscriptions']">
                    <i class="mdi mdi-email-outline mr-1"></i> <span>Suscripcion de Noticias</span>
                </a>
            </li>
            <li  data-uri='analytics'>
                <a [routerLink]="['/admin/dashboard/analytics']">
                    <i class="mdi mdi-pulse mr-1"></i> <span>Estad&iacute;stica de Visitas</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
            <app-footer-store-default>
            </app-footer-store-default>
        </div>
    </div>

</div>
