
/*.bd-sidebar-dashboard {
    position: sticky;
    top: 4rem;
    z-index: 1000;
   height: 100%!important;
  }


.ul-menu-admin-dashboard a{
  display: grid;
  text-align: center
}
.ul-menu-admin-dashboard span{
  font-size: 14px;
}
.ul-menu-admin-dashboard i{
  font-size: 22px;
}


.ul-menu-admin-dashboard li{
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.ul-menu-admin-dashboard li.active a{
  color: var(--theme_color_first)!important;
}

.ul-menu-admin-dashboard li.active i::before{
  color: var(--theme_color_first)!important;
}

.ul-menu-admin-dashboard i::before{
  color: var(--theme_color_background_text);
}

.bd-docs-nav-left{
  max-height: 100%;
  position: fixed;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 145px;
  overflow-y: scroll;
}

.main-right-dashboard{
  height: 100%;
    right: 0;
    padding: 0px;
    margin-top: 5vh!important;
    padding-left: 0px!important;
    padding-top: 0px!important;
}
.header-dashboard{
  position: fixed;; height: auto;
}

@media (min-width: 1200px){
  .col-xl-11.main-right-dashboard {
      flex: 0 0 91.666667%;
      max-width: 92.4%;
  }
}
#admin-dashboard-principal .admin-dashboard-principal-main{
  margin-top: 66px;
}


@media (max-width: 767px) {
  #admin-dashboard-principal   .admin-dashboard-principal-main{
    margin-top: 0px;
  }
  #admin-dashboard-principal .header-dashboard{
    position: relative;
  }
}*/

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

.btn-first-menu-toggle{
  color: var(--theme_color_first_text)!important;
    border-color: var(--theme_color_first_text)!important;
    border-radius: 15px;
    width: 45px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

.btn-first-menu-toggle span{
  color: var(--theme_color_first_text)!important;
}


.btn-first-menu-toggle:hover {
  color: var(--theme_color_first_text)!important;
  background-color: var(--theme_color_first)!important;
  border-color: var(--theme_color_first)!important;
}
.btn-first-menu-toggle:hover span{
  color: var(--theme_color_first_text)!important;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: var(--wrapper-width);
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: var(--wrapper-width);
  width: 0;
  height: 100%;
  margin-left: calc(var(--wrapper-width)*-1);
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: var(--wrapper-width);
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: calc(var(--wrapper-width)*-1);
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: var(--wrapper-width);
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--theme_color_background);
  height: 89.5vh;
  overflow-y: scroll;
}

.sidebar-nav a{
  display: grid;
  text-align: center
}

.sidebar-nav li {
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
  height: 65px;
}
.sidebar-nav span{
  font-size: 14px;
}
.sidebar-nav i{
  font-size: 22px;
}


.sidebar-nav li.active a{
  color: var(--theme_color_first)!important;
}

.sidebar-nav li.active i::before{
  color: var(--theme_color_first)!important;
}

.sidebar-nav i::before{
  color: var(--theme_color_background_text);
}

/*
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}*/
@media(min-width:768px) {
  #wrapper {
    padding-left: calc(var(--wrapper-width)*1);
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: calc(var(--wrapper-width)*1);
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

#header-dashboard-principal .navbar-brand:nth-child(3){
  margin-top: 0px;
  padding: 0px;
  height: 45px;
}
@media (max-width: 768px){
  #header-dashboard-principal{
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
    height: 98px;

  }
  #header-dashboard-principal .navbar-brand:nth-child(1){
    grid-row-start: 1;
    grid-column-start: 1;
  }
  #header-dashboard-principal .navbar-brand:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
  }
  #header-dashboard-principal .navbar-brand:nth-child(3){
    grid-row-start: 1;
    grid-column-start: 3;
  }

  #header-dashboard-principal #sidebar-wrapper{
    position: absolute;
  }
  #sidebar-wrapper{
    position: absolute;
    height: 200vh;
  }
  #sidebar-wrapper .sidebar-nav{
    height: 200vh;
    overflow-y: hidden;
  }
  
}


 
