
<div>
    <form [formGroup]="itemForm" (ngSubmit)="add()">
      <h2>Agregar</h2>
      <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="unitName">Nombre de la Unidad:</label>
                <input type="text" class="form-control" id="unitName" formControlName="unitName">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="abbreviation">Abreviación:</label>
                <input type="text" class="form-control" id="abbreviation" formControlName="abbreviation" placeholder="Ejmplo: pz, kg, g, L u otros">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="conversionFactor">Factor de Conversión:</label>
                <input type="text" class="form-control" id="conversionFactor" formControlName="conversionFactor" appOnlyNumbersInput [OnlyNumber]="true" [AllowPoint]="true">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group d-flex">
                <label for="code">Estado:</label>
                <input type="checkbox" class="form-control" id="status" formControlName="status" >
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
              <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Agregar</button>
              <button class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
            </div>
        </div>
      </div>
      <ng-container *ngIf="!itemForm.valid">
        <p>¡Registro No Valido!</p>
      </ng-container>
    </form>
</div>
