<div id="STORE-DASHBOARD-PARAMETERS">
    <div class="main-content">
        <div class="breadcrumb d-flex">
          <button type="button" class="btn btn-danger btn-color-settings text-black mr-2" (click)="back()">
              Regresar
          </button>

          <h1>Sub P&aacute;rametros</h1>
        </div>
        <div class="separator-breadcrumb "></div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 m-auto col-12">
              <swtvap-component-add-sub-parameters *ngIf="addItem" [parentId]="id"  (added)="handleAdded($event)" (revoke)="addItem=false;"></swtvap-component-add-sub-parameters>
              <swtvap-component-update-sub-parameters *ngIf="updateItem" [item]="item" [parentId]="id"  (updated)="handleUpdated($event)" (revoke)="updateItem=false;"></swtvap-component-update-sub-parameters>
              <swtvap-component-show-sub-parameters *ngIf="showItem" [item]="item" (revoke)="showItem=false"></swtvap-component-show-sub-parameters>
            </div>
            <div  *ngIf="!showItem && !updateItem && !addItem" class="col-lg-10 col-md-10 col-sm-10 m-auto col-12">
              <div class="card m-auto " style="max-width: 350px;margin-bottom: 1.5em!important;">
                <div class="card-header">
                  Par&aacute;metro Padre (Seleccionado)
                </div>
                <div *ngIf="item" class="card-body">
                  <p>Identificador: {{item.id}}</p>
                  <p *ngIf="item.groupId">Grupo: {{item.groupId}}</p>
                  <p *ngIf="item.description">Descripci&oacute;n: {{item.description}}</p>
                  <p *ngIf="item.value">Valor: {{item.value}}</p>
                  <p *ngIf="item.value1">Valor1: {{item.value1}}</p>
                  <p *ngIf="item.value2">Valor2: {{item.value2}}</p>
                  <p *ngIf="item.code">C&oacute;digo: {{item.code | uppercase }}</p>
                  <p *ngIf="item.position">Posici&oacute;n: {{item.position}}</p>
                  <p *ngIf="item.status">Estado: {{item.status | status}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 m-auto col-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header">
                        <div>
                          <p class="w-50 float-left card-title m-0">Tabla de Sub Par&aacute;metros</p>
                        </div>
                        <div class="text-right w-50 float-right">
                            <button *ngIf="!parameter?.deletedAt" type="button" class="btn btn-first btn-color-settings text-black mr-2" (click)="addItem=true;updateItem=false;showItem=false;">
                                Agregar <i class="nav-icon i-Gear-2"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                      <swtvap-component-list-sub-parameters [data]="data" [parameter]="parameter" (added)="handleTableAdded($event)" (showed)="handleTableShowed($event)" (deleted)="handleTableDeleted($event)" (updated)="handleTableUpdated($event)"></swtvap-component-list-sub-parameters>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
