<div class="card">
  <div class="card-body">
      <div class="ul-widget__head">
          <div class="ul-widget__head-label">
              <h3 class="ul-widget__head-title">Recent Notifications</h3>
          </div>
          <div class="ul-widget__head-toolbar">
              <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold ul-widget-nav-tabs-line" role="tablist">
                  <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#__g-widget-s7-tab1-content" role="tab" aria-selected="true">Today</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#__g-widget-s7-tab2-content" role="tab" aria-selected="false">Month</a></li>
              </ul>
          </div>
      </div>
      <div class="ul-widget__body">
          <div class="tab-content">
              <div class="tab-pane active show" id="__g-widget-s7-tab1-content">
                  <div class="ul-widget-s7n">
                      <div class="ul-widget-s7__items mb-4"><span class="ul-widget-s7__item-time ul-middle">10:00</span>
                          <div class="ul-widget-s7__item-circle">
                              <p class="ul-vertical-line bg-primary"></p>
                          </div>
                          <div class="ul-widget-s7__item-text">
                              Lorem ipsum dolor sit amit,consectetur eiusmdd
                              tempor<br /> incididunt ut labore et dolore magna
                          </div>
                      </div>
                      <div class="ul-widget-s7__items mb-4"><span class="ul-widget-s7__item-time ul-middle">08:00</span>
                          <div class="ul-widget-s7__item-circle">
                              <p class="ul-vertical-line bg-success"></p>
                          </div>
                          <div class="ul-widget-s7__item-text">
                              Lorem ipsum dolor sit amit,consectetur eiusmdd
                              tempor<br /> incididunt ut labore et dolore magna
                          </div>
                      </div>
                      <div class="ul-widget-s7__items mb-4"><span class="ul-widget-s7__item-time ul-middle">13:00</span>
                          <div class="ul-widget-s7__item-circle">
                              <p class="ul-vertical-line bg-danger"></p>
                          </div>
                          <div class="ul-widget-s7__item-text">
                              Lorem ipsum dolor sit amit,consectetur eiusmdd
                              tempor<br /> incididunt ut labore et dolore magna
                          </div>
                      </div>
                      <div class="ul-widget-s7__items"><span class="ul-widget-s7__item-time ul-middle">05:30</span>
                          <div class="ul-widget-s7__item-circle">
                              <p class="ul-vertical-line bg-warning"></p>
                          </div>
                          <div class="ul-widget-s7__item-text">
                              Lorem ipsum dolor sit amit,consectetur eiusmdd
                              tempor<br /> incididunt ut labore et dolore magna
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="__g-widget-s7-tab2-content">
                  <div class="ul-widget-s7n">
                      <div class="ul-widget-s7__items mb-4"><span class="ul-widget-s7__item-time ul-middle">12:00</span>
                          <div class="ul-widget-s7__item-circle">
                              <p class="ul-vertical-line bg-danger"></p>
                          </div>
                          <div class="ul-widget-s7__item-text">
                              Lorem ipsum dolor sit amit,consectetur eiusmdd
                              tempor<br /> incididunt ut labore et dolore magna
                          </div>
                      </div>
                      <div class="ul-widget-s7__items mb-4"><span class="ul-widget-s7__item-time ul-middle">08:00</span>
                          <div class="ul-widget-s7__item-circle">
                              <p class="ul-vertical-line bg-info"></p>
                          </div>
                          <div class="ul-widget-s7__item-text">
                              Lorem ipsum dolor sit amit,consectetur eiusmdd
                              tempor<br /> incididunt ut labore et dolore magna
                          </div>
                      </div>
                      <div class="ul-widget-s7__items mb-4"><span class="ul-widget-s7__item-time ul-middle">04:30</span>
                          <div class="ul-widget-s7__item-circle">
                              <p class="ul-vertical-line bg-warning"></p>
                          </div>
                          <div class="ul-widget-s7__item-text">
                              Lorem ipsum dolor sit amit,consectetur eiusmdd
                              tempor<br /> incididunt ut labore et dolore magna
                          </div>
                      </div>
                      <div class="ul-widget-s7__items"><span class="ul-widget-s7__item-time ul-middle">05:30</span>
                          <div class="ul-widget-s7__item-circle">
                              <p class="ul-vertical-line bg-dark"></p>
                          </div>
                          <div class="ul-widget-s7__item-text">
                              Lorem ipsum dolor sit amit,consectetur eiusmdd
                              tempor<br /> incididunt ut labore et dolore magna
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
