<div id="STORE-DASHBOARD-PRODUCTS-IMAGES">
    <div class="main-content">
        <div class="breadcrumb d-flex">
            <button type="button" class="btn btn-danger btn-color-settings text-black mr-2" (click)="back()">
                Regresar
            </button>
            <h1>Im&aacute;genes del Producto</h1>
        </div>
        <div class="separator-breadcrumb "></div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 m-auto col-12">
              <swtvap-component-add-products-images *ngIf="addItem" [productId]="productId" (added)="handleAdded($event)" (revoke)="addItem=false;"></swtvap-component-add-products-images>
              <swtvap-component-update-products-images *ngIf="updateItem" [productId]="productId" [item]="item" (updated)="handleUpdated($event)" (revoke)="updateItem=false;"></swtvap-component-update-products-images>
              <swtvap-component-show-products-images *ngIf="showItem" [item]="item" (revoke)="showItem=false"></swtvap-component-show-products-images>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 m-auto col-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header">
                        <p class="w-50 float-left card-title m-0">Tabla de Im&aacute;genes del Producto</p>
                        <div class="text-right w-50 float-right">
                            <button *ngIf="!product?.deletedAt" type="button" class="btn btn-first btn-color-settings text-black mr-2" (click)="addItem=true;updateItem=false;showItem=false;">
                                Agregar <i class="nav-icon i-Gear-2"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                      <swtvap-component-list-products-images [data]="data" [product]="product" (showed)="handleTableShowed($event)" (deleted)="handleTableDeleted($event)" (updated)="handleTableUpdated($event)"></swtvap-component-list-products-images>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
