<form [formGroup]="checkoutForm" (ngSubmit)="send()">
  <div class="form-row">
    <div class="form-group col-md-6" *ngFor="let formFields of __checkout">
      <label for="inputEmail4">{{ formFields.label }}</label>
      <div *ngIf="formFields.type === 'text'">
        <input
          type="text"
          class="form-control"
          formControlName="{{ formFields.uid }}"
          placeholder="{{ formFields.placeholder }}"
        />

        <small
          class="form-text text-danger"
          *ngIf="
            checkoutForm.controls[formFields.uid].status === 'INVALID' &&
            checkoutForm.controls[formFields.uid].touched
          "
          >{{ formFields.errorMsg }}</small
        >
      </div>
      <div *ngIf="formFields.type === 'textArea'">
        <textarea
          class="form-control"
          formControlName="{{ formFields.uid }}"
          placeholder="{{ formFields.placeholder }}"
        ></textarea>

        <small
          class="form-text text-danger"
          *ngIf="
            checkoutForm.controls[formFields.uid].status === 'INVALID' &&
            checkoutForm.controls[formFields.uid].touched
          "
          >{{ formFields.errorMsg }}</small
        >
      </div>
      <div *ngIf="formFields.type === 'select'">
        <select
          id="inputState"
          class="form-control"
          formControlName="{{ formFields.uid }}"
          title="Select an option"
        >
          <option>Select</option>
          <option
            *ngFor="let optionName of formFields.options"
            value="{{ optionName }}"
            >{{ optionName }}</option
          >
        </select>
        <small
          class="form-text text-danger"
          *ngIf="
            checkoutForm.controls[formFields.uid].status === 'INVALID' &&
            checkoutForm.controls[formFields.uid].touched
          "
          >{{ formFields.errorMsg }}</small
        >
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-outline-primary "  (click)="continue();$event.preventDefault()">
    {{ 'ecommerce.pages.checkout.form.continueShopping' | translate }}
  </a>
  <button
    type="submit"
    class="btn btn-success float-right "
    [disabled]="checkoutForm.invalid"
    *ngIf="cart.cartItemsList && cart.cartTotal"
  >
    {{ 'ecommerce.pages.checkout.form.confirmBuy' | translate }}
  </button>
</form>
