// Definiciones de colores y fuentes
$primary-color: #43100c; // Azul
$secondary-color: #999; // Gris
$alert-color: #ff3860; // Rojo
$success-color: #23d160; // Verde
$font-family-base: "Open Sans", sans-serif;
$footer-background: #262E3A;
$footer-color: #fff;
