<div class="card mb-4">
    <div class="card-body">
        <h2>Id: {{ item.id }}</h2>
        <p>Identificador de Grupo: {{ item.groupId }}</p>
        <p>Descripci&oacute;n: {{ item.description | transformText }}</p>
        <p>Valor: {{ item.value | transformText }}</p>
        <p>Valor1: {{ item.value1 | transformText }}</p>
        <p>Valor2: {{ item.value2 | transformText }}</p>
        <p>C&oacute;digo: {{ item.code | transformText | uppercase }}</p>
        <p>Estado: {{ item.status | status }}</p>
        <p>
          <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
        </p>
    </div>
</div>
