<div class="card mb-4">
    <div class="card-body">
        <h2>Id: {{ item.id }}</h2>
        <p *ngIf="item.groupId">Identificador de Grupo: {{ item.groupId }}</p>
        <p *ngIf="item.description">Descripción: {{ item.description }}</p>
        <p *ngIf="item.value">Valor: {{ item.value }}</p>
        <p *ngIf="item.code">Código: {{ item.code }}</p>
        <p *ngIf="item.position">Posición: {{ item.position }}</p>
        <p>Estado: {{ item.status | status }}</p>
        <p>
          <button class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
        </p>
    </div>
</div>
