<div class="main-header">
    <div class="logo">
        <img src="../../../assets/images/snapstore/logo-snapstore-sm.png" alt="">
    </div>
    <swtvap-menu-toggle></swtvap-menu-toggle>
    <div class="d-flex align-items-center">
        <!-- Mega menu -->
        <swtvap-mega-menu></swtvap-mega-menu>
        <!-- / Mega menu -->
        <swtvap-search-bar></swtvap-search-bar>
    </div>
    <div style="margin: auto"></div>
    <div class="header-part-right">
        <!-- Full screen toggle -->
        <i class="i-Full-Screen header-icon d-sm-inline-block data-fullscreen" data-fullscreen></i>
        <!-- Grid menu Dropdown -->
        <swtvap-widget-menu></swtvap-widget-menu>
        <!-- Notificaiton -->
        <swtvap-dropdown-notification></swtvap-dropdown-notification>
        <!-- Notificaiton End -->

        <!-- User avatar dropdown -->
        <swtvap-dropdown-menu></swtvap-dropdown-menu>
    </div>
</div>
