<div class="main-header">
    <div class="logo">
        <img src="../../../assets/images/snapstore/logo-snapstore-sm.png" alt="">
    </div>
    <app-menu-toggle></app-menu-toggle>
    <div class="d-flex align-items-center">
        <!-- Mega menu -->
        <app-mega-menu></app-mega-menu>
        <!-- / Mega menu -->
        <app-search-bar></app-search-bar>
    </div>
    <div style="margin: auto"></div>
    <div class="header-part-right">
        <!-- Full screen toggle -->
        <i class="i-Full-Screen header-icon d-sm-inline-block data-fullscreen" data-fullscreen></i>
        <!-- Grid menu Dropdown -->
        <app-widget-menu></app-widget-menu>
        <!-- Notificaiton -->
        <app-dropdown-notification></app-dropdown-notification>
        <!-- Notificaiton End -->

        <!-- User avatar dropdown -->
        <app-dropdown-menu></app-dropdown-menu>
    </div>
</div>
