<div *ngIf="data.length" class="table-responsive" appPagination [positions]="[2, 4]" [search]="searchTerm">
  <input type="text" [(ngModel)]="searchTerm" class="form-control mb-3 app-pagination-input-search" placeholder="Buscar por c&oacute;digo o por descripci&oacute;n...">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
            <th>#</th>
            <th>Identificador de Grupo</th>
            <th>Descripci&oacute;n</th>
            <th>Valor</th>
            <th>Valor1</th>
            <th>Valor2</th>
            <th>C&oacute;digo</th>
            <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index" >
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>{{ item.code | uppercase }}</td>
                  <td>{{ item.groupId | emptyText }}</td>
                  <td>{{ item.description | truncateText }}</td>
                  <td>{{ item.value | truncateText }}</td>
                  <td>{{ item.value1 | truncateText }}</td>
                  <td>{{ item.value2 | truncateText }}</td>
                  <td>
                    <div class="d-flex flex-column">
                      <button type="button" class=" btn btn-success-2 font-16px" (click)="add(item)">Asignar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td colspan=8>
              A&uacute;n no se ha agregado ning&uacute;n registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
