<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
            <th>ID</th>
            <th>Identificador de Grupo</th>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Código</th>
            <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data" >
              <tr>
                  <td>{{ item.code }}</td>
                  <td>{{ item.code }}</td>
                  <td>{{ item.groupId | emptyText }}</td>
                  <td>{{ item.description | truncateText }}</td>
                  <td>{{ item.value | truncateText }}</td>
                  <td>
                    <div class="d-flex flex-column">
                      <button class=" btn btn-success-2 mr-2 font-16px" (click)="add(item)">Asignar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td COLSPAN=6>
              Aun no se a agregado ningun registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
