
<div>
    <form [formGroup]="itemForm" (ngSubmit)="add()">
      <h2>Agregar</h2>
      <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="email">Correo:</label>
                <input type="text" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="email">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="subscribedAt">Fecha de Suscripci&oacute;n (YYYY-MM-DD):</label>
                <input type="text" class="form-control" id="subscribedAt" formControlName="subscribedAt" maxlength="10" appDateFormat>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="status">Estado:</label>
                <input type="checkbox" class="form-control" id="status" formControlName="status" >
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
              <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Agregar</button>
              <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
            </div>
        </div>
      </div>
      <ng-container *ngIf="!itemForm.valid">
        <p>¡Registro No Valido!</p>
      </ng-container>
    </form>
</div>
