<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>#</th>
              <th>M&eacute;todo de Pago</th>
              <th>Tipo de Pago</th>
              <th>Monto</th>
              <th>Fecha de Transacci&oacute;n</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data; let i = index">
              <tr>
                  <td>{{ (i + 1 )}}</td>
                  <td>{{ item.paymentMethod }}</td>
                  <td>{{ item.typeCurrency }}</td>
                  <td>{{ item.amount | addZeros }}</td>
                  <td>{{ item.transactionDate | date }}</td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button type="button" class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button type="button" class=" btn btn-first mr-2 font-16px" (click)="update(item)">Actualizar</button>
                      <button type="button" class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td colspan=6>
              A&uacute;n no se ha agregado ning&uacute;n registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
