<div class="table-responsive">
  <table class="table table-bordered text-center" aria-label="Table of products">
      <thead>
          <tr>
              <th>ID</th>
              <th>Método de Pago</th>
              <th>Monto</th>
              <th>Fecha de Transacción</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor="let item of data" >
              <tr>
                  <td>{{ item.orderTransactionId }}</td>
                  <td>{{ item.paymentMethod }}</td>
                  <td>{{ item.amount }}</td>
                  <td>{{ item.transactionDate }}</td>
                  <td>
                    <div class="d-flex flex-column align-items-center">
                      <button class=" btn btn-success-2 mr-2 font-16px" (click)="show(item)">Mostrar</button>
                      <button class=" btn btn-first mr-2 font-16px" (click)="update(item)">Actualizar</button>
                      <button class=" btn btn-danger-2 mr-2 font-16px" (click)="delete(item)">Eliminar</button>
                    </div>
                  </td>
              </tr>
          </ng-container>
        <tr *ngIf="!data.length">
          <td COLSPAN=5>
              Aun no se a agregado ningun registro
          </td>
        </tr>
      </tbody>
  </table>
</div>
