<div class="row">
    <app-top-bar-default style="width: 100%;" [stores_celphone]='store?.stores_celphone' [type]="2" [stores_email]='store?.stores_email' [stores_whatsapp]='store?.stores_whatsapp' [stores_image]='store?.stores_image' [stores_name]='store?.stores_name' [stores_facebook]='store?.stores_facebook'
        [stores_instagram]='store?.stores_instagram' [stores_uri]='store?.stores_uri' [type]="2" [dropDownType]="getType()" [stores_id]='store?.stores_id' [hide_cart]='true'></app-top-bar-default>
</div>
<div class="container">
    <div class="col-lg-12 pr-0 pl-0 col-md-12 col-sm-12 col-12 ">
        <app-header-default [theme_color_primary]='store?.store_customizer_bootstrap[0].theme_color_primary' [stores_user_like]='store?.stores_user_like' [stores_user_follow]='store?.stores_user_follow' [stores_uri]='store?.stores_uri' [stores_image_url]='getImagePrincipal()'
            [stores_name]='store?.stores_name' [store_address_google_maps]='store_address_google_maps' [stores_address]='store?.stores_address' [hours]='store?.hours' [stores_description]='store?.stores_description' [stores_nickname]='store?.stores_nickname'
            [stores_celphone]='store?.stores_celphone' [stores_email]='store?.stores_email' [stores_whatsapp]='store?.stores_whatsapp' [stores_facebook]='store?.stores_facebook' [stores_instagram]='store?.stores_instagram' [stores_collect]='store?.stores_collect'
            [stores_delivery]='store?.stores_delivery' [stores_coverage]='store?.stores_coverage' [stores_despatch_time]='store?.stores_despatch_time'>
        </app-header-default>
    </div>
    <div class="row mt-5">
        <div class="container">
            <div class="spinner-block-white" id="PRELOAD-FORMULARIO-PAGO" [hidden]="!toPayForm.submitted">

            </div>
            <div class="py-5 text-center">
                <h2 style="text-decoration: underline;">Formulario de pedido</h2>
            </div>


            <div>
                <div class="row g-3">
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted-2">Tu carrito</span>
                            <!--<span class="badge bg-secondary rounded-pill">3</span>-->
                        </h4>
                        <ul class="list-group mb-3">
                            <li *ngFor="let item of products; let i=index" class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">{{item.products_name}}</h6>
                                    <small class="text-muted-2">{{item.subcategories_description}}</small>
                                </div>
                                <span class="text-muted-2">{{item?.products_cart_price | number : '.1-3'}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (PEN)</span>
                                <strong>{{ getPT() | number : '.1-3' }}</strong>
                                <!--    {{ precioTotal| number : '.1-3' }}    -->
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7 col-lg-8">


                        <h4 class="mb-3 d-none ">Dirección de Envio</h4>

                        <form #toPayForm="ngForm" (ngSubmit)="onSubmit()" appIdentityRevealed>
                            <!--class="needs-validation" -->
                            <div class="row g-3 cross-validation" [class.cross-validation-error]="toPayForm.errors?.identityRevealed 
                            && (toPayForm.touched || toPayForm.dirty)">

                                <div class="col-sm-6">
                                    <label for="first_name" class="form-label">Primer nombre</label>
                                    <input type="text" class="form-control border-input" #first_name="ngModel" name="first_name" id="first_name" [(ngModel)]="user.first_name" id="first_name" placeholder="Primer nombre" value="" required="">
                                    <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class=" invalid-feedback">
                                        <!--alert alert-danger alert-invalid-dirty-->
                                        Nombre ingresado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control border-input" #last_name="ngModel" name="last_name" id="last_name" [(ngModel)]="user.last_name" id="last_name" placeholder="Apellido" value="" required="">
                                    <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class=" invalid-feedback">
                                        <!--alert alert-danger alert-invalid-dirty-->
                                        Apellido ingresado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 mt-2">
                                    <label for="document_type" class="form-label">Tipo de documento</label>
                                    <select id="document_type" name="document_type" (change)="selectTypeDocument($event)" class="form-control form-select border-input" required [(ngModel)]="user.document_type" #document_type="ngModel">
                                        <!--<option value="">Escoger...</option>-->
                                        <option *ngFor="let p of documents_type" [value]="p">{{p}}</option>
                                    </select>
                                    <small id="emailHelp" class="form-text text-muted-2">Seleccione su tipo de documento (DNI,
                                        RUC, E-EXTRANJERÍA).</small>
                                    <div *ngIf="document_type.invalid && (document_type.dirty || document_type.touched)" class=" invalid-feedback">
                                        <!--alert alert-danger alert-invalid-dirty-->
                                        Tipo de documento seleccionado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                                    </div>

                                </div>

                                <div class="col-sm-6 mt-2">
                                    <label for="document" class="form-label">N° de documento</label>
                                    <input type="text" appForbiddenName="bob" class="form-control border-input" #document="ngModel" name="document" id="document" [(ngModel)]="user.document" pattern="{{typePatternDocument}}" id="document" placeholder="N° de documento" required>
                                    <small id="emailHelp" class="form-text text-muted-2">Nunca compartiremos su documento con
                                        nadie más.</small>
                                    <div *ngIf="document.invalid && (document.dirty || document.touched)" class=" invalid-feedback">
                                        Número de documento ingresado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="celphone" class="form-label">Celular </label>
                                    <div class="input-group border-input-group-prepend ">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text p-0 border-select-input">
                                                <select id="country_phone_code" (change)="countryPhone($event)" name="country_phone_code" class="form-control   border-input " required [(ngModel)]="user.country_phone_code" #country_phone_code="ngModel">
                                                    <option
                                                        [ngStyle]="{backgroundImage:'url(https://flagcdn.com/48x36/'+(p.iso2).toLowerCase()+'.png)'}"
                                                        *ngFor="let p of allContries" [value]="p.phone_code">{{p.name_es}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="text" appForbiddenName="bob" minlength="9" [(ngModel)]="user.celphone" #celphone="ngModel" pattern="[0-9]*" class="form-control input-middle-prepend-append border-input border-select-input-gorup" name="celphone" id="celphone" placeholder="Celular"
                                            required>
                                        <div class="input-group-append">
                                            <div style="background: transparent;" class="input-group-text  p-0">
                                                <img style="width: 30px;margin-left: 1em;margin-right: 1em;" class="img-celphone" src="https://flagcdn.com/48x36/pe.png">
                                            </div>
                                        </div>

                                    </div>
                                    <div *ngIf="celphone.invalid && (celphone.dirty || celphone.touched)" class=" invalid-feedback">
                                        Número de celular ingresado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                                    </div>

                                </div>

                                <div class="col-12 mt-2">
                                    <label for="email" class="form-label">
                                        Correo electrónico 
                                        
                                    </label>
                                    <input type="email" appForbiddenName="bob" [(ngModel)]="user.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control border-input" name="email" id="email" placeholder="Correo electrónico" required>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class=" invalid-feedback">
                                        Correo electrónico ingresado incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                                    </div>
                                </div>
                                <!--style="transform: scale(0.5);"-->


                                <div class="col-12 mt-2">
                                    <label for="address" class="form-label">Dirección</label>
                                    <input type="text" appForbiddenName="bob" class="form-control border-input" #address="ngModel" name="address" id="address" [(ngModel)]="user.address" id="address" placeholder="Dirección" required>
                                    <div *ngIf="address.invalid && (address.dirty || address.touched)" class=" invalid-feedback">
                                        Dirección ingresada incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="reference" class="form-label">Referencia</label>
                                    <input type="text" appForbiddenName="bob" #reference="ngModel" name="reference" id="reference" [(ngModel)]="user.reference" id="reference" class="form-control border-input" placeholder="Referencia" required>
                                    <div *ngIf="reference.invalid && (reference.dirty || reference.touched)" class=" invalid-feedback">
                                        Referencia ingresada incorrectamente <span class="mdi mdi-arrow-up-bold"></span>
                                    </div>
                                </div>

                                <div class="col-12 mt-2">
                                    <label for="comment" class="form-label">Comentario <span class="text-muted-2">(opcional)</span></label>
                                    <textarea appForbiddenName="bob" class="form-control border-input" #comment="ngModel" name="comment" id="comment" [(ngModel)]="user.comment" id="comment" placeholder="Comentario"></textarea>
                                    <!--required-->

                                </div>



                                <!--
                                    <div class="col-md-5 mt-2">
                                        <label for="country" class="form-label">País</label>
                                        <select class="form-control form-select border-input"
                                            appForbiddenName="bob"  
                                            required="">
                                            <option  [value]="179">Perú</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mt-2">
                                        <label for="deparments" class="form-label">Departamento</label>
                                        <select class="form-control form-select border-input"   (change)="OnChangeDepartments($event.target.value)">
                                            <option  [value]="item.id" *ngFor="let item of store?.stores_deparments; let i=index" >{{item.name}}</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-md-3 ">
                                    </div>
                                
                                    <div class="col-md-5 mt-2">
                                        <label for="provinces" class="form-label">Provincia</label>
                                        <select class="form-control form-select border-input"  (change)="OnChangeProvinces($event.target.value)" required="">
                                            <option  [value]="item.id" *ngFor="let item of provinces; let i=index">{{item.name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4 mt-2">
                                        <label for="districts" class="form-label">Distrito</label>
                                        <select class="form-control form-select border-input"   (change)="OnChangeDistricts($event.target.value)"  required="">
                                            <option [value]="item.id" *ngFor="let item of districts; let i=index">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 ">
                                    </div>
                                      <hr class="my-4">



                            <hr class="my-4">

                            <div class="form-check">
                                <input class="form-check-input" [(ngModel)]="user.check_save_to_pay_form" name="check_save_to_pay_form"
                                 #check_save_to_pay_form="ngModel" type="checkbox" id="check_save_to_pay_form" checked>
                                <label class="form-check-label" for="check_save_to_pay_form">
                                    Guarde esta información para la próxima vez
                                </label>
                            </div>

                                -->

                            </div>
                            <hr class="my-4">
                            <div class="col-12 mt-2" style="    font-size: 16px;">
                                <input type="checkbox" appForbiddenName="bob" class=" " #check_delivery_type="ngModel" name="check_delivery_type" id="check_delivery_type" [(ngModel)]="user.check_delivery_type">
                                <label for="check_delivery_type" class="form-label ml-2">No incluir delivery, coordinar recojo en tienda</label>

                            </div>
                            <div class="col-12 mt-2" style="    font-size: 16px;">
                                <label class="form-label ml-2">¡Recuerde el costo de delivery se coordina directamente con el negocio! </label>
                            </div>
                            <hr class="my-4">
                            <h5 class="mb-3">MÉTODOS DE PAGO</h5>
                            <div class="d-flex flex-column mb-4">
                                <div>
                                    <div class="d-flex  flex-wrap mt3 ">
                                        <div *ngFor="let item of store.payment_card; let i=index">
                                            <div *ngIf="item.type==0" class="mt-0 m-auto pb-1 cards-store-product-2">
                                                <label for="payment_type{{item.id}}" class="d-flex justify-content-center align-items-center">
                                                        <input type="radio" class=" "  name="payment_type" id="payment_type{{item.id}}" [checked]="true" [attr.data]="item.id">
                                                        <p class="mb-0 mt-0 ml-2 ">
                                                            <span>Pago en Efectivo</span>
                                                            <img *ngFor="let cd of item.payment; let i=index"  style="max-width: 95px;"  src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}"   class="w-100 ml-2">
                                                        </p>
                                            
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <div class="d-flex  flex-wrap flex-store-bottom-transferencia-default">
                                        <div *ngFor="let item of store.payment_card; let i=index" class="d-flex">
                                            <div *ngIf="item.type==1" class=" pt-0 pb-1 mt-0 m-auto cards-store-product">
                                                <label for="payment_type{{item.id}}" class="d-flex justify-content-center align-items-center">
                                                    <input type="radio"  id="payment_type{{item.id}}"  class=" "  name="payment_type" 
                                                    [attr.data]="item.id" >
                                                    
                                                    <p class="mb-0 mt-0 ml-2 ">
                                                        <img *ngFor="let cd of item.card; let i=index" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" style="    max-width: 95px;" class="d-block">
                                                        <span  *ngIf="item.name!=null  && item.name!=''" class="mt-1 mb-1"># Titular: {{  item.name }}</span>
                                                        <br/>
                                                        <span *ngIf="item.num_count!=null  && item.num_count!=''" class="mt-1 mb-1"># Cuenta: {{  item.num_count }}</span>
                                                        <br/>
                                                        <span  *ngIf="item.num_count_cci!=null  && item.num_count_cci!=''" class="mt-1 mb-1"># CCI: {{  item.num_count_cci }}</span>
                                                        
                                                    </p>
                                                </label>
                                                <p class="d-flex pr-1 pl-1 vm">
                                                    <span *ngIf="item.visa==1&& item.mastercard==0">Visa</span>
                                                    <span *ngIf="item.visa==1 && item.mastercard==1">Visa y Mastercard</span>
                                                    <span *ngIf="item.visa==0&& item.mastercard==1">Mastercard</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-wrap flex-store-bottom-apps-default">
                                    <div>

                                        <div class="d-flex items-center flex-wrap mt3 flex-store-bottom-default">
                                            <div *ngFor="let item of store.payment_card; let i=index">
                                                <div *ngIf="item.type==2" class=" pt-0 pb-1 mt-0 m-auto cards-store-product-3">
                                                    <label for="payment_type{{item.id}}" class="d-flex justify-content-center align-items-center">
                                                        <input type="radio"  id="payment_type{{item.id}}" class=" "  name="payment_type" [attr.data]="item.id"
                                                         >
                                                         <p class="mb-0 mt-0 ml-2 ">
                                                            <img *ngFor="let cd of item.payment; let i=index" style=" max-width: 80px" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" class="w-100">
                                                            <br/>
                                                            <span  *ngIf="item.name!=null  && item.name!=''" class="mt-1 mb-1"># Titular: {{  item.name }}</span>
                                                            <br/>
                                                            <span *ngIf="item.celphone!=null  && item.celphone!=''" class="mt-1 mb-1"># Celular: {{  item.celphone }}</span>

                                                        </p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap flex-store-bottom-apps-default">
                                    <div>
                                        <div class="d-flex items-center flex-wrap mt3 flex-store-bottom-default">
                                            <div *ngFor="let item of store.payment_card; let i=index" class="d-flex">
                                                <div *ngIf="item.type==3" class=" pt-0 pb-1 mt-0 m-auto  cards-store-product-3">
                                                    <label for="payment_type{{item.id}}" class="d-flex justify-content-center align-items-center">
                                                        <input type="radio"  id="payment_type{{item.id}}" class=" "  name="payment_type" [attr.data]="item.id" 
                                                        >
                                                        <p class="mb-0 mt-0 ml-2 ">
                                                            <img *ngFor="let cd of item.payment; let i=index" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" style=" max-width: 100px;" class="w-100">
                                                            <br/>
                                                            <span  *ngIf="item.comision!=null  && item.comision!=''" class="mt-1 mb-1"># Comision: {{  item.comision }}%</span>
                                                           
                                                        </p>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />

                            <button [disabled]="toPayForm.invalid" class="w-100 btn btn-first btn-lg border-input" type="submit" (click)="goToFinalizarFormularioPago()">Finalizar Pedido de la Orden</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer-store-default [textWhatsapp]="store?.stores_name" [phoneWhatsapp]="store?.stores_whatsapp" [image]="getImagePrincipal()" [store]="store?.stores_name"></app-footer-store-default>
<!--

                            <hr class="my-4">
<h4 class="mb-3">Pago</h4>

<div class="my-3">
<div class="form-check">
<input id="credit" [(ngModel)]="user.check_payment_method" 
#check_payment_method="ngModel" [value]="0" 
name="paymentMethod" type="radio" class="form-check-input"
    checked >
<label class="form-check-label" for="credit">Tarjeta de crédito</label>
</div>
<div class="form-check">
<input id="debit" [(ngModel)]="user.check_payment_method" 
#check_payment_method="ngModel" [value]="1"
    name="paymentMethod" type="radio" class="form-check-input"
    >
<label class="form-check-label" for="debit">Tarjeta de débito</label>
</div>
<div class="form-check">
<input id="paypal"  [(ngModel)]="user.check_payment_method" 
#check_payment_method="ngModel" [value]="2"
    name="paymentMethod" type="radio" class="form-check-input"
    >
<label class="form-check-label" for="paypal">PayPal</label>
</div>
</div>

<div class="row gy-3">
<div class="col-md-6">
<label for="cc-name" class="form-label">Nombre de propietario de
    la tarjeta</label>
<input type="text" class="form-control border-input" id="cc-name" placeholder=""
    required="">
<small class="text-muted-2">Nombre completo como se muestra en la
    tarjeta</small>
<div class="invalid-feedback">
    Name on card is required
</div>
</div>

<div class="col-md-6">
<label for="cc-number" class="form-label">Número de tarjeta de
    crédito</label>
<input type="text" class="form-control border-input" id="cc-number" placeholder=""
    required="">
<div class="invalid-feedback">
    Credit card number is required
</div>
</div>

<div class="col-md-3">
<label for="cc-expiration" class="form-label">Vencimiento</label>
<input type="text" class="form-control border-input" id="cc-expiration"
    placeholder="" required="">
<div class="invalid-feedback">
    Expiration date required
</div>
</div>

<div class="col-md-3">
<label for="cc-cvv" class="form-label">CVV</label>
<input type="text" class="form-control border-input" id="cc-cvv" placeholder=""
    required="">
<div class="invalid-feedback">
    Security code required
</div>
</div>
</div>
-->


<!--
<div class="form-check">
<input type="checkbox" class="form-check-input" id="same-address">
<label class="form-check-label" for="same-address">La dirección de
envío es la misma que mi dirección de
facturación</label>
</div>

-->
<!--<div class="form-group row">
<div class="col-sm-12 text-left">
    <div class="form-check">
        <input class="form-check-input" [(ngModel)]="user.check_terms_conditions"
            name="check_terms_conditions" #check_terms_conditions="ngModel" type="checkbox"
            id="check_terms_conditions" checked required>
        <label class="form-check-label" for="check_terms_conditions">
            Estoy de acuerdo con los <a target="_blank" style=" text-decoration: underline;"
                href="#">Términos y Condiciones </a>
        </label>
    </div>
</div>
</div>
<div *ngIf="check_terms_conditions.invalid" class="alert alert-danger alert-invalid-dirty">
Recuerde aceptar los términos y condiciones <span class="mdi mdi-arrow-up-bold"></span>
<p><a target="_blank" style=" text-decoration: underline;" href="#">Pulse aquí para
        descargar los términos y condiciones</a></p>
</div>
<div class="form-group row">
<div class="col-sm-12 text-left">
    <div class="form-check">
        <input class="form-check-input" [(ngModel)]="user.check_politics_privacy"
            name="check_politics_privacy" #check_politics_privacy="ngModel" type="checkbox"
            id="check_politics_privacy" checked required>
        <label class="form-check-label" for="check_politics_privacy">
            Acepto la <a target="_blank" style=" text-decoration: underline;"
                href="#">Política de Privacidad </a>
        </label>
    </div>
</div>
</div>
<div *ngIf="check_politics_privacy.invalid" class="alert alert-danger alert-invalid-dirty">
Recuerde aceptar las políticas de privacidad <span class="mdi mdi-arrow-up-bold"></span>
<p><a target="_blank" style=" text-decoration: underline;" href="#">Pulse aquí para
        descargar las políticas de privacidad</a></p>
</div>
<div class="form-group row">
<div class="col-sm-12 text-left">
    <div class="form-check">
        <input class="form-check-input" [(ngModel)]="user.check_emails_snap_store"
            name="check_emails_snap_store" #check_emails_snap_store="ngModel"
            type="checkbox" id="check_emails_snap_store" checked>
        <label class="form-check-label" for="check_emails_snap_store">
            Estoy de acuerdo con recibir correos de Snap Store
        </label>
    </div>
</div>
</div>-->