<header>
  <div class="barra">
    <div class="contenedor derecha">
      <a href="#" class="linea">Contacto</a>
      <a href="#">Login</a>
    </div>
  </div>
  <nav>
      <div class="contenedor">
        <div class="header-menu">
          <div class="nav-left">
            <div class="logo">
              <img src="https://images.squarespace-cdn.com/content/v1/5150595de4b0e2959602bec8/1525371540925-5PFSY6XWZAGNV6699R1P/ke17ZwdGBToddI8pDm48kFsVEl_J2xQiQy9UtzEzF3wUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcgwlwTsSLrrtXvJpx84EYhWg2NQOVgp5ZTJHZ0w3bFca0fomrR37BgT5hBqtM_G__/4515214.png" alt="">
            </div>
            <ul class="nav-categorias">
              <li class="menu-item">
                <a href="#">Hombre</a>
              </li>
              <li class="menu-item">
                <a href="#">Mujer</a>
              </li>
              <li class="menu-item">
                <a href="#">Niños</a>
              </li>
              <li class="menu-item">
                <a href="#">Ofertas</a>
              </li>

            </ul>


          </div>
          <div class="nav-right">
            <div class="nav-right-icon nav-search">
              <i class="fas fa-search"></i>
            </div>
            <div class="nav-right-icon nav-login">
              <i class="fas fa-user"></i>
            </div>
            <div class="nav-right-icon nav-cart">
              <div class="block-cart">
                <div class="header-cart">


                  <a href="#">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="cart-cantidad">12</span>
                  </a>
                </div>

              </div>
            </div>
          </div>

        </div>
    </div>
  </nav>
</header>
