<header>
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel" *ngIf="!hideNotCarrousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let item of carrouselStore; index as i " class="carousel-item {{i===0?'active':''}}">
        <img class="d-block w-100"
            [src]="item?.description"
            alt="First slide">
            <div class="carousel-caption d-md-block mb-4" >
              <h3 class="text-white">Sumac Chasca Per&uacute; {{ 'ecommerce.common.craft' | translate }}</h3>
              <p style="visibility: hidden!important;">x</p>
              <a style="visibility: hidden!important;" href="#" class="btn btn___primary text-white">x</a>
            </div>
        <!--
            <div class="carousel-caption d-md-block mb-4 d-none" *ngIf="item?.value">
          <h3 class="text-white">{{item?.value | sticks:0 }}</h3>
          <p>{{item?.value | sticks:1 }}</p>
          <a href="#" class="btn btn___primary text-white">{{item?.value | sticks:2 }}</a>
        </div>
        -->
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="benefits"  *ngIf="!hideNotBenefit" [ngStyle]="{paddingTop:hideNotCarrousel?'3rem':'auto', paddingBottom:hideNotCarrousel?'3rem':'auto'}">
    <div class="container content">
      <div *ngFor="let item of proposal;" class="content-item" >
        <div class="icon">
          <i class="{{ 'ecommerce.benefits.items.'+item+'.icon' | translate }}"></i>
        </div>
        <div class="text">
          <h2>{{ 'ecommerce.benefits.items.'+item+'.title' | translate }}</h2>
          <p>{{ 'ecommerce.benefits.items.'+item+'.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</header>
