<!--https://stackblitz.com/edit/image-cropper?file=app%2Fimage-cropper%2Fcomponent%2Fimage-cropper.component.ts-->
<div id="STORE-DASHBOARD-COMMENTS">
  <div class="spinner-store-block-white-dashboard " id="PRELOAD-DASHBOARD-BANNERS"  [style.background]="store?.store_customizer_bootstrap[0].theme_color_first"  hidden>
  
  </div>
  <div class="alerts" style=" z-index: 999;">

  </div>
  <div [ngClass]="{'':preloadDashboard==true,'d-none':preloadDashboard==false}">
    <div class="row" >
      <div class="col-12">
        <h2>Imagenes de Banners del negocio <strong>(1200px X 420px)</strong></h2>
      </div>
      <div class="col-12">
        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="fileChangeEvent($event)" > 
              <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Suba su imagen</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="inputGroupFileAddon02">Subir</span>
            </div>
        </div>
       
      </div>
      <div class="col-12">
        <div class="row pl-3">
          <div class="form-group mr-1">
            <button class="btn btn-first " (click)="resetImage()">Restaurar cambios</button>
          </div>
          <div class="form-group  mr-1">
            <button class="btn btn-info " (click)="zoomOut()">Zoom -</button> 
            <button class="btn btn-info "(click)="zoomIn()">Zoom +</button>
          </div>
          <div class="form-group">
            <button class="btn btn-first " [ladda]="isLoadingBanner" (click)="saveImageCarousel()">Guardar</button>
          </div>
        </div>
      </div>
      <div class="col-12">
          <app-admin-dashboard-image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [containWithinAspectRatio]="containWithinAspectRatio"
              [aspectRatio]="20 / 7"
              [resizeToWidth]="1200"
              [cropperMinWidth]="1200"
              [cropperMinHeight]="420"
              [onlyScaleDown]="true"
              [roundCropper]="false"
              [canvasRotation]="canvasRotation"
              [transform]="transform"
              [alignImage]="'left'"
              [style.display]="showCropper ? null : 'none'"
              format="png"
              [style.width.px]='1200'
              [style.height.px]='420'
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady($event)"
              (loadImageFailed)="loadImageFailed()"
          ></app-admin-dashboard-image-cropper>
      
      </div>

      <div class="col-lg-6 col-md-6 col-sm-8 col-12">

        <div class="table-responsive" >
          <table  class="table table-bordered text-center">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Imagen</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of banners; let j= index">
                      <td>{{j+1}}</td>
                      <td scope="col">
                          <img   [style.width.px]='151' [style.height.px]='53'
                           src="{{getBannerImage(item.id,item.store_id,item.image)}}"/>
                      </td>
                      <td>
                        <button class="btn btn-danger-2  " [ladda]="isLoadingDeleteBanner" (click)="deleteBannerImage(item.id)"> Eliminar <i class="fas fa-times"></i></button>                      </td>
                  </tr>
                  <tr *ngIf="banners.length<=0">
                      <td COLSPAN=3>
                          Aún no hay imagenes de producto
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-4 col-12">
        </div>

        
        <!--
         

          <img [src]="croppedImage" 
        [style.width.px]='1200'
        [style.height.px]='420'
        [style.border]="croppedImage ? '1px solid black' : 'none'" />-->
      </div>
      
    </div>
    
    <div class="row mt-3">
      <div class="col-12">
        <h2>Imagen de Perfil <strong>(400px X 400px)</strong></h2>
      </div>
      <div class="col-12">
        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="fileChangeEventProfile($event)" > 
              <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Suba su imagen</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="inputGroupFileAddon02">Subir</span>
            </div>
        </div>
        
      </div>
      <div class="col-12">
        <div class="row pl-3">
          <div class="form-group mr-1">
            <button class="btn btn-first " (click)="resetImage()">Restaurar cambios</button>
          </div>
          <div class="form-group mr-1">
            <button class="btn btn-info " (click)="zoomOut()">Zoom -</button> 
            <button class="btn btn-info "(click)="zoomIn()">Zoom +</button>
          </div>
          <div class="form-group">
            <button class="btn btn-first " (click)="saveImagePerfil()" [ladda]="isLoadingProfile">Guardar</button>
          </div>
        </div>
      </div>
      <div class="col-12">
          <app-admin-dashboard-image-cropper
    
              [imageChangedEvent]="imageChangedProfileEvent"
              [maintainAspectRatio]="true"
              [containWithinAspectRatio]="containWithinAspectRatio"
              [aspectRatio]="1 / 1"
              [resizeToWidth]="400"
              [cropperMinWidth]="400"
              [cropperMinHeight]="400"
              [onlyScaleDown]="true"
              [roundCropper]="false"
              [canvasRotation]="canvasRotation"
              [transform]="transform"
              [alignImage]="'left'"
              [style.width.px]='200'
              [style.height.px]='200'
              [style.display]="showCropperProfile ? null : 'none'"
              format="png"
              (imageCropped)="imageCroppedProfile($event)"
              (imageLoaded)="imageLoadedProfile()"
              (cropperReady)="cropperReady($event)"
              (loadImageFailed)="loadImageFailed()"
          ></app-admin-dashboard-image-cropper>
      </div>
      <div class="col-12" *ngIf="profile.length > 0">
        
        <img *ngFor="let item of profile;  let j= index" [src]="getProfileImage(item.id,item.image,item.path,item.image_url)" 
          [style.width.px]='200'
          [style.height.px]='200'
          [style.border]="croppedImageProfile ? '1px solid black' : 'none'" />
        </div>
      
    
    </div>
  </div>
</div>


<!--https://stackblitz.com/edit/image-cropper?file=app%2Fimage-cropper%2Fcomponent%2Fimage-cropper.component.ts-->

  <!--<div class="col-12 text-center">
    <img src="{{APP_URL}}assets/images/snapstore/placeholder-200X200-2.png" alt="..." class="img-thumbnail img-icon">
  </div>-->
  <!--<div class="col-12">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="    max-width: 1200px;margin: auto;">
          <div class="carousel-inner" >
            <div class="carousel-item active">
              <img src="{{APP_URL}}assets/images/snapstore/placeholder-1200X420-2.png" class="d-block w-100 img-banner" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{APP_URL}}assets/images/snapstore/placeholder-1200X420-2.png" class="d-block w-100 img-banner" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{APP_URL}}assets/images/snapstore/placeholder-1200X420-2.png" class="d-block w-100 img-banner" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>
      </div>
  </div>-->
  <!--
     [cropperStaticWidth]="200"
          [cropperStaticHeight]="200"
           [style.width]='200'
          [style.height]='200'
          [maxSize]="maxSizeProfile"  
  -->