<div class="card bg-dark text-{{tipo}} o-hidden {{claseprincipal}}">
  <img class="card-img" src="{{url}}" alt="Card image">
  <div class="card-img-overlay">
      <h5 class="card-title text-{{tipo}}">{{titulo}}</h5>
      <p class="card-text text-{{tipo}}">{{subtitulo}}</p>
      <p class="card-text text-{{tipo}}" [innerHTML]="contenidoFooter | sanitizeHtml "></p>

  </div>
</div>
<!--
   <app-card-bg-medium [titulo]="'Card title'" [subtitulo]="'This is a wider card with supporting text below as a natural lead-in to additional content.'"  [claseprincipal]="'mb-2'" [tipo]="'primary'" [url]="'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTHzXK8AzFzc7HV9O1QcELVaLXpG_b0S1-Y5A&usqp=CAU'" [contenidoFooter]="'Last updated 3 mins ago'"></app-card-bg-medium>
  <app-card-bg-medium [titulo]="'Card title'" [subtitulo]="'This is a wider card with supporting text below as a natural lead-in to additional content.'"  [claseprincipal]="'mb-2'" [tipo]="type" [url]="'../../../../assets/images/photo-wide-2.jpg'" [contenidoFooter]="'Last updated 3 mins ago'"></app-card-bg-medium>

-->
