.boder-card-ecoommerce-image-style{
    border-radius: 15px;
    border-style: solid;
    border-width: 0px;
}
.img-card-ecoommerce-image-style{
    /*height: fit-content;*/
    /*max-height: 450px;
    object-fit: cover;*/
}
.add-cart-card-ecommerce-image{
    bottom: 0;
    right: 0;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: flex-end;
}

.message-whatsapp-store{
    border-radius: 28px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    text-align: center;
    
}

.card-body-content-ecommerce-image{
    padding: 10px 10px;
}

.color-ecommerce-text{
    color:var(--theme_color_background_text);
}
.price-card-ecommerce-image{
    border-radius: var(--border-radius);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12) !important;
    color:var(--theme_color_background_text);
    
    border-bottom-right-radius: 0px;
    border-top-right-radius: 50px;
    border-top-left-radius: 0px;

}
.product-card-ecommerce-agotado{
    color: white;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    padding: 3px 8px 4px;
    background: var(--theme_color_danger);
    border: 1px solid var(--theme_color_danger);
    margin: 0px;
    transform: rotate(338deg);
    margin-top: 45px;
    font-size: 1rem;
    z-index: 9;
}


.tag{
    border-style: solid;
    border-width: 2px;
    border-color: var(--theme_color_first);
}

.rounded{
    border-style: solid;
    border-radius: 15px!important;
    border-width: 1px;
}
.rounded-circle-color{
    display: inline-block;
    border-radius: 35px;
    width: 25px;
    height: 25px;
}
