<div *ngFor="let item of sizeArray"  >
    f
</div>

<!--

<div *ngFor="let item of $comments; let i= index"  [ngClass]="{'pt-3': i === 0}"
 class="media text-muted   d-flex flex-column " >
                 
    <p class="media-body pb-3 w-100 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">{{item.name}} - {{item.email}}</strong>
      {{item.comment}}
    </p>
    <p *ngIf="item.response!=null&&item.response!=''" class="media-body pb-3 w-100 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Respuesta:</strong>
      {{item.response}}
    </p>
    <hr class="mb-0"/>
</div>






    <div *ngFor="let item of $comments;let i=index;"  
 class="media text-muted   d-flex flex-column " >
                 
   <p class="media-body pb-3 w-100 mb-0 small lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark">{{getComment(i).name}} - {{getComment(i).email}}</strong>
    {{getComment(i).comment}}
  </p>
  <p *ngIf="getComment(i).response!=null&&getComment(i).response!=''" class="media-body pb-3 w-100 mb-0 small lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark">Respuesta:</strong>
    {{getComment(i).response}}
  </p>
  <hr class="mb-0"/>
</div>
-->