<div class="card text-first o-hidden mb-3 boder-card-ecoommerce-image-style" style="box-shadow:0 0.125rem 4rem 5px rgb(0 0 0 / 8%)">
    <div class="card text-first o-hidden boder-card-ecoommerce-image-style">
        <div *ngIf="imageArray.length >= 2">
            <!--
            <owl-carousel-o #owl [options]="customOptions" (changed)="getData($event)" (initialized)="getPassedData($event,owl)">
                <ng-template carouselSlide *ngFor="let im of imageArray;  let j= index" id="owl-slide-{{id}}-{{j}}">
                    <img class="d-block w-100 slider-img-store card-img boder-card-ecoommerce-image-style img-card-ecoommerce-image-style c" src="{{getImageProduct(im.image)}}" alt="">
                </ng-template>
            </owl-carousel-o>
            -->
        </div>

        <!--*ngIf="item.product_images.length < 2 || item.product_images.length == 0"-->
        <img class="card-img boder-card-ecoommerce-image-style img-card-ecoommerce-image-style n" *ngIf="imageArray.length == 1" src="{{getImageProduct(imageArray[0].image)}}">

        <div class="card-img-overlay">
            <div class="p-1 text-left  font-weight-light d-flex">
                <p *ngIf="products_unavailable==0" class="product-card-ecommerce-agotado">Agotado</p>
                <swtvap-heart-default [heart]="heart" [content_id]='"hover-icon-heart-"+direction+"-"+claseBtn' [product_id]='id'></swtvap-heart-default>
                <swtvap-share-default [link]='facebook' [content_id]='"toggle-"+direction+"-"+claseBtn'></swtvap-share-default>
            </div>
            <div class="d-flex position-absolute w-100 p-0 add-cart-card-ecommerce-image justify-content-end">

                <swtvap-cart-inicio-ecommerce-image class="" (emitEvent)="eventEmitCart($event)" [products_images_tag_visible]='products_images_tag_visible' [product_images]='imageArray' [products_tag_name]='tag_name' [splitTags]='splitTags' [content]='direction' [products_id]='id'
                    [type]='1' [subcategories_description]="subcategories_description" [products_unavailable]="products_unavailable" [product_type_sale_discount]="product_type_sale_discount" [product_type_sale_price]="product_type_sale_price" [product_type_sale_type]="product_type_sale_type"
                    [product_type_sale_stock]="product_type_sale_stock"></swtvap-cart-inicio-ecommerce-image>
            </div>
        </div>
    </div>
    <div class="card-body  p-0 ">

        <div *ngIf="products_images_tag_visible==1&&imageArray.length >= 2" class="mb-0 text-center card-body-content-ecommerce-image pb-0">
            <div class="btn-group">
                <div *ngFor="let im of imageArray;  let k= index" class=" rounded p-0 pr-1" [ngClass]="{'btn btn-first':im.type==0,'':im.type==1}">
                    <label for="tag{{id}}{{k}}t" class="mb-0 pl-1 pr-1" *ngIf="im.type==0">
            <input type="radio" id="tag{{id}}{{k}}t" name="tag{{id}}b" (change)="goSlide(k,$event)" [value]="im.description" [checked]="(k==0)?true:false" ><!--[ngClass]="'btn-first':"-->
            <span class="ml-2"> {{im.description}}</span>

          </label>
                    <label for="tag{{id}}{{k}}t" class="mb-0 pl-1 pr-1  d-flex justify-content-center align-items-center text-center position-relative" *ngIf="im.type==1">
            <input type="radio" id="tag{{id}}{{k}}t" name="tag{{id}}b" style="z-index: 9;" (change)="goSlide(k,$event)" [value]="im.description" [checked]="(k==0)?true:false" ><!--[ngClass]="'btn-first':"-->
            <span class=" rounded-circle-color  position-absolute" [attr.style]="'background:'+im.description"></span>
          </label>
                </div>
            </div>
        </div>

        <div *ngIf="splitTags.length>0" class="mb-0 card-body-content-ecommerce-image pb-0 text-center">
            <p class="mb-0" *ngIf="tag_name!=''&&tag_name!=null" style="color: var(--theme_color_background_text);">{{tag_name}}</p>
            <div class="btn-group">
                <label for="tag{{id}}{{k}}" class="mb-0 p-1  btn-sm  btn-outline-first tag" *ngFor="let tag of splitTags;  let k= index"><!--shadow-sm -->
          <input type="radio" id="tag{{id}}{{k}}" name="tag{{id}}" [value]="tag" [checked]="(k==0)?true:false" >
          <span class="ml-2">{{tag}}</span>
        </label>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-0 card-body-content-ecommerce-image pb-0">
            <p class="card-title cursor-pointer h5 font-weight-bold mb-0" (click)="goProducto(this,$event,products_url)">{{name}}</p>
            <a target="_blank" href="https://api.whatsapp.com/send?phone={{whatsapp}}&text={{name}}" class=" share__icon--whatsapp message-whatsapp-store">
                <i class="mdi mdi-whatsapp text-first "></i>
            </a>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-0 card-body-content-ecommerce-image pb-0">
            <div class="font-weight-bold color-black d-flex">
                {{(product_type_sale_stock==null||product_type_sale_stock=='')?0:product_type_sale_stock}} Und.
            </div>
            <div class="font-weight-bold color-black d-flex">
                S/{{product_type_sale_price | number : '.1-3'}} {{(product_type_sale_type=='unit')?'Und':product_type_sale_type}}.
            </div>
        </div>
        <div class="mb-0 text-right  d-flex justify-content-between card-body-content-ecommerce-image pt-0 pb-2">
            <div class="color-ecommerce-text">
                <a href="#" class="" data-toggle="modal" (click)="openComments()">
                    <!--(click)="showComments()" -->
                    <i class="mdi mdi-comment-text-outline"></i> <small> Ver comentarios </small>
                </a>
            </div>
            <small>
        <em class="color-ecommerce-text">Preguntar por whatsapp <i class="mdi mdi-arrow-up-bold"></i></em>
      </small>
        </div>
    </div>
</div>


<!--
    <div id="productComments" #productComments>
           
            
</div>

    inicio *ngIf="products_comments.length==0"
           <div *ngIf="products_comments.length==0" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        -->
<!--<img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1774ad0e5d6%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1774ad0e5d6%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.5390625%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                      --->
<!--
  <div class="media text-muted   d-flex flex-column "  [ngClass]="{'pt-3': i === 0}"  *ngFor="let item of products_comments; let i= index" >
                 
                      <p class="media-body pb-3 w-100 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">{{item.name}} - {{item.email}}</strong>
                        {{item.comment}}
                      </p>
                      <p *ngIf="item.response!=null&&item.response!=''" class="media-body pb-3 w-100 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">Respuesta:</strong>
                        {{item.response}}
                      </p>
                      <hr class="mb-0"/>
                    </div>
-->