<div class="modal-header">
    <h5 class="modal-title">Comentarios</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
        <div class="row">
          <div class="col-12  mb-2">
            <input type="text" name="name" #nameComment [ngClass]="{'d-none':user!=null}" [value]="user!=null?( user?.name):''" class="form-control" placeholder="Nombre">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12  mb-2">
            <input type="text" name="email" #emailComment  [ngClass]="{'d-none':user!=null}" [value]="user!=null?( user?.email):''" class="form-control" placeholder="Correo">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-12  mb-2">
            <input type="text"  name="celphone" #celphoneComment  [ngClass]="{'d-none':user!=null}" [value]="user!=null?( user?.celphone):''" class="form-control" placeholder="Celular">
          </div>
          <div class="col-12  mb-2">
            <textarea  name="comment" #textComment class="form-control" placeholder="Comentario"></textarea>
          </div>
          <div class="col-12  ">
            <button  class="btn btn-first btn-sm" (click)="addComment()">Agregar</button>
          </div>
        </div>
        <div>
            <!-- [ngClass]="{'pt-3': i === 0}" -->
          <div class="my-3  bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Comentarios Recientes</h6>
          
              <div class="media text-muted   d-flex flex-column " 
              
                *ngFor="let item of comments; let i= index" >
                      
                <p class="media-body pb-3 w-100 pt-2 mb-0 small lh-125 border-gray">
                  <strong class="d-block text-gray-dark">{{item.name}} - {{item.email}}</strong>
                  {{item.comment}}
                </p>
                <p *ngIf="item.response!=null&&item.response!=''" class="media-body pl-5 pb-3 w-100 mb-0 small lh-125 border-gray">
                  <strong class="d-block text-gray-dark">Respuesta:</strong>
                  {{item.response}}
                </p>
                <div class="border-bottom w-100"></div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <!--
 <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
  </div>
  -->
 