.box-color{
    width: 100%;
    height: 250px;
    border-style: solid;
    border-width: 2px;
}

.input-customizer{
    border-radius: 0px;
    /*max-width: 550px;*/
    height: 60px;
    font-size: 1.2rem;
    text-align: center;
}

.cart-secondary{
    position: relative;
    width: 95px;
    word-break: break-word;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
    width: 115px;
    height: 60px;
    display: grid;
}
.cart-secondary span{
    color: var(--theme_color_second_text)!important;
}

.select-option-fonts{
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px
}
.select-option-fonts:hover{
    background: var(--theme_color_first);
    color: var(--theme_color_first_text);
}
.select-ul-fonts{
    overflow-y: scroll; 
    height: 405px;
     display: block;
}