<div class="card mb-4">
    <div class="card-body">
        <h2>Id: {{ item.catalogId?item.catalogId:item.categoryId }}</h2>
        <p>Asociado: {{ item.relationship | statusRelationship }}</p>
        <p>Nombre: {{ item.name }}</p>
        <p *ngIf="item.code">C&oacute;digo: {{ item.code | uppercase }}</p>
        <p *ngIf="item.description">Descripci&oacute;n: {{ item.description }}</p>
        <p>Estado: {{ item.status | status }}</p>
        <p>
          <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
        </p>
    </div>
</div>
