<div id="STORE-DASHBOARD-ORDENES">
    <div class="alerts">

    </div>
    <!-- ============ Body content start ============= -->
    <div class="main-content">
        <div class="breadcrumb d-flex" style="justify-content: space-between;">
            <h1>Mis Ordenes </h1>
            <button id="startTourOrderBtn" class="btn btn-large btn-danger-2
                border-input"><i
                    class="mdi mdi-information-outline"></i> Ayuda</button>
        </div>
        <div class="separator-breadcrumb"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 m-auto col-12">
                <div class="card o-hidden mb-4" id="cardSubcategory">
                    <div class="card-header">
                        <p class="w-50 float-left card-title m-0">Tabla de Ordenes </p>
                        <div class="dropdown dropleft text-right w-50 float-right">
                            <button class="btn btn-first btn-color-settings" (click)="updateOrdenes(searchInput)" type="button">
                                Actualizar <i class="i-Repeat-3"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-12 col-12 col-xs-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">
                                            <i class="nav-icon dripicons-search"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" #searchInput placeholder="Busque nombre de cliente ...">
                                    <div class="input-group-append">
                                        <button class=" btn btn-danger-2" (click)="cleanTableOrders(searchInput)">
                                            Limpiar
                                        </button>
                                        <!--(keyup)="keyUpTableProducts(searchInput)"-->
                                        <button class=" btn btn-first" id="basic-addon2" (click)="searchTableOrders(searchInput)">
                                            Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-12 col-12 col-xs-12">
                            </div>
                            <div class="col-12 table-responsive">
                                <table class="table table-bordered text-center">
                                    <thead>
                                        <tr>
                                            <th class="d-none" scope="col">#</th>
                                            <th scope="col" class="width-td-small">N° Orden</th>
                                            <th scope="col" class="width-td-small">Fecha</th>
                                            <th scope="col" style="width: 220px">Nombre</th>
                                            <th scope="col" style="width: 220px">Dirección</th>
                                            <th scope="col">Ubicación</th>
                                            <th scope="col">Precio Total</th>
                                            <th scope="col" class="width-td-small">Estados de Entrega</th>
                                            <th scope="col" class="width-td-small">Estados del Pago</th>
                                            <th scope="col" class="width-td-small">Programación</th>
                                            <th scope="col" class="width-td-small">Estados de la Orden</th>
                                            <th scope="col" class=""></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let $value of $orders let j= index" data-id="{{$value.id}}">
                                            <td class="d-none">{{j+1}}</td>
                                            <!--(paginate.current_page*10)+-->
                                            <td class="width-td-small">
                                                <p class="mb-0" *ngIf="$value.code != null&&$value.code != ''&&$value.code != 0">
                                                    {{$value.code}}
                                                </p>
                                                <p class="mb-0" *ngIf="$value.code != null&&$value.code != ''&&$value.code != 0">
                                                    <button class="btn btn-link mt-2 btn-sm border-radius-15" (click)="numOrdenOpenModal($value.id)" data-toggle="modal" data-target="#numOrdenModal">
                                                        N° de Orden
                                                    </button>
                                                </p>
                                                <!--numOrdenModal-->
                                                <p class="mb-0" *ngIf="$value.code == null || $value.code == ''|| $value.code == 0">
                                                    {{j+1}}
                                                </p>
                                                <p class="mb-0" *ngIf="$value.code == null || $value.code == ''|| $value.code == 0">
                                                    <button class="btn btn-link mt-2 btn-sm border-radius-15" (click)="numOrdenOpenModal($value.id)" data-toggle="modal" data-target="#numOrdenModal">
                                                        N° de Orden<br> no asignada
                                                    </button>
                                                </p>
                                            </td>
                                            <td class="width-td-small">
                                                <div *ngIf="$value.date != null">
                                                    {{$value.date | date:'medium'}}
                                                </div>
                                                <div *ngIf="$value.date == null">

                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <p class="mb-1" *ngIf="$value.user_name != null">
                                                    {{$value.user_name }}
                                                </p>
                                                <p class="mb-1" *ngIf="$value.user_celphone != null">
                                                    <i class="mdi mdi-phone-outline"></i> {{$value.user_celphone }}
                                                </p>
                                                <p class="mb-1" *ngIf="$value.user_email != null">
                                                    <i class="mdi mdi-email-outline"></i> {{$value.user_email }}
                                                </p>
                                                <p class="mb-0" *ngIf="$value.user_document != null">
                                                    <i class="dripicons-user-id"></i> {{$value.user_document_type }} {{$value.user_document }}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0" *ngIf="$value.address != null">
                                                    Addr: {{$value.address }}
                                                </p>
                                                <p class="mb-0" *ngIf="$value.optional_address != null">
                                                    Ref: {{$value.optional_address }}
                                                </p>
                                                <p class="mb-0">
                                                    <a target="_blank" href="https://www.google.com/maps/place/{{($value.address).split(' ').join('+')}}">
                                                        <i class="mdi mdi-map-outline"></i> Ver en google maps</a>
                                                </p>
                                            </td>

                                            <td>
                                                <p class="mb-1" *ngIf="$value.country != null">
                                                    {{ $value.country }}
                                                </p>
                                                <p class="mb-1" *ngIf="$value.country_department != null">
                                                    {{ $value.country_department }}
                                                </p>
                                                <p class="mb-1" *ngIf="$value.country_province != null">
                                                    {{ $value.country_province }}
                                                </p>
                                                <p class="mb-0" *ngIf="$value.country_district != null">
                                                    {{ $value.country_district }}
                                                </p>
                                            </td>
                                            <td>
                                                <div *ngIf="$value.amount_total != null">
                                                    S/.{{ (($value.amount_total )) | number : '.1-3'}}
                                                </div>
                                            </td>
                                            <td class="width-td-small text-left status-order-td">
                                                <p class="mb-0 ">
                                                    <label class="w-100" for="collect_deliver{{j}}">Delivery</label>
                                                    <label class="switch  switch_ ml-2 mr-1">
                                                        <input type="radio" id="collect_deliver{{j}}" (change)="collectOnChange($value.id)" [checked]="($value.collect==0)?true:false" name="collect_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                                <p class="mb-0 ">
                                                    <label class="w-100" for="collect_store{{j}}">Recojo en Tienda</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="collect_store{{j}}" (change)="collectOnChange($value.id)" [checked]="($value.collect==1)?true:false" name="collect_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                            </td>
                                            <td class="width-td-small text-left status-order-td">
                                                <p class="mb-0 ">
                                                    <label class="w-100" for="pago_pagado{{j}}">Pagado</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="pago_pagado{{j}}" (change)="statusPayOnChange($value.id,1)" [checked]="($value.status_pay==1)?true:false" name="pay_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                                <p class="mb-0 ">
                                                    <label class="w-100" for="pago_no_pagado{{j}}">No Pagado</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="pago_no_pagado{{j}}" (change)="statusPayOnChange($value.id,2)" [checked]="($value.status_pay==2)?true:false" name="pay_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                                <p class="mb-0">
                                                    <label class="w-100" for="pago_deudo{{j}}">A deudo</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="pago_deudo{{j}}" (change)="statusPayOnChange($value.id,3)" [checked]="($value.status_pay==3)?true:false" name="pay_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>

                                                <p class="mb-2 mt-2" *ngIf="( $value.debt !=0&&$value.debt !=''&&$value.debt !=null)">
                                                    Deuda: S/.{{ (($value.debt )) | number : '.1-3'}}
                                                </p>

                                                <p class="mb-0">
                                                    <button class="btn btn-link btn-sm" (click)="debtOpenModal($value.id)" data-toggle="modal" data-target="#debtModal"><i class="fas fa-coins"></i> Agregar Deuda</button>
                                                </p>
                                            </td>
                                            <td class="width-td-small">
                                                <div *ngIf="$value.order_programmer_date_time !=null&&$value.order_programmer_date_time!=''">
                                                    <p class="mb-0" style="font-size: 2rem;"><i class="mdi mdi-av-timer"></i> </p>
                                                    <p class="mb-0">Programado</p>
                                                    <p class="mb-0"> {{$value.order_programmer_date_time | date:'medium'}}</p>
                                                </div>
                                                <div *ngIf="$value.order_programmer ==''||$value.order_programmer ==null">
                                                    <button class="btn btn-info-2 btn-sm border-radius-15" (click)="programmerOpenModal($value.id)" data-toggle="modal" data-target="#ProgrammerModal">
                                                        <i class="mdi mdi-av-timer"></i> Programar
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="text-left width-td-small status-order-td">
                                                <p class="mb-0 ">
                                                    <label class="w-100" for="orden_received{{j}}">Recibida</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="orden_received{{j}}" (change)="statusOrderOnChange($value.id,1)" [checked]="($value.status==1)?true:false" name="order_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                                <p class="mb-0 ">
                                                    <label class="w-100" for="orden_reviewed{{j}}">Revisada</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="orden_reviewed{{j}}" (change)="statusOrderOnChange($value.id,2)" [checked]="($value.status==2)?true:false" name="order_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                                <p class="mb-0">
                                                    <label class="w-100" for="orden_worker{{j}}">Asignada</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="orden_worker{{j}}" (change)="statusOrderOnChange($value.id,3)" [checked]="($value.status==3)?true:false" name="order_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                                <p class="mb-0">
                                                    <label class="w-100" for="orden_road{{j}}">En Camino</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="orden_road{{j}}" (change)="statusOrderOnChange($value.id,4)" [checked]="($value.status==4)?true:false" name="order_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>

                                                <p class="mb-0">
                                                    <label class="w-100" for="orden_finalizado">Finalizada</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="orden_finalizado" (change)="statusOrderOnChange($value.id,5)" [checked]="($value.status==5)?true:false" name="order_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                                <p class="mb-0">
                                                    <label class="w-100" for="orden_anulada{{j}}">Anulada</label>
                                                    <label class="switch switch_ ml-2 mr-1">
                                                        <input type="radio" id="orden_anulada{{j}}" (change)="statusOrderOnChange($value.id,6)" [checked]="($value.status==6)?true:false" name="order_status{{j}}[]"
                                                            style="    transform: scale(1.2);" >
                                                        <span class="slider round"></span>
                                                    </label>
                                                </p>
                                            </td>
                                            <td>
                                                <button class="btn btn-success-2 btn-sm border-radius-15 m-1 button-box" data-toggle="modal" data-target="#viewOrdenModal" (click)="viewOpenModal($value.id)">
                                                    <i class="dripicons-to-do "></i>
                                                </button>
                                                <!--<button class="btn btn-success-2 btn-sm border-radius-15 m-1 button-box"  >
                                                    <i class="dripicons-to-do "></i> viewOrdenModal
                                                </button>-->
                                                <button class="btn btn-success-2 btn-sm border-radius-15 m-1 button-box position-relative" data-toggle="modal" data-target="#descriptionModal" (click)="descriptionOpenModal($value.id)">
                                                    <i class="far fa-comment "></i> 
                                                    <span *ngIf="$value.description!=''||$value.comment!=''" class="badge badge-light position-absolute" style="right: 0;">1</span>
                                                </button>
                                                <button style="    font-size: 1rem;" class="btn btn-success-2 btn-sm border-radius-15 m-1 button-box" (click)="formToPayOpenModal($value.id,$value.payment_card_id)" data-toggle="modal" data-target="#formToPayModal">
                                                    <i class="mdi mdi-wallet-outline "></i>
                                                </button>
                                                <button [routerLink]="['/'+$stores_uri+'/dashboard/ordenes/edit/'+$value.id]" style="    font-size: 1.3rem;" class="btn btn-success-2 btn-sm border-radius-15 m-1 button-box">
                                                    <i  class="mdi mdi-lead-pencil"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="$orders.length<=0">
                                            <td COLSPAN=11>
                                                Aún no hay ordenes
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center pb-4" id="BUSQUEDA-PAGINATION">
                                <ngb-pagination (pageChange)="paginationChange($event)" [collectionSize]="paginate.total" [(page)]="paginate.current_page" [maxSize]="paginate.per_page" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="debtModal" role="dialog" aria-labelledby="debtModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--style="transform: translate(0, 160px);"-->
            <div class="modal-content  modal-sm m-auto" style="max-width: 300px;">
                <div class="modal-header">
                    <h5>Deuda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form1" class="needs-validation" novalidate>
                        <input name="id" class="d-none" type="text">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="recipient-name-2" class="col-form-label">
                                    Agregar deuda pendiente: 
                                    <span class="color-coral">
                                        <strong>(*)</strong>
                                    </span>
                                </label>
                                <input type="number" class="form-control border-radius-15" name="num_debt" maxlength="100">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-first btn-block ladda-button basic-ladda-button mt-2" id="btn-editar-categoria" style="font-size: 14px; " type="button" (click)="addDebt()" data-style="expand-left">
                                    <span class="ladda-label">Guardar</span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ProgrammerModal" role="dialog" aria-labelledby="ProgrammerModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--style="transform: translate(0, 160px);"-->
            <div class="modal-content  modal-sm m-auto" style="max-width: 300px;">
                <div class="modal-header">
                    <h5>Fecha y Hora de la Entrega</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form2" class="needs-validation" novalidate>
                        <input name="id" class="d-none" type="text">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="recipient-name-2" class="col-form-label">
                                    Agregar Fecha: 
                                    <span class="color-coral">
                                        <strong>(*)</strong>
                                    </span>
                                </label>
                                <input type="date" class="form-control border-radius-15" name="num_programmer" maxlength="100">
                                <small>Ejemplo: dd/mm/yyyy</small>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name-2" class="col-form-label">
                                    Agregar Hora: 
                                    <span class="color-coral">
                                        <strong>(*)</strong>
                                    </span>
                                </label>
                                <input type="time" class="form-control border-radius-15" name="num_time" maxlength="100">
                                <small>Ejemplo: __:__ </small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-first btn-block ladda-button basic-ladda-button mt-2" id="btn-editar-categoria" style="font-size: 14px; " type="button" (click)="addProgrammer()" data-style="expand-left">
                                    <span class="ladda-label">Guardar</span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="numOrdenModal" role="dialog" aria-labelledby="numOrdenModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--style="transform: translate(0, 160px);"-->
            <div class="modal-content  modal-sm m-auto" style="max-width: 300px;">
                <div class="modal-header">
                    <h5>Asignación N° Orden</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form3" class="needs-validation" novalidate>
                        <input name="id" class="d-none" type="text">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="recipient-name-2" class="col-form-label">
                                    N° de orden: 
                                    <span class="color-coral">
                                        <strong>(*)</strong>
                                    </span>
                                </label>
                                <input type="text" class="form-control border-radius-15" name="num_orden" maxlength="100">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-first btn-block ladda-button basic-ladda-button mt-2" id="btn-editar-categoria" style="font-size: 14px; " type="button" (click)="addNumOrden()" data-style="expand-left">
                                    <span class="ladda-label">Guardar</span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="descriptionModal" role="dialog" aria-labelledby="descriptionModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--style="transform: translate(0, 160px);"-->
            <div class="modal-content  modal-sm m-auto" style="max-width: 300px;">
                <div class="modal-header">
                    <h5>Descripción y/o Comentario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form4" class="needs-validation" novalidate>
                        <input name="id" class="d-none" type="text">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="recipient-name-2" class="col-form-label">
                                    Descripción de la Orden (Cliente): 
                                    <span class="color-coral">
                                        <strong>(*)</strong>
                                    </span>
                                </label>
                                <textarea class="form-control border-radius-15" rows="10" name="comment">

                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name-2" class="col-form-label">
                                    Comentario de la Orden (Negocio): 
                                    <span class="color-coral">
                                        <strong>(*)</strong>
                                    </span>
                                </label>
                                <textarea class="form-control border-radius-15" rows="10" name="description">

                                </textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-first btn-block ladda-button basic-ladda-button mt-2" id="btn-editar-categoria" style="font-size: 14px; " type="button" (click)="addComment()" data-style="expand-left">
                                    <span class="ladda-label">Guardar</span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="viewOrdenModal" role="dialog" aria-labelledby="viewOrdenModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="    max-width: 1505px;">
            <!--style="transform: translate(0, 160px);"-->
            <div class="modal-content ">
                <div class="modal-header">
                    <h5>Los productos de la Orden</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form5" class="needs-validation" novalidate>
                        <input name="id" class="d-none" type="text">
                        <div class="col-lg-12">
                            <div class="table-responsive" id="table_detail_products">
                                <table class="table table-bordered text-center" id="example-table">
                                    <thead>
                                        <tr>
                                            <!-- <th scope="col">#</th> -->
                                            <th scope="col">#</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Categoría<br>Subcategoría</th>
                                            <th scope="col">Tipo de Venta</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Unidad<br>Venta mínima<br>Stock</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Precio/Descuento</th>
                                            <th scope="col">SubTotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let $value of $order_details let j= index" data-id="{{$value.id}}">
                                            <td>{{j+1}}</td>
                                            <td>
                                                <p>{{$value.name}}</p>
                                                <!--placeholder-producto-200X200.png-->
                                                <img *ngIf="$value.image==null||$value.image==''" class="border-product-img" alt="" width="50px" height="50px" src="{{APP_URL}}assets/images/snapstore/placeholder-producto-200X200.png" />

                                                <img *ngIf="$value.image!=null&&$value.image!=''" class="border-product-img" alt="" width="50px" height="50px" src="{{ APP_AWS_SNAPSTOREPEPUBLIC }}{{$value.image_url}}" />
                                            </td>
                                            <td scope="col">
                                                <p class="mb-0">Categoría</p>
                                                <p class="mb-1"><strong>{{$value.category_name}}</strong></p>
                                                <p class="mb-0">Sub categoría</p>
                                                <p class="mb-0"><strong>{{$value.subcategory_name}}</strong></p>
                                            </td>
                                            <td>
                                                <div *ngFor="let $item of $value.product_type_sale let i= index">
                                                    <div *ngIf="$item.type == 'unit'">
                                                        <div class="product-border-unit mr-2 m-auto text-center">
                                                            <span class="font-weight-bold  p-2 m-1">Venta en Unidad</span>

                                                        </div>
                                                    </div>
                                                    <div *ngIf="$item.type == 'weight'">
                                                        <div class="product-border-unit mr-2 m-auto text-center">
                                                            <span class="font-weight-bold  p-2 m-1">Venta en Peso</span>

                                                        </div>
                                                    </div>
                                                </div>

                                            </td>

                                            <td>
                                                <p class="mb-0"><span class="font-weight-bold">{{$value.order_detail_quantity}}</span></p>
                                            </td>
                                            <td>
                                                <div *ngFor="let $item of $value.product_type_sale let y= index">
                                                    <div class="text-left" *ngIf="$item.weight_min_unit!=null">
                                                        <p class="mb-0">Unidad: <span class="font-weight-bold">{{ $item.weight_min_unit  }}</span></p>
                                                    </div>
                                                    <div class="text-left" *ngIf="$item.weight_min!=null">
                                                        <p class="mb-0">Mínimo: <span class="font-weight-bold">{{ $item.weight_min  }}</span></p>
                                                    </div>
                                                    <div class="text-left" *ngIf="$item.stock!=null">
                                                        <p class="mb-0">Stock: <span class="font-weight-bold">{{ $item.stock  }}</span></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <!--<td>{{$value.description | slice:0:50}}...</td>-->
                                            <td>
                                                <p>
                                                    <span ngif *ngIf="$value.status==1">Visible</span>
                                                    <span *ngIf="$value.status==0" class="badge badge-pill badge-warning p-2 m-1">No Visible</span>
                                                </p>

                                                <p>
                                                    <span ngif *ngIf="$value.unavailable==1">Agotado</span>
                                                    <span *ngIf="$value.unavailable==0" class="badge badge-pill badge-warning p-2 m-1">No Agotado</span>
                                                </p>
                                            </td>
                                            <td>
                                                <div class="product-border-unit mr-2 text-left" style="display: grid;">
                                                    <div *ngIf="$value.order_detail_discounted!= null">
                                                        <p class="mb-0">Precio: <span class="font-weight-bold">S/.{{ (($value.order_detail_price ))| number : '.1-3' }}</span></p>
                                                        <p class="mb-0">Descuento: <span class="font-weight-bold">{{ (($value.order_detail_discounted ))}}%</span></p>
                                                    </div>
                                                    <div *ngIf="$value.order_detail_discounted==null">
                                                        <p class="mb-0">Precio: <span class="font-weight-bold">S/.{{ (($value.order_detail_price ))  | number : '.1-3'}}</span></p>
                                                    </div>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="product-border-unit mr-2 text-left" style="display: grid;">
                                                    <div *ngIf="$value.order_detail_discounted!= null">
                                                        <p class="mb-0"><span class="font-weight-bold">S/.{{ (($value.order_detail_price - ($value.order_detail_price * $value.order_detail_discounted/100 ))*$value.order_detail_quantity) | number : '.1-3'}}</span></p>
                                                    </div>
                                                    <div *ngIf="$value.order_detail_discounted==null">
                                                        <p class="mb-0">Precio: <span class="font-weight-bold">S/.{{ (($value.order_detail_price )*$value.order_detail_quantity)  | number : '.1-3'}}</span></p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="$order_details.length<=0">
                                            <td COLSPAN=9>
                                                Aún no hay productos
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <h4>
                                    <em>Precio Total:</em> {{priceTotal($order_details) | number : '.1-3'}}
                                </h4>
                            </div>
                            <!--<div class="form-group">
                                <button class="btn btn-first btn-block ladda-button basic-ladda-button mt-2" 
                                    id="btn-editar-categoria" style="font-size: 14px; " type="button" (click)="addComment()" data-style="expand-left">
                                    <span class="ladda-label">Guardar</span>
                                    <span class="ladda-spinner"></span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            </div>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="formToPayModal" role="dialog" aria-labelledby="formToPayModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--style="transform: translate(0, 160px);"-->
            <div class="modal-content  modal-sm m-auto" style="max-width: 300px;">
                <div class="modal-header">
                    <h5>Forma de Pago del Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form6" class="needs-validation" novalidate>
                        <input name="id" class="d-none" type="text">
                        <div class="col-lg-12">
                            <div class="d-flex flex-column mb-4">
                                <div>
                                    <div class="d-flex  flex-wrap mt3 ">
                                        <div *ngFor="let item of store.payment_card; let i=index">
                                            <div *ngIf="item.type==0" class="mt-0 m-auto pb-1 cards-store-product-2">
                                                <label for="payment_type{{item.id}}" class="d-flex justify-content-center align-items-center">
                                                        <input type="radio" class=" "  name="payment_type" id="payment_type{{item.id}}" [checked]="true" [attr.data]="item.id">
                                                        <p class="mb-0 mt-0 ml-2 ">
                                                            <span>Pago en Efectivo</span>
                                                            <img *ngFor="let cd of item.payment; let i=index"  style="max-width: 95px;"  src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}"   class="w-100 ml-2">
                                                        </p>
                                            
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <div class="d-flex  flex-wrap flex-store-bottom-transferencia-default">
                                        <div *ngFor="let item of store.payment_card; let i=index" class="d-flex">
                                            <div *ngIf="item.type==1" class=" pt-0 pb-1 mt-0 m-auto cards-store-product">
                                                <label for="payment_type{{item.id}}" class="d-flex justify-content-center align-items-center">
                                                    <input type="radio"  id="payment_type{{item.id}}"  class=" "  name="payment_type" 
                                                    [attr.data]="item.id" >
                                                    
                                                    <p class="mb-0 mt-0 ml-2 ">
                                                        <img *ngFor="let cd of item.card; let i=index" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" style="    max-width: 95px;" class="d-block">
                                                        <span  *ngIf="item.name!=null  && item.name!=''" class="mt-1 mb-1"># Titular: {{  item.name }}</span>
                                                        <br/>
                                                        <span *ngIf="item.num_count!=null  && item.num_count!=''" class="mt-1 mb-1"># Cuenta: {{  item.num_count }}</span>
                                                        <br/>
                                                        <span  *ngIf="item.num_count_cci!=null  && item.num_count_cci!=''" class="mt-1 mb-1"># CCI: {{  item.num_count_cci }}</span>
                                                        
                                                    </p>
                                                </label>
                                                <p class="d-flex pr-1 pl-1 vm">
                                                    <span *ngIf="item.visa==1&& item.mastercard==0">Visa</span>
                                                    <span *ngIf="item.visa==1 && item.mastercard==1">Visa y Mastercard</span>
                                                    <span *ngIf="item.visa==0&& item.mastercard==1">Mastercard</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-wrap flex-store-bottom-apps-default">
                                    <div>

                                        <div class="d-flex items-center flex-wrap mt3 flex-store-bottom-default">
                                            <div *ngFor="let item of store.payment_card; let i=index">
                                                <div *ngIf="item.type==2" class=" pt-0 pb-1 mt-0 m-auto cards-store-product-3">
                                                    <label for="payment_type{{item.id}}" class="d-flex justify-content-center align-items-center">
                                                        <input type="radio"  id="payment_type{{item.id}}" class=" "  name="payment_type" [attr.data]="item.id"
                                                         >
                                                         <p class="mb-0 mt-0 ml-2 ">
                                                            <img *ngFor="let cd of item.payment; let i=index" style=" max-width: 80px" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" class="w-100">
                                                            <br/>
                                                            <span  *ngIf="item.name!=null  && item.name!=''" class="mt-1 mb-1"># Titular: {{  item.name }}</span>
                                                            <br/>
                                                            <span *ngIf="item.celphone!=null  && item.celphone!=''" class="mt-1 mb-1"># Celular: {{  item.celphone }}</span>

                                                        </p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap flex-store-bottom-apps-default">
                                    <div>
                                        <div class="d-flex items-center flex-wrap mt3 flex-store-bottom-default">
                                            <div *ngFor="let item of store.payment_card; let i=index" class="d-flex">
                                                <div *ngIf="item.type==3" class=" pt-0 pb-1 mt-0 m-auto  cards-store-product-3">
                                                    <label for="payment_type{{item.id}}" class="d-flex justify-content-center align-items-center">
                                                        <input type="radio"  id="payment_type{{item.id}}" class=" "  name="payment_type" [attr.data]="item.id" 
                                                        >
                                                        <p class="mb-0 mt-0 ml-2 ">
                                                            <img *ngFor="let cd of item.payment; let i=index" src="{{APP_URL}}assets/images/pagos/{{cd.image_url}}" style=" max-width: 100px;" class="w-100">
                                                            <br/>
                                                            <span  *ngIf="item.comision!=null  && item.comision!=''" class="mt-1 mb-1"># Comision: {{  item.comision }}%</span>
                                                           
                                                        </p>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-first btn-block ladda-button basic-ladda-button mt-2" (click)="updateFormToPay()" id="btn-editar-categoria" [ladda]="isLoadingUpdate" style="font-size: 14px; " type="button" data-style="expand-left">
                                        <span class="ladda-label">Actualizar Pago de Cliente</span>
                                        <span class="ladda-spinner"></span>
                                        <span class="ladda-spinner"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="form-group">
        <button class="btn btn-first btn-block ladda-button basic-ladda-button mt-2" 
            id="btn-editar-categoria" style="font-size: 14px; " type="button" (click)="addFormToPay()" data-style="expand-left">
            <span class="ladda-label">Guardar</span>
            <span class="ladda-spinner"></span>
            <span class="ladda-spinner"></span>
        </button>
    </div>-->