<!-- app-comment.component.html -->
<div *ngIf="comment.status==1" class="comment {{!comment.replyCommentId?'on-init':'on-continue'}}" [ngStyle]="{paddingBottom:'0px'}">
  <div class="position-absolute" style="right: 20px;">
    <button *ngIf="!product?.deletedAt" class=" btn btn-danger-2 btn-sm btn-block font-16px" (click)="delete(comment)">Eliminar</button>
    <p><strong>Fecha:</strong> {{ comment.commentAt | date }}</p>
  </div>
  <p><strong>Nombre:</strong> {{ comment.name }}</p>
  <p><strong>{{comment.type!='REPLY'?'Comentario:':'Respuesta:'}}</strong> {{ comment.comment }}</p>
  <p *ngIf="comment.deletedAt"><strong>Eliminaci&oacute;n Fecha:</strong> {{ comment.deletedAt | date }}</p>

  <!--
    <ng-container *ngIf="comment.replyCommentId && comment.type!='REPLY'">
      <ng-container *ngTemplateOutlet="responseForm; context: { comment: comment }"></ng-container>
    </ng-container>
  -->
  <!-- Renderizar comentarios hijos de manera recursiva -->
  <ul class="{{comment.children && !comment.replyCommentId ? 'on-children':''}}" *ngIf="comment.children && comment.children.length > 0">
    <li *ngFor="let childComment of comment.children">
      <app-comment [comment]="childComment"></app-comment>

    </li>
  </ul>
  <ng-container *ngIf="!comment.replyCommentId ">
    <ng-container *ngTemplateOutlet="responseForm; context: { comment: comment, product:product }"></ng-container>
  </ng-container>
</div>

<ng-template #responseForm let-comment="comment" let-product="product">
  <form  *ngIf="!product?.deletedAt" [formGroup]="itemForm" (ngSubmit)="add(comment)">
    <div [ngClass]="{'row': true}" [ngStyle]="{ marginTop:'10px'}">
      <div class="col-lg-12 ">
          <div class="form-group">
              <label for="name">Nombre:</label>
              <input type="text" class="form-control" id="name" formControlName="name">
          </div>
      </div>
      <div class="col-lg-12 ">
          <div class="form-group">
              <label for="comment">Respuesta:</label>
              <textarea rows="{{comment.replyCommentId?1:2}}" class="form-control" id="comment" formControlName="comment">
              </textarea>
          </div>
      </div>
      <div class="col-lg-12">
          <div class="form-group">
            <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Responder</button>
          </div>
      </div>
    </div>
  </form>
</ng-template>
