<div class="card mb-4">
  <div class="card-body">
      <h2>Id: {{ item.productId?item.productId:item.unitId }}</h2>
      <p>Asociado: {{ item.relationship | statusRelationship }}</p>
      <ng-container *ngIf="!(properties.type === typesEnum.PRODUCTS)">
        <p>Nombre de la Unidad: {{ item.unitName }}</p>
        <p>Abreviaci&oacute;n: {{ item.abbreviation }}</p>
        <p>Factor de Conversi&oacute;n: {{ item.conversionFactor }}</p>
      </ng-container>
      <ng-container *ngIf="(properties.type === typesEnum.PRODUCTS)">
        <p>Nombre: {{ item.name }}</p>
        <p>Direcci&oacute;n: {{ item.address }}</p>
        <p>Tel&eacute;fono: {{ item.phone }}</p>
        <p>Celular: {{ item.countryCode }}-{{ item.cellphone }}</p>
        <p>Correo: {{ item.email }}</p>
        <p>Whatsapp: {{ item.whatsapp | status }}</p>
        <p>Detalle: {{ item.details }}</p>
        <p>Otros Detalles: {{ item.otherDetails }}</p>
      </ng-container>
      <p>Estado: {{ item.status | status }}</p>
      <p>
        <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
      </p>
  </div>
</div>
