/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lato");

html,
body {
  font-family: "Lato", sans-serif, Arial, Helvetica, sans-serif !important;
}

:root {
  --theme_color_first: #0b09a5;
  --theme_color_first_text: #ffffff;

  --theme_color_second: #fb3366;
  --theme_color_second_text: #ffffff;

  --theme_color_background: #ffffff;
  --theme_color_background_text: #000;

  --icon_whatsapp: #4dc247;

  --border-radius: 15px;

  --theme_color_info: #003473;
  --theme_color_info_text: #ffffff;

  --theme_color_warning: #fec928;
  --theme_color_warning_text: #ffffff;

  --theme_color_danger: #f44336;
  --theme_color_danger_text: #ffffff;

  --theme_color_success: #009b37;
  --theme_color_success_text: #ffffff;

  --theme_color_light: #e9ecef;
  --theme_color_light_text: #000000;

  --wrapper-width: 185px;
}

span.badge.badge-danger {
  width: 100%;
  max-width: 180px;
  height: 35px;
  /* color: var(--white) !important; */
  font-weight: 100;
  line-height: 2;
  font-size: 12px;
  border-color: #f44336;
  border-style: solid;
  background: white;
}

input.app-pagination-input-search {
  max-width: 450px;
  float: right;
}

swtvap-ecommerce-products .swtvap-carousel-slider {
  .small-img{
    border-style: solid;
    border-width: 1px;
    border-color: #bfbfbf;
  }
  .carousel {
    height: 300px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

    img {
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }

    .arrow {
      width: 0.25em !important;
      height: 0.25em !important;
    }
  }
}