
<div class="{{showProduct?'': 'pt-4 pb-4 '}} container" [style]="{marginTop:showProduct?'':'2rem'}">
  <h2 *ngIf="!showProduct; else elseTitleBlock" class="text-center mb-4 mt-4" >{{ 'ecommerce.pages.cart.title' | translate }}</h2>
  <ng-template #elseTitleBlock>
    <h3 class="text-center mb-2 mt-1" >{{ 'ecommerce.pages.cart.title' | translate }}</h3>
  </ng-template>
  <div class="row {{showProduct?'flex-column ': ' mb-4 '}}">
    <div class="{{showProduct?'mb-3 ': 'col-lg-8 col-md-7'}}  col-12">
      <div class="card">
        <div class="d-flex justify-content-between align-items-center">
          <h4 *ngIf="!showProduct; else elseItemBlock" class="mt-2">
            <span>{{ 'ecommerce.pages.cart.items.item6' | translate:{text:cart.cartItemsList.length} }}</span>
          </h4>
          <ng-template #elseItemBlock>
            <h5 class="mt-2">
              <span>{{ 'ecommerce.pages.cart.items.item6' | translate:{text:cart.cartItemsList.length} }}</span>
            </h5>
          </ng-template>
          <button
            type="button"
            class="btn-list btn btn-xs btn-default btn-card-removeAll"
            (click)="emptyCart()"
            *ngIf="cart.cartItemsList && cart.cartTotal"
            >
              <i class="fa fa-trash"></i>
              <span class="ml-2">{{ 'ecommerce.pages.cart.removeAll' | translate }}</span>
          </button>
        </div>
        <div class="mb-2 pb-3 ">
          <ng-container *ngIf="cart && cart.cartItemsList">
            <div *ngFor="let item of cart.cartItemsList; let i = index" class="mb-2 store-item {{i===(cart.cartItemsList.length-1)?'':'bottom-line'}}">
              <div class="row">
                <div class="col-lg-3">
                    <img
                        class="image-store"
                        [src]="item?.product?.productImage"
                        [alt]="item?.product?.productName"
                    >
                </div>
                <div class="col-lg-9">
                  <div class="d-flex justify-content-between flex-column h-100">
                    <div class="mt-3 mt-lg-0 d-flex align-items-center justify-content-between">
                      <h4 *ngIf="!showProduct; else elseNameBlock" >$ {{ item?.name }}</h4>
                      <ng-template #elseNameBlock>
                        <h5>$ {{ item?.name }}</h5>
                      </ng-template>
                      <div>
                          <div
                          class="btn-quantity-container d-flex align-items-center justify-content-center"
                          style="gap:.5rem;">
                            <button
                              class="btn-quantity btn btn-default"
                              type="button"
                              (click)="changeQty(item?.pid, -1, '')"
                            >
                              -
                            </button>
                            <span class="p-quantiry">{{item?.qty}}</span>
                            <button
                              type="button"
                              class="btn-quantity btn btn-default"
                              (click)="changeQty(item?.pid, 1, '')"
                            >
                              +
                            </button>
                          </div>
                          <input
                            type="text"
                            class="form-control text-center d-none"
                            value="{{ item?.qty }}"
                            #qtyRef
                            (keyup)="changeQty(item?.pid, qtyRef.value, 'replace')"
                            title="Quantity"
                            hidden
                          />
                      </div>
                    </div>
                    <!--
                      <div class="list-store d-flex align-items-center justify-content-between">
                        <p>Hodie-B</p>
                        <p class="p-note">
                            <span>(</span>
                            <span>Note, 1 piece</span>
                            <span>)</span>
                        </p>
                    </div>
                    -->
                    <div class="list-store d-flex align-items-center justify-content-between">
                      <div class="d-flex gap-2">
                          <button
                              type="button"
                              class="btn-list btn btn-xs btn-default"
                              (click)="removeItem(item?.pid)"
                          >
                              <i class="fa fa-trash"></i>
                              <span class="ml-2">{{ 'ecommerce.pages.cart.items.item7' | translate }}</span>
                          </button>
                      </div>
                      <div class="d-flex">
                        <h5 *ngIf="!showProduct; else elsePriceBlock" >$ {{ item?.price }}</h5>
                        <ng-template #elsePriceBlock>
                          <h6>$ {{ item?.price }}</h6>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="{{showProduct?'': 'col-lg-4 col-md-5'}}  col-12">

      <div class="card">
        <h5 *ngIf="!showProduct; else elseTitleAmountBlock" >{{ 'ecommerce.pages.cart.totalAmountOf' | translate }}</h5>
        <ng-template #elseTitleAmountBlock>
          <h6>{{ 'ecommerce.pages.cart.totalAmountOf' | translate }}</h6>
        </ng-template>
        <div class="store-item mt-2">
            <div class="row m-0 bottom-line align-items-center justify-content-between">
              <p>{{ 'ecommerce.pages.cart.temporaryAmount' | translate }}</p>
              <p>${{ cart.cartTotal }}</p>
            </div>
            <div class="mt-2 row m-0">
                <div class="col-6 pl-0">
                    <p class="p-total-label text-left"><strong>{{ 'ecommerce.pages.cart.totalAmountOf' | translate }} <br/>{{ 'ecommerce.pages.cart.notIncludingMobility' | translate }}</strong></p>
                </div>
                <div class="col-6 pr-0">
                    <p class="p-total">${{ cart.cartTotal }}</p>
                </div>
            </div>
            <div class="mt-1 row m-0">
              <button
                  type="button"
                  class="w-100 btn btn-md btn-primary btn-block"
                  *ngIf="cart.cartItemsList && cart.cartTotal"
                  (click)="checkOut(); $event.preventDefault()"
              >
                {{ 'ecommerce.pages.cart.goToCheckout' | translate }}
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>