
<div>
    <form [formGroup]="itemForm" (ngSubmit)="add()">
      <h2>Agregar</h2>
      <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Asignar Producto:</label><br/>
                <button type="button" class="btn btn-first btn-sm mb-3" (click)="show()">{{!showProduct?'Ver': 'Ocultar'}} Producto(s)</button><br/>
                <swtvap-component-list-orders-details-products (selected)="addProduct($event)" *ngIf="showProduct && products.length" [data]="products">
                </swtvap-component-list-orders-details-products>
                <hr class="dropdown-divider">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="productName">Producto:</label>
                <input type="text" class="form-control {{!productName? 'ng-dirty ng-touched ng-invalid':''}}" id="productName" placeholder="{{productName}}" value="{{productName}}" disabled readonly>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="quantity">Cantidad:</label>
                <input type="text" [disabled]="disabledProduct" class="form-control" id="quantity" formControlName="quantity" appOnlyNumbersInput [OnlyNumber]="true">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="unitPrice">Precio x Unidad en Soles:</label>
                <input type="text" [disabled]="disabledProduct" class="form-control" id="unitPrice" formControlName="unitPrice" appAmountValidator>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="unitPriceUSD">Precio x Unidad en D&oacute;lares:</label>
                <input type="text" [disabled]="disabledProduct" class="form-control" id="unitPriceUSD" formControlName="unitPriceUSD" appAmountValidator>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="unitPriceEUR">Precio x Unidad en Euros:</label>
                <input type="text"[disabled]="disabledProduct"  class="form-control" id="unitPriceEUR" formControlName="unitPriceEUR" appAmountValidator>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="subtotal">SubTotal en Soles:</label>
                <input type="text" class="form-control" id="subtotal" formControlName="subtotal" appAmountValidator readonly>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="subtotalUSD">SubTotal en D&oacute;lares:</label>
                <input type="text" class="form-control" id="subtotalUSD" formControlName="subtotalUSD" appAmountValidator readonly>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="subtotalEUR">SubTotal en Euros:</label>
                <input type="text" class="form-control" id="subtotalEUR" formControlName="subtotalEUR" appAmountValidator readonly>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="discountPercentage">Descuento x Porcentaje:</label>
                <input type="text" [disabled]="disabledProduct" class="form-control" id="discountPercentage" formControlName="discountPercentage" appOnlyNumbersInput [OnlyNumber]="true">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="otherDetails">Otros Detalles:</label>
                <textarea rows="3" [disabled]="disabledProduct" class="form-control" id="otherDetails" formControlName="otherDetails">
                </textarea>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group d-flex">
                <label for="status">Estado:</label>
                <input type="checkbox" class="form-control" id="status" formControlName="status" >
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
              <button class="btn btn-success-2 mr-2" type="submit" [disabled]="itemForm.invalid">Agregar</button>
              <button type="button" class="btn btn-danger-2" (click)="revoke.emit()">Cancelar</button>
            </div>
        </div>
      </div>
      <ng-container *ngIf="!itemForm.valid">
        <p>¡Registro No Valido!</p>
      </ng-container>
    </form>
</div>
