<div class="not-found-wrap text-center text-{{color}}">
  <h1 class="text-60 text-{{color}}">
      {{status}}
  </h1>
  <p class="text-36 subheading mb-3 text-{{color}}">{{title}}</p>
  <p class="mb-5  text-muted-2 text-18 text-{{color}}">{{message}}</p>
  <swtvap-button-default [color]="buttonColor" [title]="buttonText" (click)="back()" [claseButton]="'m-1 btn-rounded btn-lg'" ></swtvap-button-default>
</div>
<!--
<swtvap-not-found [status]="'304'" [title]="'Error!'" [message]="'¡Lo siento! La p&aacute;gina que buscaba no existe.'" [color]="'primary'" [buttonColor]="'primary'" ></swtvap-not-found>

-->
