<div id="STORE-DASHBOARD-INICIO">

    <div class="spinner-store-block-white-dashboard " id="PRELOAD-DASHBOARD-INICIO"  [style.background]="store?.store_customizer_bootstrap[0].theme_color_first"  hidden>

    </div>
    <div class="alerts">

    </div>
    <!-- ============ Body content start ============= -->
    <div [ngClass]="{'d-block':preloadDashboard==true,'d-none':preloadDashboard==false}" class="main-content">
        <div class="breadcrumb d-flex" style="justify-content: space-between;">
            <h1>Inicio </h1>
            <button id="startTourBtn" class="btn btn-large btn-danger-2 border-input"><i class="mdi mdi-information-outline"></i> Ayuda</button>
        </div>
        <div class="separator-breadcrumb "></div>
        <div class="row">
            <div class="col-12">
                <div class="row mb-4">
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                        <div class="card o-hidden" id="VentaUltimoMes">
                            <div class="card-body">
                                <span class="text-28">S/{{ $amount_month_total }}</span>
                                <p class="text-small text-muted-2 m-0">Venta en el ultimo mes</p>
                                <div  class="echart-dashboard-inicio">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div class="d-flex justify-content-between mt-4">

                                    <div class="flex-grow-1">
                                        <span class="text-small">Nuevos clientes</span>
                                        <h5 class="m-0 font-weight-bold text-muted-2">{{ $user_news_month }}</h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="text-small">Mes pasado</span>
                                        <h5 class="m-0 font-weight-bold text-muted-2">S/{{ $amount_last_month_total }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                        <div class="card o-hidden" id="VentaUltimaSemana">
                            <div class="card-body">
                                <span class="text-28">S/{{ $amount_week_total }}</span>
                                <p class="text-small text-muted-2 m-0">Venta de la semana</p>
                                <div  class="echart-dashboard-inicio">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div class="d-flex justify-content-between mt-4">
                                    <div class="flex-grow-1">
                                        <span class="text-small">Nuevos clientes</span>
                                        <h5 class="m-0 font-weight-bold text-muted-2">{{ $user_news_week }}</h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="text-small">Semana pasada</span>
                                        <h5 class="m-0 font-weight-bold text-muted-2">S/{{ $amount_last_week_total }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                        <div class="card o-hidden" id="VentaUltimaDia">
                            <div class="card-body">
                                <span class="text-28">S/{{ $amount_day_total }}</span>
                                <p class="text-small text-muted-2 m-0">Venta del día</p>
                                <div  class="echart-dashboard-inicio">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div class="d-flex justify-content-between mt-4">
                                    <div class="flex-grow-1">
                                        <span class="text-small">Nuevos clientes</span>
                                        <h5 class="m-0 font-weight-bold text-muted-2">{{ $user_news_day }}</h5>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="text-small">Día anterior</span>
                                        <h5 class="m-0 font-weight-bold text-muted-2">S/{{ $amount_last_day_total }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                        <div class="card" id="InfoOrdenesVisitas">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <div class="ul-widget__content-v4 text-center  card-icon-bg">
                                            <i class="mdi mdi-eye text-success-2 font-size-3em"></i>
                                            <h3 class="t-font-boldest">{{ $views_totals }}</h3>
                                            <span>Visitas</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <div class="ul-widget__content-v4 text-center card-icon-bg">
                                            <i class="dripicons-to-do text-info-2 font-size-3em"></i>
                                            <h3 class="t-font-boldest">{{ $orders_totals }}</h3>
                                            <span>Ordenes Finalizadas</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <div class="ul-widget__content-v4 text-center card-icon-bg">
                                            <i class="dripicons-user-group text-warning-2 font-size-3em"></i>
                                            <h3 class="t-font-boldest">{{ $user_news_totals }}</h3>
                                            <span>Clientes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card o-hidden mb-4" id="UsuariosFinalizados">
                            <div class="card-body">
                                <div class="ul-widget__head __g-support v-margin  mb-4">
                                    <div class="ul-widget__head-label d-flex justify-content-between">
                                        <h3 class="ul-widget__head-title">
                                            Nuevos Clientes
                                        </h3>
                                        <a [routerLink]='["/", store?.stores_uri,"dashboard" ,"clientes"]' type="button" class="btn btn-outline-first border-radius-15 " >
                                            Todos los clientes
                                        </a>
                                    </div>
                                </div>
                                <div class="table-responsive">

                                    <table class="table table-bordered text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Celular</th>
                                                <th scope="col">Correo</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let $value of $users_news let j= index" >
                                                <th scope="row">{{ (j+1) }}</th>
                                                <td>{{ $value.name }}</td>
                                                <td>{{ $value.celphone }}</td>
                                                <td>{{ $value.email }}</td>
                                            </tr>
                                            <tr *ngIf="$users_news.length<=0">
                                                <td colspan="4">No se encontrarón nuevos clientes</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
                        <div class="card" id="OrdenesFinalizadas">
                            <div class="card-body">
                                <div class="ul-widget__head __g-support v-margin">
                                    <div class="ul-widget__head-label d-flex justify-content-between">
                                        <h3 class="ul-widget__head-title">
                                            Ordenes Finalizadas
                                        </h3>

                                        <a [routerLink]='["/", store?.stores_uri,"dashboard" ,"ordenes"]' type="button" class="btn btn-outline-first border-radius-15 " >
                                            Todas las ordenes
                                        </a>
                                    </div>
                                    <hr/>

                                </div>
                                <div class="ul-widget__body">
                                    <div class="ul-widget6">
                                        <div class="ul-widget6__head">
                                            <div class="ul-widget6__item mt-4">
                                                <span>Fecha</span>
                                                <span>Cantidad</span>
                                                <span>Monto</span>
                                            </div>
                                        </div>
                                        <div class="ul-widget6__body">
                                            <div *ngFor="let $value of $amount_order_totals let j= index">
                                                <hr/>
                                                    <div  class="ul-widget6__item">
                                                        <span>{{ $value.day }}</span>
                                                        <span>{{ $value.count }}</span>
                                                        <span class="t-font-boldest text-success-2">S/{{ $value.amount_total }}</span>
                                                    </div>

                                            </div>

                                            <div *ngIf="$amount_order_totals.length<=0" class="ul-widget6__item justify-content-center">
                                                No se han encontrado ordenes realizadas
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <!-- end of row-->

        <div class="modal fade bd-example-modal-lg" id="detailOrdersModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Detalle(s) de la Orden</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body pt-0">
                        <ul class="mt-2" id="UserOrderList">

                        </ul>

                        <div class="table-responsive" id="table_detail_products">

                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" colspan="2">Producto</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer Start -->
</div>
