<div id="STORE-DASHBOARD-INICIO">
    <div class="alerts">

    </div>
    <!-- ============ Body content start ============= -->
    <div class="main-content">
        <div class="breadcrumb d-flex" style="justify-content: space-between;">
            <h1>Inicio </h1>
        </div>
        <div class="separator-breadcrumb "></div>
        <div class="row">
            <div class="col-12">
                <div class="row mb-4">
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                        <div class="card o-hidden" id="VentaUltimoMes">
                            <div class="card-body">
                                <p class="text-small text-muted-2 m-0">Venta en el &uacute;ltimo a&ntilde;o en soles</p>
                                <div class="d-flex justify-content-start">
                                  <span class="text-28 mr-3">S/{{ $amount_year_total | addZeros }}</span>
                                </div>
                                <div  class="echart-dashboard-inicio">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div class="d-flex justify-content-between mt-4">
                                    <div class="flex-grow-1">
                                        <span class="text-small">A&ntilde;o pasado</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                  <h5 class="m-0 font-weight-bold text-muted-2 mr-3">
                                    S/{{ $amount_last_year_total | addZeros }}
                                  </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                        <div class="card o-hidden" id="VentaUltimoMes">
                            <div class="card-body">
                                <p class="text-small text-muted-2 m-0">Venta de los &uacute;ltimos seis meses en soles</p>
                                <div class="d-flex justify-content-start">
                                  <span class="text-28 mr-3">S/{{ $amount_month_six_total | addZeros }}</span>
                                </div>
                                <div  class="echart-dashboard-inicio">
                                    <i class="fas fa-chart-line"></i>
                                </div>

                                <div class="d-flex justify-content-between mt-4">
                                  <div class="flex-grow-1">
                                      <span class="text-small">Seis meses anteriores</span>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                  <h5 class="m-0 font-weight-bold text-muted-2 mr-3">
                                    S/{{ $amount_last_month_six_total | addZeros }}
                                  </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                        <div class="card o-hidden" id="VentaUltimoMes">
                            <div class="card-body">
                                <p class="text-small text-muted-2 m-0">Venta en el &uacute;ltimo mes en soles</p>
                                <div class="d-flex justify-content-start">
                                  <span class="text-28 mr-3">S/{{ $amount_month_total | addZeros }}</span>
                                </div>
                                <div  class="echart-dashboard-inicio">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div class="d-flex justify-content-between mt-4">
                                  <div class="flex-grow-1">
                                      <span class="text-small">Mes pasado</span>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                  <h5 class="m-0 font-weight-bold text-muted-2 mr-3">
                                    S/{{ $amount_last_month_total | addZeros }}
                                  </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                      <div class="card o-hidden" id="VentaUltimoMes">
                          <div class="card-body">
                              <p class="text-small text-muted-2 m-0">Venta en el &uacute;ltimo a&ntilde;o en d&oacute;lares</p>
                              <div class="d-flex justify-content-start">
                                <span class="text-28 mr-3">$/{{ $amount_year_totalUSD | addZeros }}</span>
                              </div>
                              <div  class="echart-dashboard-inicio">
                                  <i class="fas fa-chart-line"></i>
                              </div>
                              <div class="d-flex justify-content-between mt-4">
                                  <div class="flex-grow-1">
                                      <span class="text-small">A&ntilde;o pasado</span>
                                  </div>
                              </div>
                              <div class="d-flex justify-content-start">
                                <h5 class="m-0 font-weight-bold text-muted-2 mr-3">
                                  $/{{ $amount_last_year_totalUSD | addZeros }}
                                </h5>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                        <div class="card o-hidden" id="VentaUltimoMes">
                            <div class="card-body">
                                <p class="text-small text-muted-2 m-0">Venta de los &uacute;ltimos seis meses en d&oacute;lares</p>
                                <div class="d-flex justify-content-start">
                                  <span class="text-28 mr-3">$/{{ $amount_month_six_totalUSD | addZeros }}</span>
                                </div>
                                <div  class="echart-dashboard-inicio">
                                    <i class="fas fa-chart-line"></i>
                                </div>

                                <div class="d-flex justify-content-between mt-4">
                                  <div class="flex-grow-1">
                                      <span class="text-small">Seis meses anteriores</span>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                  <h5 class="m-0 font-weight-bold text-muted-2 mr-3">
                                    $/{{ $amount_last_month_six_totalUSD | addZeros }}
                                  </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12  mb-4">
                        <div class="card o-hidden" id="VentaUltimoMes">
                            <div class="card-body">
                                <p class="text-small text-muted-2 m-0">Venta en el &uacute;ltimo mes en d&oacute;lares</p>
                                <div class="d-flex justify-content-start">
                                  <span class="text-28 mr-3">$/{{ $amount_month_totalUSD | addZeros }}</span>
                                </div>
                                <div  class="echart-dashboard-inicio">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div class="d-flex justify-content-between mt-4">
                                  <div class="flex-grow-1">
                                      <span class="text-small">Mes pasado</span>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                  <h5 class="m-0 font-weight-bold text-muted-2 mr-3 ">
                                    $/{{ $amount_last_month_totalUSD | addZeros }}
                                  </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                        <div class="card" id="InfoOrdenesVisitas">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <div class="ul-widget__content-v4 text-center  card-icon-bg">
                                            <i class="mdi mdi-alpha-p-box text-success-2 font-size-3em"></i>
                                            <h3 class="t-font-boldest">{{ $product_news_totals }}</h3>
                                            <span>Productos</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <div class="ul-widget__content-v4 text-center card-icon-bg">
                                            <i class="dripicons-to-do text-info-2 font-size-3em"></i>
                                            <h3 class="t-font-boldest">{{ $order_news_totals }}</h3>
                                            <span>&Oacute;rdenes</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <div class="ul-widget__content-v4 text-center card-icon-bg">
                                            <i class="dripicons-user-group text-warning-2 font-size-3em"></i>
                                            <h3 class="t-font-boldest">{{ $user_news_totals }}</h3>
                                            <span>Clientes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card o-hidden mb-4" id="UsuariosFinalizados">
                            <div class="card-body">
                                <div class="ul-widget__head __g-support v-margin">
                                    <div class="ul-widget__head-label d-flex justify-content-between">
                                        <h3 class="ul-widget__head-title">
                                            Nuevos Clientes (&uacute;ltimos 10)
                                        </h3>

                                        <a [routerLink]="['/admin/dashboard/clients']" type="button" class="btn btn-outline-first border-radius-15 " >
                                            Todos los clientes
                                        </a>
                                    </div>
                                    <hr/>

                                </div>
                                <div class="table-responsive" style="max-height: 400px;">
                                    <table class="table table-bordered text-center" >
                                      <caption>Tabla de Clientes</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Celular</th>
                                                <th scope="col">Correo</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let $value of $users_news let j= index">
                                                <th scope="row">{{ (j+1) }}</th>
                                                <td>{{ $value.name }}</td>
                                                <td>{{ $value.cellphone }}</td>
                                                <td>{{ $value.email }}</td>
                                            </tr>
                                            <tr *ngIf="$users_news.length<=0">
                                                <td colspan="4">No se encontrar&oacute;n nuevos clientes</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
                        <div class="card" id="OrdenesFinalizadas">
                            <div class="card-body">
                                <div class="ul-widget__head __g-support v-margin">
                                    <div class="ul-widget__head-label d-flex justify-content-between">
                                        <h3 class="ul-widget__head-title">
                                            &Oacute;rdenes (&uacute;ltimos 10)
                                        </h3>

                                        <a [routerLink]="['/admin/dashboard/orders']"  type="button" class="btn btn-outline-first border-radius-15 " >
                                            Todas las &oacute;rdenes
                                        </a>
                                    </div>
                                    <hr/>

                                </div>
                                <div class="table-responsive" style="max-height: 400px;">
                                    <table class="table table-bordered text-center" >
                                      <caption>Tabla de &oacute;rdenes</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Celular</th>
                                                <th scope="col">Correo</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let $value of $orders_news let j= index">
                                                <th scope="row">{{ (j+1) }}</th>
                                                <td *ngIf="$value.clientId">{{ $value.client?.name }}</td>
                                                <td>{{ $value.code }}</td>
                                                <td>{{ $value.orderDate | date }}</td>
                                            </tr>
                                            <tr *ngIf="$orders_news.length<=0">
                                                <td colspan="4">No se encontraron nuevas &oacute;rdenes</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end of row-->
    </div>
  <!-- Footer Start -->
</div>
