
<div class="">
    <!--<div  [style.background]="theme_color_info"  class="container  card d-block card-bottom-navbar-default px-3 justify-content-between pt-2 text-center d-flex text-bold text-first bottom-navbar-store" >
        <button type="button" class="close close-navbar-default" (click)="closeCart()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="d-flex justify-content-around align-items-center">
            
        </div>
    </div>-->
    <div class=" btn-cart-container-store d-flex flex-column">
        <small class="txt-white font-weight-bold">S/.{{price}}</small>
        <a class="btn-second text-first mt-auto cursor-pointer  btn-cart-store"  (click)="addCart()">
            <i class="mdi mdi-cart-outline" ></i> 
        </a>
    </div>
</div>
<!--

     <a class="btn btn-secondary border-input ml-2 btn-sm btn-bolsa-store"  href="{{url}}/carrito">
        <div class="d-flex">
            <img class="img-center-55 d-block mr-3" src="{{APP_URL}}assets/images/icons/BOLSA_DE_COMPRAS.svg" style="height: 35px;">
            <div class="img-part-div">
                <span class="d-block">Mi bolsa</span>
                <span class="txt-yellow txt-font-yellow-bag carrito-monto-total">S/.28.00</span>
            </div>
        </div>           
    </a>
-->